.header-page {
    position: relative;
    padding: 0 20px;
    height: 60px;
    background: #fff;
    z-index: 10;
}
.header-page,
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-page .btn-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 20px;
}
.box-type2 dl.uplus-benefit,
.header-page a,
.mno-btn-box .carriers .item {
    display: block;
}
.ico-back {
    background-image: url(https://www.freet.co.kr/assets/images/icon/back.svg);
}
.ico-back {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-page .page-title.v2 {
    font-size: 15px;
}
.header-page .page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 600;
    width: calc(100% - 110px);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
#content.bottom {
    padding-bottom: 126px;
}
#content {
    padding: 30px 0 80px;
}
.plan-detail {
    margin-top: -30px;
}
.plan-detail .plan-infomation {
    background: #f1f3fb;
    padding: 30px 20px;
}
.plan-detail .plan-infomation .plan-box {
    margin-top: 19px;
}
.plan-title {
    margin-top: 25px;
}
.plan-detail .plan-infomation .plan-box .plan-title .title {
    color: #111;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}
.plan-detail .plan-infomation .bottom-box .box-type2 dl dt,
.plan-detail .plan-infomation .plan-box .plan-title .desc {
    color: #343434;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.67;
}
.plan-detail .plan-infomation .bottom-box .box-type2 .box-title dl dd {
    text-align: right;
    color: #9a9a9a;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.67;
}
.plan-detail .plan-infomation .bottom-box .box-type2 dl dd {
    text-align: left;
    margin-left: 10px;
    color: #7a7a7a;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.67;
}
.plan-detail .plan-infomation .bottom-box .box-type2 .box-title dl dt strong {
    font-size: 15px;
    font-weight: 700;
}
.border {
    margin-top: 10px;
    width: 100%;
    height: 0.5px;
    background-color: #dbdbdb;
}
.plan-detail .plan-infomation .plan-box .plan-title .desc {
    margin-top: 5px;
}
.plan-detail .plan-infomation .plan-box .box-type3 {
    margin-top: 30px;
}
.box-type3,
.box-type3 .box-item {
    display: flex;
}
.box-type3 {
    flex-direction: column;
}
.box-type3,
.plan-detail .plan-infomation .plan-box .box-type3 .box-item .box-img-wrapper {
    padding-top: 4px;
}
.ico-call3 {
    width: 16px;
    height: 17.5px;
    display: inline-block;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #8a93b4;
    background-image: url(/static/images/mobile-detatilRequest/ico-user2.svg);
}
.box-title {
    margin-top: 4px;
}
.ico-message2 {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.freet.co.kr/assets/images/icon/message2.svg);
}

.ico-data2 {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.freet.co.kr/assets/images/icon/data2.svg);
}

.box-type3 .box-item + .box-item,
.box-type4 {
    margin-top: 20px;
}
.board-type2-wrap .board-type2#inf_01 > .content > .title,
.plan-detail
    .plan-infomation
    .plan-box
    .box-type3
    .box-item
    .box-content
    .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
}
.box-type3 .box-item .box-content h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.plan-detail .plan-infomation .plan-box .box-type3 .box-item .box-content p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    margin-block-start: 0.1em;
}
.box-type3 .box-item .box-content p {
    font-size: 14px;
    text-align: left;
}
.plan-detail .plan-infomation .plan-price {
    margin-top: 25px;
    text-align: center;
}
.plan-detail .plan-infomation .plan-price .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.56;
    margin-bottom: 10px;
}

.plan-detail .plan-infomation .plan-price .price .focus em {
    font-size: 28px;
}
.plan-detail .plan-infomation .bottom-box {
    margin-top: 10px;
}
.plan-detail .plan-infomation .bottom-box .box-type2 {
    background: #fff;
    padding: 15px 20px;
    border-radius: 20px;
    border: 0;
}
.box-type2 dl {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 15px;
    margin-top: 15px;
}
.box-type3 dl {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 15px;
}
.box-type .desc,
.box-type2 dl {
    line-height: 1.6;
}

.box-type2 dl dt {
    width: 110px;
    color: #94949a;
}
.box-type2 dl + dl {
    margin-top: 10px;
}
.box-type2 .box-title dl dd {
    width: calc(100% - 110px);
}
.box-type3 .box-item dl dd {
    margin-left: 20px;
    align-items: left;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plan-detail .plan-infomation .flag-wrap .flag-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}
.plan-detail .plan-infomation .flag-wrap .flag-box .ico-lgu {
    width: 29px;
    height: 25px;
    margin-top: -5px;
}
.box-type4 .box-content .box-footer .title span.price,
.chk-box label em.focus,
.focus,
.select-type.disabled select,
.select-type.selected select {
    color: #f0543a;
}
.plan-detail .plan-content {
    padding: 0 20px;
}
.btn-fixed-wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 10;
}
.btn-fixed-wrap .bottom-gra {
    position: relative;
}
.btn-fixed-wrap .bottom-gra:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 100%);
}
.plan-detail .plan-content .btn-fixed-wrap .btn-wrap,
.plan-detail .plan-content .plan-benefit .box-type3 .box-item .box-content {
    position: relative;
}
.btn-fixed-wrap .btn-wrap,
.btn-fixed-wrap .btn-wrap-col {
    padding: 0 20px 20px;
    margin-top: 0;
}
.btn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
/* 이게 뭐임?? */
.plan-detail .plan-content .btn-fixed-wrap .msg-tip {
    position: absolute;
    left: 10px;
    top: -50px;
}
/*  */
.btn-wrap [class^="btn-type"]:nth-child(n + 2) {
    margin-left: 10px;
}
.btn-type-sm:hover,
.btn-type:hover,
.kakao-plus-event-container .open-url-btn:hover {
    background: #e2391d;
}
.btn-wrap [class^="btn-type"],
.tab-type li,
.tab-type2 li {
    width: 100%;
}
.btn-type,
.btn-type-sm,
.kakao-plus-event-container .open-url-btn {
    background: #f0543a;
    color: #fff;
}
.btn-type,
.btn-type-sm,
.btn-type2,
.kakao-plus-event-container .open-url-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    font-weight: 600;
    width: 100%;
    transition: background 0.2s ease;
}
.btn-type,
.btn-type2 {
    height: 56px;
    font-size: 16px;
}
.plan-detail .plan-content .plan-benefit-wrap {
    display: flex;
    align-items: center;
}
.plan-detail .plan-content .plan-benefit-wrap .plan-benefit:first-child {
    order: 5;
}
.plan-detail .plan-content .plan-benefit,
.plan-detail .plan-content .plan-tab {
    margin-top: 50px;
}
.plan-detail .plan-content .plan-benefit .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    margin-bottom: 20px;
}

.box-type3 {
    flex-direction: column;
}
.box-item {
    display: flex;
    align-items: center;
}
/* 여기서부터 보기 */
.box-item .box-content {
    margin: 0 auto;
}
.plan-detail .plan-content .btn-fixed-wrap .btn-wrap,
.plan-detail .plan-content .plan-benefit .box-type3 .box-item .box-content {
    position: relative;
}
.box-type3 .box-item .box-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 10px;
}
.ico-plan-01 {
    display: inline-block;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.freet.co.kr/assets/images/icon/plan-01.svg);
}
.plan-detail
    .plan-content
    .plan-benefit
    .box-type3
    .box-item
    .box-content
    .caption,
.self-button-center.v2 button.btn-type {
    font-size: 13px;
}
.plan-detail
    .plan-content
    .plan-benefit
    .box-type3
    .box-item
    .box-content
    .caption
    + .caption,
.self_pop .box-type3.v2 .box-item .box-content p {
    margin-top: 3px;
}
.plan-detail
    .plan-content
    .plan-benefit
    .box-type3
    .box-item
    .box-content
    .caption,
.self-button-center.v2 button.btn-type {
    font-size: 13px;
}
.box-type3 .box-item .box-content p {
    font-size: 14px;
    text-align: left;
    margin-left: 50px;
}
.plan-detail .plan-content .plan-tab {
    margin-top: 50px;
}
li.active a {
    background: #3f4970;
    color: #fff;
}
.tab-type {
    display: flex;
    background: #f1f3fb;
    border-radius: 21px;
}
.tab-type li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    border-radius: 21px;
    font-size: 13px;
    font-weight: 600;
    transition: all 150ms;
}
.plan-top {
    display: flex;
}
.plan-top .tag-box {
    /* position: absolute; */
    left: 0px;
    top: 0px;
}
.plan-top .tag-box .tag-type2 {
    height: 22px;
    padding: 0 6px;
    font-size: 12px;
    border-radius: 6px;
    background: #ffff;
    color: #343434;
}
.tag-type,
.tag-type2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8.5px;
    height: 25px;
    border-radius: 13px;
    background: #f1f3fb;
    color: #3f4970;
    font-size: 13px;
    font-weight: 600;
}
.status-light {
    background-color: #664af1;
    margin-right: 4px;
    color: #fff;
}

.status-standard {
    background-color: #ec464d;
    margin-right: 4px;
    color: #fff;
}

.status-premium {
    background-color: #f251ab;
    margin-right: 4px;
    color: #fff;
}
.flag-type {
    height: 22px;
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
div span {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.63;
    color: #343434;
}

.tag-type,
.tag-type5,
.tag-type2,
.tag-type4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8.5px;
    height: 25px;
    border-radius: 13px;
    background: #f1f3fb;
    color: #3f4970;
    font-size: 13px;
    font-weight: 600;
}
.delivery-price {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 10px;
}
.delivery-price span {
    margin-top: 20px;
    font-weight: 800;
    font-size: 15px;
    color: #f0543a;
}
