* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    word-break: break-all;
}
*,
::after,
::before {
    box-sizing: border-box;
}
html {
    display: block;
}
body {
    top: 0 !important;
}
body {
    background-color: #fff;
}
body {
    line-height: 1.25;
    font-family: "SUIT";
    font-size: 15px;
    color: #111;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
address,
caption,
em,
i,
var {
    font-style: normal;
    font-weight: inherit;
}
ol,
ul {
    list-style: none;
}
img {
    border: 0;
    vertical-align: top;
    width: 100%;
}
button {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    font-family: "SUIT", sans-serif;
    color: inherit;
}
select,
input,
textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    border: 0;
    font-family: "SUIT", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 600;
    font-size: 15px;
    color: inherit;
}
.main {
    margin-top: 10px;
}
.main [class^="article"] {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
}
/* 지역 선택 */

.container .form-flex-wrap2 {
    margin-top: 30px;
}
.container .form-flex-wrap2 .select-type2 {
    display: inline-block;
    width: calc(50% - 5px);
}
.select-type,
.select-type2 {
    position: relative;
    width: 100%;
}
.select-type2 .nice-select {
    background: #f4f4f4;
    font-size: 15px;
    height: 56px;
    line-height: 56px;
    border-radius: 12px;
}
.select-type2 .nice-select .option.focus,
.select-type2 .nice-select .option.selected.focus,
.select-type2 .selected + .nice-select .current,
.select-type2.disabled select,
.select-type2.is-invalid .nice-select .current,
.select-type2.selected select {
    color: #111;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 600;
    line-height: 34px;
    list-style: none;
    min-height: 34px;
    outline: none;
    padding: 0 20px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.select-type2 .nice-select:after {
    width: 20px;
    height: 20px;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow8.svg);
}
.nice-select:after {
    content: "";
    display: block;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.select-type2 .nice-select:after {
    width: 20px;
    height: 20px;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow8.svg);
}
.nice-select.open:after {
    transform: rotate(-180deg);
}
.nice-select:after {
    content: "";
    display: block;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
/*  수거 예정/ 수거 완료 */
.tab-wrap {
    margin-top: 50px;
    margin-bottom: 30px;
}
.tab-type {
    display: flex;
    background: #f1f3fb;
    border-radius: 21px;
}
.tab-type li {
    width: 100%;
}
.tab-type li.active a {
    background: #3f4970;
    color: #fff;
}
.tab-type li a,
.tab-type li label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    border-radius: 21px;
    font-size: 13px;
    font-weight: 600;
    color: #3f4970;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}
/*  */
.container .form-flex-wrap2 .select-type2 + .select-type2 {
    margin-left: 6px;
}

.select-type2 .nice-select.open {
    background-color: #ffebe8;
    border-color: #ff8c79;
}

.select-type2 .nice-select.open .list {
    transform: translateY(8px);
    max-height: 240px;
    padding: 10px 0;
    z-index: 11;
}
.select-type2 .nice-select .list {
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
}

/* 카테고리 제목 */
.main [class^="article"] .main-title {
    margin-bottom: 15px;
}
.main [class^="article"] .main-title .title-type {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}
/* 카테고리-토글 */
.filter-wrap {
    width: 100%;
    margin-top: 20px;
    position: relative;
}
/* .filter-wrap.open ul {
    overflow: hidden;

    padding-right: 20px;
    white-space: normal;
} */
.filter-wrap ul {
    overflow-x: hidden;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding-right: 30px;
}
.filter-wrap .js_toggle2 li {
    display: inline-block;
    margin-right: 4px;
    margin-top: 20px;
}
.filter-wrap ul li.active a {
    border-color: #ffc2b8;
    background: #ffebe8;
    color: #f0543a;
}
.filter-wrap ul li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid #e3e3e3;
    height: 32px;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
    color: #343434;
}
/* #wrap::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 3px;
}
.select-type2 .nice-select .list::-webkit-scrollbar {
    background-color: #8a93b4;
    border: 6px solid #fff;
    border-radius: 12px;
}
::-webkit-scrollbar-horizontal {
    height: 3px; /* 스크롤 바의 높이 */
/* background-color: #8a93b4; 스크롤 바의 배경색 */
/* } */
.select-type2 .nice-select .list::-webkit-scrollbar {
    display: block;
    width: 20px;
}
::-webkit-scrollbar {
    display: none;
    width: 2px;
    height: 2px;
}
.select-type2 .nice-select .list::-webkit-scrollbar-thumb {
    background-color: #8a93b4;
    border: 7px solid #fff;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb {
    background: #8a93b4;
}
.select-type2 .nice-select .list::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background: #e3e3e3;
}

/* .filter-wrap .btn-open {
    position: absolute;
    top: 6px;
    right: 0;
    z-index: 1;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow8.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out;
}
.filter-wrap:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 32px;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0,
        #fff 31%
    );
} */
/* 지역 선택 */

.container .form-flex-wrap2 {
    margin-top: 30px;
}
.container .form-flex-wrap2 .select-type2 {
    display: inline-block;
    width: calc(50% - 5px);
}
.select-type,
.select-type2 {
    position: relative;
    width: 100%;
}
.select-type2 .nice-select {
    background: #f4f4f4;
    font-size: 15px;
    height: 56px;
    line-height: 56px;
    border-radius: 12px;
}
.select-type2 .nice-select .option.focus,
.select-type2 .nice-select .option.selected.focus,
.select-type2 .selected + .nice-select .current,
.select-type2.disabled select,
.select-type2.is-invalid .nice-select .current,
.select-type2.selected select {
    color: #111;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 600;
    line-height: 34px;
    list-style: none;
    min-height: 34px;
    outline: none;
    padding: 0 20px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.select-type2 .nice-select:after {
    width: 20px;
    height: 20px;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow8.svg);
}
.nice-select:after {
    content: "";
    display: block;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.select-type2 .nice-select:after {
    width: 20px;
    height: 20px;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow8.svg);
}
.nice-select.open:after {
    transform: rotate(-180deg);
}
.nice-select:after {
    content: "";
    display: block;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
/*  */
.container .form-flex-wrap2 .select-type2 + .select-type2 {
    margin-left: 6px;
}

.select-type2 .nice-select.open {
    background-color: #ffebe8;
    border-color: #ff8c79;
}

.select-type2 .nice-select.open .list {
    transform: translateY(8px);
    max-height: 240px;
    padding: 10px 0;
    z-index: 11;
}
.select-type2 .nice-select .list {
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
}
/* 총 */
.mt-40-35 {
    margin-top: 20px !important;
}
.f-bold {
    font-weight: 600 !important;
}
.f2-body1--body2 {
    line-height: 1.71 !important;
    font-size: 14px !important;
}
.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.select-type3 {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
}
input,
input[type="checkbox"],
input[type="radio"],
select,
textarea {
    appearance: none;
}
input,
select,
textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    outline: 0;
    font-family: "SUIT", sans-serif;
    color: inherit;
}
input,
select {
    border-radius: 0;
    border: 0;
    font-size: 15px;
}
input,
select,
strong {
    font-weight: 600;
}

.select-type3 .nice-select {
    background: 0 0;
    font-size: 14px;
    display: inline-block;
    border: 0;
    height: auto;
    line-height: 1.71;
    padding: 0 20px 0 0;
    min-width: 90px;
    text-align: right !important;
}
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    border: 1px solid #efefef;
    border-radius: 12px;
    color: #94949a;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    outline: none;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    font-weight: 600;
}
.select-type2 .nice-select.open .current {
    color: #111;
}
.select-type3 .nice-select {
    background: 0 0;
    font-size: 14px;
    display: inline-block;
    border: 0;
    height: auto;
    line-height: 1.71;
    padding: 0 20px 0 0;
    min-width: 90px;
    text-align: right !important;
}
.nice-select:active,
.nice-select.open {
    border-radius: 12px 12px;
}
.select-type2 .nice-select {
    background: #f4f4f4;
    font-size: 15px;
    height: 56px;
    line-height: 56px;
    border-radius: 12px;
}

.select-type3 .nice-select:after {
    width: 16px;
    height: 16px;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow.svg);
    right: 0;
}
.select-type3 .nice-select.open .list {
    transform: translateY(8px);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 10px 0;
}

.select-type3 .nice-select .list {
    overflow: unset;
    min-width: 100px;
    z-index: 11;
}
.select-type3 .nice-select .list:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 12px;
    height: 6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #fff;
}
.nice-select .list {
    background-color: #fff;
    border: 1px solid #efefef;
    border-top: none;
    border-radius: 0 0 12px 12px;
    /* box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11); */
    box-sizing: content-box;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -1px;
    transform-origin: 50% 0;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    font-weight: 600;
}
.select-type3 .nice-select .option.focus,
.select-type3 .nice-select .option.selected.focus,
.tab-bar ul li.active a span {
    color: #f0543a;
}

.select-type3 .nice-select .option + .option {
    margin-top: 8px;
}
.select-type3 .nice-select .option {
    font-size: 14px;
    line-height: 1.71;
    color: #343434;
    font-weight: 500;
    padding: 0 15px;
    min-height: auto;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 600;
    line-height: 34px;
    list-style: none;
    min-height: 34px;
    outline: none;
    padding: 0 20px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.nice-select:after {
    content: "";
    display: block;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
/* 활성화 되지 않은 버튼 */
.btn-type6 {
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid #e3e3e3;
    height: 32px;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
    color: #343434;
}
/* 카테고리 좌우 이동 버튼 */
/* .category-slider .gra-next {
    right: 0;
    background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
} */
/* .category-slider [class^="gra-"] {
    font-size: 0;
    position: absolute;
    top: 0;
    width: 25px;
    height: 36px;
    z-index: 1;
    transition: all 0.2s;
} */
/* .category-slider .gra-prev {
    left: 0;
    background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
} */
/* 카테고리가 첫번째라서 display: none */
/* .category-slider .swiper-button-disabled {
    display: none;
}
button:disabled {
    cursor: default;
} */
/* 슬라이더 내용 */
/* 수거 요청 목록 */

.promotion-area {
    margin-top: 20px;
}

/* 검색 밑 목록 */
.section-notice .allRequest {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    display: flex;
    align-items: center;
}
strong {
    font-weight: 600;
}
.status-light {
    background-color: #664af1;
    margin-right: 4px;
    color: #fff;
}

.status-standard {
    background-color: #ec464d;
    margin-right: 4px;
    color: #fff;
}

.status-premium {
    background-color: #f251ab;
    margin-right: 4px;
    color: #fff;
}
.board-type5 li .flag-type {
    height: 22px;
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
.plan-top {
    display: flex;
}
.plan-top .tag-box {
    /* position: absolute; */
    left: 0px;
    top: 0px;
}
.board-type5 li .plan-top .tag-box .tag-type2,
.tag-type4 {
    height: 22px;
    padding: 0 6px;
    font-size: 12px;
    border-radius: 6px;
    background: #f4f4f4;
    color: #343434;
}
.tag-type,
.tag-type5,
.tag-type2,
.tag-type4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8.5px;
    height: 25px;
    border-radius: 13px;
    background: #f1f3fb;
    color: #3f4970;
    font-size: 13px;
    font-weight: 600;
}
/* 목록 구분선 */
/* .board-type5 {
    border-top: 1px solid #111;
    margin-top: 10px;
} */
.board-type5 li {
    margin-top: 15px;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid #e3e3e3;
}
.board-type5 li a {
    display: flex;
    width: 100%;
    padding: 10px 0;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: #111;
}
.board-type5 li span.num {
    display: none;
    min-width: 69px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    vertical-align: middle;
}
.board-type5 li div p {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    line-height: 1.63;
}
.board-type5 li div span {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.63;
    color: #343434;
}
.board-type5 li a .ico-arrow4 {
    margin-left: auto;
}
.ico-arrow4 {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow4.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 이벤트 전체보기 버튼 */
.main [class^="article"] .btn-wrap {
    margin-top: 20px;
}
.btn-wrap {
    display: flex;
    justify-content: center;
}
.btn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.btn-wrap .btn-type3,
.btn-wrap .btn-download {
    width: auto;
}
.btn-type3,
.btn-download {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 38px;
    border: 1px solid #94949a;
    color: #94949a;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    background: #fff;
    border-radius: 19px;
    padding: 0 20px;
}
