section.banner-container {
    position: relative;
    width: 520px;
    overflow: hidden;
    margin: 0 auto;
}


div.banner {
    width: 4160px;
    display: flex;
}

div.arrows {
    font-weight: bold;
    font-size: 2.5rem;
    color: #0000004d;
    position: absolute;
    width: 80px;
    height: 80px;
    border: 4px solid #0000004d;
    border-radius: 50%;
    text-align: center;
    line-height: 73px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}
div.left{
    left: 3%;
}

div.right {
    right: 3%;

}

.banner .banner-inner{
    width: 520px;
    height: 340px;
}




div.buttons {
    width: 1500px;
    position: absolute;
    text-align: center;
    bottom: 3%;
}

div.buttons button {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}


