/* element.style {
    --vh: 9.32px;
}
element.style {
    padding-top: 59.9877px;
}
element.style {
    z-index: 0;
    transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);
}

:root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
} */
* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    word-break: break-all;
}
* {
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
}
*,
fieldset {
    margin: 0;
    padding: 0;
}
*,
::after,
::before {
    box-sizing: border-box;
}
html {
    display: block;
}
body {
    top: 0 !important;
}
body {
    background-color: #fff;
}
body {
    line-height: 1.25;
    font-family: "SUIT";
    font-size: 15px;
    color: #111;
}
div {
    display: block;
    unicode-bidi: isolate;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
address,
caption,
em,
i,
var {
    font-style: normal;
    font-weight: inherit;
}
ol,
ul {
    list-style: none;
}
img {
    border: 0;
    vertical-align: top;
    width: 100%;
}
button {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    font-family: "SUIT", sans-serif;
    color: inherit;
}
select,
input,
textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    border: 0;
    font-family: "SUIT", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 600;
    font-size: 15px;
    color: inherit;
}

option {
    font-weight: normal;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
::-webkit-scrollbar {
    display: none;
    width: 2px;
    height: 2px;
}
.main {
    margin-top: 10px;
}
.main [class^="article"] {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
}
.select-type2 .nice-select .list::-webkit-scrollbar-thumb {
    background-color: #8a93b4;
    border: 7px solid #fff;
    border-radius: 12px;
}
.tag-type,
.tag-type5,
.tag-type2,
.tag-type4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8.5px;
    height: 25px;
    border-radius: 13px;
    background: #f1f3fb;
    color: #3f4970;
    font-size: 13px;
    font-weight: 600;
}
::-webkit-scrollbar-thumb {
    background: #8a93b4;
}
::-webkit-scrollbar-track {
    background: #e3e3e3;
}
input,
input[type="checkbox"],
input[type="radio"],
select,
textarea {
    appearance: none;
}
input,
select,
textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    outline: 0;
    font-family: "SUIT", sans-serif;
    color: inherit;
}
input,
select {
    border-radius: 0;
    border: 0;
    font-size: 15px;
}
input,
select,
strong {
    font-weight: 600;
}
.hidden {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}
::before,
::after {
    box-sizing: border-box;
}
:root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
}
