<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/static/css/mobile-home/mobile-home-tabBar.css"
        />
        <link
            rel="shortcut icon"
            href="https://www.freet.co.kr/static/assets/favicons/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://www.freet.co.kr/assets/css/font.css?v=20240726"
        />
        <title>홈화면 탭바</title>
    </head>
    <body>
        <div id="wrap" class="wrap-main" style="padding-top: 59.5877px">
            <!-- tab bar -->
            <div class="tab-bar">
                <ul>
                    <li>
                        <a href="/">
                            <i class="ico-home2"></i>
                            <span>홈</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="ico-cs"></i>
                            <span>고객지원</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="ico-my"></i>
                            <span>마이</span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="ico-direct-lightning"></i>
                            <span>로그인</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //tab bar -->
        </div>
    </body>
</html>
