<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/mobile-home-header.css" />
        <link
            rel="shortcut icon"
            href="https://www.freet.co.kr/static/assets/favicons/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://www.freet.co.kr/assets/css/font.css?v=20240726"
        />
        <title>홈화면 헤더</title>
    </head>
    <body>
        <!-- 전체를 감싸고 있는 div -->
        <div id="wrap" class="wrap-main" style="padding-top: 59.5877px">
            <!-- header -->
            <header id="header" class="header">
                <div class="tool-box">
                    <h1 class="logo">
                        <a href="/">
                            <i class="ico-logo"></i>
                            <span class="hidden">프리티</span>
                        </a>
                    </h1>
                    <div class="btn-box">
                        <!-- js파일 넣어줘야됨 -->
                        <a href="" class="btn-srch">
                            <i class="ico-search"></i>
                            <span class="hidden">검색</span>
                        </a>
                        <a href="" class="btn-menu">
                            <i class="ico-bars"></i>
                            <span class="hidden">메뉴</span>
                        </a>
                    </div>
                </div>
                <!-- search -->
                <section class="gnb-search active" id="gnb-search">
                    <div class="search-wrap">
                        <div class="search-top">
                            <h1 class="logo">
                                <a href="/">
                                    <i class="ico-logo"></i>
                                    <span class="hidden">프리티</span>
                                </a>
                            </h1>
                            <button class="btn-close">팝업닫기</button>
                        </div>
                        <div class="search-box">
                            <div class="form-search">
                                <input
                                    type="text"
                                    placeholder="검색어를 입력해주세요."
                                    id="searchKeywordParam"
                                />
                                <button class="btn-search" onclick="">
                                    <i class="ico-search"></i>
                                    <span class="hidden">검색</span>
                                </button>
                            </div>
                            <div class="search-keyword">
                                <p class="title">추천 검색어 👀</p>
                                <div class="keyword-list" id="recoomendTagBox">
                                    <a href="" class="btn-type7 v2" onclick=""
                                        >#이달의 특가</a
                                    >

                                    <a href="" class="btn-type7 v2" onclick=""
                                        >#셀프개통</a
                                    >

                                    <a href="" class="btn-type7 v2" onclick=""
                                        >#인터넷결합혜택</a
                                    >

                                    <a href="" class="btn-type7 v2" onclick=""
                                        >#eSIM개통</a
                                    >

                                    <a href="" class="btn-type7 v2" onclick=""
                                        >#로밍 (해외유심)</a
                                    >

                                    <a href="" class="btn-type7 v2" onclick=""
                                        >#유심 인식 불가</a
                                    >

                                    <a href="" class="btn-type7 v2" onclick=""
                                        >#선불충전</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
            <!-- //header -->

            <section id="gbn-menu" class="gbn-menu"></section>
            <!-- search -->
            <!-- <section id="gbn-search" class="gbn-search"></section> -->
            <!-- //search -->
            <!-- <div class="container"></div> -->
        </div>
    </body>
</html>
