<!DOCTYPE html>
<!-- search 누르면  overflow: hidden; -->
<html lang="en" style="--vh: 9.32px">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/static/css/mobile-home/mobile-home-header.css"
        />
        <link
            rel="shortcut icon"
            href="https://www.freet.co.kr/static/assets/favicons/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://www.freet.co.kr/assets/css/font.css?v=20240726"
        />
        <title>홈화면 헤더</title>
    </head>
    <!-- search 누르면  overflow: hidden; -->
    <body>
        <!-- 전체를 감싸고 있는 div -->
        <div id="wrap" class="wrap-main" style="padding-top: 59.5877px">
            <!-- header -->
            <header id="header" class="header">
                <div class="tool-box">
                    <h1 class="logo">
                        <a href="/">
                            <i class="ico-logo"></i>
                            <span class="hidden">프리티</span>
                        </a>
                    </h1>
                    <!-- <div class="btn-box">
                         js파일 넣어줘야됨 -->

                    <!-- <a href="" class="btn-menu">
                            <i class="ico-login"></i>
                            <span class="hidden">로그인</span>
                        </a>
                    </div>  -->
                </div>
            </header>
            <!-- //header -->

            <section id="gbn-menu" class="gbn-menu"></section>
            <!-- search -->
            <!-- <section id="gbn-search" class="gbn-search"></section> -->
            <!-- //search -->
            <!-- <div class="container"></div> -->
        </div>
    </body>
</html>
