<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="/static/css/mobile-home/mobile-home-footer.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://www.freet.co.kr/assets/css/font.css?v=20240726"
        />
        <link
            rel="shortcut icon"
            href="https://www.freet.co.kr/static/assets/favicons/favicon.png"
            type="image/x-icon"
        />
        <title>홈화면 푸터</title>
    </head>
    <body>
        <div id="wrap" class="wrap-main" style="padding-top: 59.5877px">
            <!-- footer -->
            <footer id="footer" class="footer">
                <div class="inner">
                    <section class="footer-info">
                        <div class="sns-box">
                            <ul class="sns">
                                <li>
                                    <a href="" onclick="">
                                        <i class="ico-insta"> </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick="">
                                        <i class="ico-kakao"></i>
                                    </a>
                                </li>
                            </ul>
                            <a href="" class="btn-type5" onclick="">
                                대리점 사이트
                            </a>
                        </div>
                        <div class="link-box">
                            <ul>
                                <li>
                                    <a href="" onclick=""> 회사소개 </a>
                                </li>
                                <li>
                                    <a href="" onclick=""> 이용약관 </a>
                                </li>
                                <li>
                                    <a href="" onclick="">
                                        <strong>개인정보처리방침</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick=""> 고객센터 </a>
                                </li>
                                <li>
                                    <a href="" onclick="">
                                        명의도용방지서비스
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick=""> 불법스팸대응센터 </a>
                                </li>
                                <li>
                                    <a href="" onclick="">
                                        이용자피해예방가이드
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="company-box">
                            <!-- 버튼 누르면 클래스명 close가 사라져야 됨 -->
                            <!-- close가 기본 값 -->
                            <!-- <a href="#Detail" class="js_toggle btn-company close"></a> -->
                            <a class="js_toggle btn-company close">
                                사업자 정보 확인
                                <i class="ico-down"></i>
                            </a>
                            <div class="freet_emblem">
                                <div class="freet_emblem_area">
                                    <div>
                                        <img
                                            src="https://www.freet.co.kr/upload/eventimg/freet_customerPreference_no1.png"
                                        />
                                        2024 대한민국
                                        <br />
                                        소비자 선호도 1위
                                    </div>
                                    <div>
                                        <img
                                            src="https://www.freet.co.kr/upload/eventimg/freet_customerspecialexcellentbrand_no.1.png"
                                        />
                                        2024 고객감동
                                        <br />
                                        우수 브랜드 대상 1위
                                    </div>
                                </div>
                            </div>
                            <!-- 기본 값<div id="Detail" class="detail" style="display: none;</div> -->
                            <div
                                id="detail"
                                class="detail"
                                style="display: none"
                            >
                                <ul>
                                    <li>
                                        <strong>(주)프리텔레콤</strong>
                                        <span>사업자번호 : 214-88-51159</span>
                                        <span>
                                            통신판매신고 : 2013-서울성동-0556호
                                        </span>
                                        <span>대표이사 : 이석환</span>
                                        <span>
                                            서울시 성동구 성수이로22길 37,
                                            7층(성수동2가, 아크밸리)
                                        </span>
                                    </li>
                                    <li>
                                        <strong>(주)인스코비(성동지점)</strong>
                                        <span>사업자번호 : 595-85-00145</span>
                                        <span>
                                            통신판매신고 : 2015-서울성동-0904호
                                        </span>
                                        <span>대표이사 : 유인수, 구자갑</span>
                                        <span>
                                            서울시 성동구 성수이로22길 37,
                                            7층(성수동2가, 아크밸리)
                                        </span>
                                    </li>
                                </ul>
                                <p>
                                    인스코비(KOSPI 006490)는 자회사 프리텔레콤과
                                    함께
                                    <span class="focus">
                                        국내에서 유일하게 통신 3사의
                                        알뜰폰(MVNO) 서비스를 제공
                                    </span>
                                    하고 있습니다.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="footer-copy">
                        <p>
                            COPYRIGHT (C) FREETELECOM / INSCOBEE ALL RIGHTS
                            RESERVED.
                        </p>
                    </section>
                </div>
            </footer>
            <!-- //footer -->
        </div>
    </body>
    <script src="/static/js/mobile-home/mobile-home-footer.js"></script>
</html>
