@charset "UTF-8";
@font-face {
    font-family: "SUIT";
    font-weight: 300;
    src: local("SUIT-Light"),url(../fonts/SUIT-Light.woff2)format("woff2"),url(../fonts/SUIT-Light.otf)format("wopentypeoff")
}

@font-face {
    font-family: "SUIT";
    font-weight: 400;
    src: local("SUIT-Regular"),url(../fonts/SUIT-Regular.woff2)format("woff2"),url(../fonts/SUIT-Regular.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 600;
    src: local("SUIT-SemiBold"),url(../fonts/SUIT-SemiBold.woff2)format("woff2"),url(../fonts/SUIT-SemiBold.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 700;
    src: local("SUIT-Bold"),url(../fonts/SUIT-Bold.woff2)format("woff2"),url(../fonts/SUIT-Bold.otf)format("opentype")
}
@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),url(../fonts/Pretendard-Black.woff2)format("woff2"),url(../fonts/Pretendard-Black.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),url(../fonts/Pretendard-ExtraBold.woff2)format("woff2"),url(../fonts/Pretendard-ExtraBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(../fonts/Pretendard-Bold.woff2)format("woff2"),url(../fonts/Pretendard-Bold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(../fonts/Pretendard-SemiBold.woff2)format("woff2"),url(../fonts/Pretendard-SemiBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),url(../fonts/Pretendard-Medium.woff2)format("woff2"),url(../fonts/Pretendard-Medium.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(../fonts/Pretendard-Regular.woff2)format("woff2"),url(../fonts/Pretendard-Regular.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),url(../fonts/Pretendard-Light.woff2)format("woff2"),url(../fonts/Pretendard-Light.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),url(../fonts/Pretendard-ExtraLight.woff2)format("woff2"),url(../fonts/Pretendard-ExtraLight.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),url(../fonts/Pretendard-Thin.woff2)format("woff2"),url(../fonts/Pretendard-Thin.woff)format("woff")
}

*, ::after, ::before {
    box-sizing: border-box;
}

* {
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
}

*, fieldset {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}

body {
    line-height: 1.25;
    font-family: "SUIT", sans-serif;
    font-size: 15px;
    color: #111;
}
@media (min-width: 1200px) {
    body {
        font-size: 16px;
    }
}

#content {
    padding: 30px 0 80px;
}


@media (min-width: 1200px) {
    #content, #content.bottom {
        padding-bottom: 120px;
    }
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.inner {
    padding: 0 20px;
}
.header, .inner {
    position: relative;
    width: 100%;
}

@media (min-width: 1200px) {
    .inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .page-header.side {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.page-header {
    margin-bottom: 40px;
}
.header-page, .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .page-header {
        position: inherit;
        text-align: center;
        padding-right: 0;
    }
}

@media (min-width: 1200px) {
    .page-header.side .page-title {
        font-size: 28px;
    }
}

.page-header .page-title {
    font-size: 22px;
    line-height: 1.6;
    font-weight: 600;
}

@media (min-width: 1200px) {
    .page-header .page-title {
        font-size: 40px;
        line-height: 1.2;
    }
}

@media (min-width: 1200px) {
    .page-header.side .location {
        margin-bottom: 0;
    }
}
.location {
    display: none;
}

@media (min-width: 1200px) {
    .location {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;
        line-height: 1.7;
        color: #343434;
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px) {
    .location .home, .location a:after {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        background-image: url(https://www.freet.co.kr/assets/images/icon/home.svg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1200px) {
    .location a {
        position: relative;
        margin-right: 25px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}


.hidden {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}



@media (min-width: 1200px) {
    .location a:after {
        content: "";
        width: 10px;
        height: 10px;
        background-image: url(https://www.freet.co.kr/assets/images/icon/arrow.svg);
        transform: rotate(-90deg);
        position: absolute;
        right: -18px;
        top: 50%;
        margin-top: -5px;
    }
}

input, select, strong {
    font-weight: 600;
}


/* content-box */
.content-box {
    margin-top: 40px;
}
@media (min-width: 1200px) {
    .content-box {
        margin-top: 50px;
    }
}
@media (min-width: 1200px) {
    .content-box, .content-box2 {
        width: 1026px;
        margin-left: auto;
        margin-right: auto;
    }
}

.form-flex-wrap {
    display: flex;
}

@media (min-width: 1200px) {
    .form-flex-wrap {
        justify-content: center;
    }
}
.form-flex-wrap .select-type2 {
    width: 100px;
}

@media (min-width: 1200px) {
    .form-flex-wrap .select-type2 {
        width: 200px;
    }
}

.select-type, .select-type2 {
    position: relative;
    width: 100%;
}

@media (min-width: 1200px) {
    .select-type2 {
        height: 64px;
    }
}

input, input[type=checkbox], input[type=radio], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input, select, textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    outline: 0;
    font-family: "SUIT", sans-serif;
    color: inherit;
}

input, select {
    border-radius: 0;
    border: 0;
    font-size: 15px;
}

.select-type2 .title {
    display: none;
}
/* nice-select */
.form-flex-wrap .select-type2 .nice-select {
    padding: 0 15px;
}

@media (min-width: 1200px) {
    .form-flex-wrap .select-type2 .nice-select {
        padding: 0 20px;
    }
}

.select-type2 .nice-select {
    background: #f4f4f4;
    font-size: 15px;
    height: 56px;
    line-height: 56px;
    border-radius: 12px;
}

@media (min-width: 1200px) {
    .select-type2 .nice-select {
        font-size: 18px;
        height: 64px;
        line-height: 64px;
    }
}
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    border: 1px solid #efefef;
    border-radius: 12px;
    color: #94949a;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    outline: none;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    font-weight: 600;
}
.select-type2 .nice-select .list {
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    border: solid 1px #e3e3e3;
}
@media (min-width: 1200px) {
    .select-type2 .nice-select .list {
        max-height: 265px;
    }
}
.nice-select .list {
    background-color: #fff;
    border: 1px solid #efefef;
    border-top: none;
    border-radius: 0 0 12px 12px;
    /* box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11); */
    box-sizing: content-box;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -1px;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: translateY(-21px);
    -ms-transform: translateY(-21px);
    transform: translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    font-weight: 600;
}
ol, ul {
    list-style: none;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 600;
    line-height: 34px;
    list-style: none;
    min-height: 34px;
    outline: none;
    padding: 0 20px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
@media (min-width: 1200px) {
    .select-type2 .nice-select .option {
        font-size: 18px;
        line-height: 40px;
        min-height: 40px;
    }
}
.nice-select .option.selected {
    color: #f0543a;
}
.form-flex-wrap .select-type2 .nice-select:after {
    right: 15px;
}
@media (min-width: 1200px) {
    .form-flex-wrap .select-type2 .nice-select:after, .form-number .select-type2 .nice-select:after {
        right: 15px;
    }
}
.select-type2 .nice-select:after {
    width: 20px;
    height: 20px;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow8.svg);
}

.nice-select:after {
    content: '';
    display: block;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

/* form-search */
.form-flex-wrap .form-search {
    width: calc(100% - 100px);
    margin-left: 10px;
}

.form-file, .form-search {
    position: relative;
}

@media (min-width: 1200px) {
    .form-flex-wrap .form-search {
        width: 460px;
        margin: 0 0 0 18px;
    }
}

@media (min-width: 1200px) {
    .form-search {
        width: 504px;
        margin: 0 auto;
    }
}

input[type=email], input[type=file], input[type=number], input[type=password], input[type=reset], input[type=search], input[type=submit], input[type=tel], input[type=text] {
    height: 56px;
    padding: 0 20px;
    border: 1px solid #efefef;
    background: #f4f4f4;
    color: #111;
    border-radius: 12px;
}

@media (min-width: 1200px) {
    input[type=email], input[type=file], input[type=number], input[type=password], input[type=reset], input[type=search], input[type=submit], input[type=tel], input[type=text] {
        height: 64px;
        font-size: 18px;
    }
}

input, input[type=checkbox], input[type=radio], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* 버튼 */
.form-search .btn-clear, .form-search .btn-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    display: flex;
    padding: 5px;
}
button {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: 0 0;
    cursor: pointer;
    outline: 0;
    font-size: 15px;
    font-family: "SUIT", sans-serif;
    color: inherit;
}

.ico-back, .ico-bars, .ico-delivery, .ico-direct-lightning, .ico-home2, .ico-like, .ico-like2, .ico-menu, .ico-my, .ico-new-search, .ico-phone-airplane, .ico-search {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/search.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

address, caption, em, i, var {
    font-style: normal;
    font-weight: inherit;
}

.form-search .btn-clear {
    right: 50px;
    transition: all .2s ease-out;
}

.form-search .btn-clear, .form-search .btn-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    display: flex;
    padding: 5px;
}

.ico-adult, .ico-check, .ico-foreigner, .ico-input-delete, .ico-kid {
    width: 20px;
    height: 20px;
    background-image: url(https://www.freet.co.kr/assets/images/icon/input-delete.svg);
}

.ico-adult, .ico-check, .ico-check-white, .ico-coin, .ico-foreigner, .ico-home3, .ico-input-delete, .ico-kid, .ico-mail, .ico-mail-x, .ico-star, .ico-star.on {
    display: inline-block;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* filter */
.section-faq {
    display: flex;
    justify-content: center;
}
.section-faq .filter-wrap {
    margin: 40px 0 30px;
}

@media (min-width: 1200px) {
    .section-faq .filter-wrap {
        margin: 60px 0 40px;
    }
}
.filter-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -20px;
    /* position: relative; */
}
@media (min-width: 1200px) {
    .filter-wrap {
        margin-top: 0;
    }
}
.filter-wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding-right: 30px;
}
.filter-wrap.open ul {
    overflow: hidden;
    padding-right: 20px;
    white-space: normal;
}
@media (min-width: 1200px) {
    .filter-wrap ul {
        white-space: normal;
        padding-right: 0;
    }
}
.filter-wrap ul li {
    display: inline-block;
    margin-right: 4px;
}
@media (min-width: 1200px) {
    .filter-wrap ul li {
        margin-right: 6px;
        margin-bottom: 10px;
    }
}
.filter-wrap ul li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid #e3e3e3;
    height: 32px;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
    color: #343434;
}

@media (min-width: 1200px) {
    .filter-wrap ul li a {
        width: 130px;
        border-radius: 20px;
        height: 60px;
        padding: 6px 18px 4px;
        font-size: 15px;
        font-weight: 550;
    }
}
.filter-wrap ul li:last-child {
    margin-right: 20px;
}
@media (min-width: 1200px) {
    .filter-wrap ul li:last-child {
        margin-right: 0;
    }
}

.filter-wrap .btn-open {
    position: absolute;
    right: 18px;
    z-index: 1;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow8.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .2s ease-out;
}
@media (min-width: 1200px) {
    .filter-wrap .btn-open {
        display: none;
    }
}

.filter-wrap:after {
    content: "";
    right: 0;
    top: 0;
    width: 50px;
    height: 32px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 31%);
}
.filter-wrap .btn-open.active {
    transform: rotate(-180deg);
}
.filter-wrap.open ul li {
    margin-bottom: 5px;
}

/* active(선택) 됐을 때 */
.filter-wrap ul li.active a {
    border-color: #ffc2b8;
    background: #ffebe8;
    color: #f0543a;
}
/* 검색창 focus */
input[type=number]:focus, input[type=password]:focus, 
input[type=tel]:focus, input[type=text]:focus {
    border-color: #ffc2b8;
    background: #ffebe8;
    outline: 0;
}

input[type=number]:focus, input[type=text]:focus {
    color: #111;
}
/* open 됐을 때 */
.select-type2 .nice-select .option.focus, .select-type2 .nice-select .option.selected.focus, .select-type2 .selected+.nice-select .current, .select-type2.disabled select, .select-type2.is-invalid .nice-select .current, .select-type2.selected select {
    color: #111;
}
.select-type2 .nice-select.open {
    background-color: #ffebe8;
    border-color: #ff8c79;
}
.nice-select .option:hover, .nice-select 
.option.focus, .nice-select .option.selected.focus {
    color: #f0543a;
}

.nice-select.open:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.select-type2 .nice-select.open .current {
    color: #111;
}

.select-type2 .nice-select.open .list {
    transform: translateY(8px);
    max-height: 240px;
    padding: 10px 0;
    z-index: 11;
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}

/* 클리어 버튼 */
.form-search .btn-clear, .form-search .btn-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    display: flex;
    padding: 5px;
}
.form-search .btn-clear {
    right: 50px;
    transition: all .2s ease-out;
}

.ico-adult, .ico-check, .ico-foreigner, .ico-input-delete, .ico-kid {
    width: 20px;
    height: 20px;
    background-image: url(https://www.freet.co.kr/assets/images/icon/input-delete.svg);
}

::-webkit-scrollbar {
    display: none;
    width: 2px;
    height: 2px;
}

/* 목록 리스트 */
.board-type3.v2 {
    border-top: 1px solid #111;
}
@media (min-width: 1200px) {
    .board-type3.v2 {
        border-top: 1px solid #111;
    }
}

.board-type3 .board-item dl {
    padding: 20px 0;
}

@media (min-width: 1200px) {
    .board-type3 .board-item dl {
        padding: 30px 0;
    }
}
.board-type3 .board-item dl, .board-type5 li {
    border-bottom: 1px solid #e3e3e3;
}

@media (min-width: 1200px) {
    .board-tit-type .price, .board-type3.v2 .board-item dl dt a, .board-type5 li a {
        font-size: 20px;
    }
}
.board-type3 .board-item dl dt a {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.63;
    color: #111;
    position: relative;
}
@media (min-width: 1200px) {
    .board-type3 .board-item dl dt a {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.56;
    }
}

.board-type3.v2 .board-item .tag-type2, .board-type3.v2 .board-item .tag-type4 {
    margin-top: 3px;
}
.tag-type.v3, .v3.tag-type2, .v3.tag-type4, .v3.tag-type5 {
    background: #f1f3fb;
    color: #3f4970;
}
.tag-type2, .tag-type3, .tag-type4 {
    height: 22px;
    padding: 0 6px;
    border-radius: 6px;
}
@media (min-width: 1200px) {
    .tag-type2, .tag-type4 {
        height: 24px;
        padding: 0 7px;
        font-size: 13px;
    }
}

.tag-type2 {
    background: #f4f4f4;
    color: #343434;
}

.tag-type2, .tag-type4, .tag-type5 {
    font-size: 13px;
    font-weight: 600;
}

.tag-type, .tag-type2, .tag-type4, .tag-type5 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f1f3fb;
}
.board-type3.v2 .board-item dl dt a p {
    width: calc(100% - 70px);
    margin-left: 5px;
}
@media (min-width: 1200px) {
    .board-type3.v2 .board-item dl dt a p {
        margin-left: 10px;
    }
}



/* 여는 버튼 */
@media (min-width: 1200px) {
    .board-type3.v2 .board-item dl dt a .ico-up3 {
        top: 7px;
    }
}

.board-type3 .board-item.active dl dt a .ico-up2, .board-type3 .board-item.active dl dt a .ico-up3 {
    transform: rotate(0);
}

.board-type3 .board-item dl dt a .ico-up2, .board-type3 .board-item dl dt a .ico-up3 {
    position: absolute;
    right: 0;
    top: 5px;
    transform: rotate(180deg);
    transition: all .2s;
}

.ico-up3 {
    background-image: url(https://www.freet.co.kr/assets/images/icon/up3.svg);
}

.ico-arrow10, .ico-arrow11, .ico-arrow12, .ico-arrow13, .ico-arrow14, .ico-arrow15, .ico-arrow16, .ico-arrow9, .ico-down, .ico-up, .ico-up2, .ico-up3 {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.board-type3 .board-item dl dd {
    display: none;
    /* margin-top: 10px; */
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
}

@media (min-width: 1200px) {
    .board-type3 .board-item dl dd {
        /* margin-top: 15px; */
        font-size: 15px;
        font-weight: 500;
        line-height: 1.67;
    }
}
@media (min-width: 1200px) {
    .board-type3.v2 .board-item dl dd, 
    .board-type3.v3 .board-item dl dd .number, 
    .board-type3.v3 .board-item dl dd .qna-box, 
    .board-type5 li div span {
        font-size: 16px;
    }
}

/* 기본 상태: 숨김 */
 
#faqDetail {
    max-height: 0; /* 최대 높이를 0으로 설정 */
    /* opacity: 0; 기본적으로 투명하게 설정 */
    overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
    transition: max-height 1.0s ease, opacity 0.5s ease; /* 애니메이션 설정 */
    display: block; /* 요소가 블록 형태로 유지되도록 설정 */
}

/* 보이는 상태 */
#faqDetail.show {
    max-height: 1000px; /* 충분히 큰 값으로 설정 (요소의 높이에 맞게 조정) */
    opacity: 1; /* 불투명도로 설정하여 표시 */
}
#faqDetail p{
    margin-top: 10px;
}

/* 더보기 버튼 */
.btn-wrap-col, .btn-wrap.v2, .btn-wrap.v3 {
    margin-top: 20px;
}
.btn-wrap .btn-download, .btn-wrap .btn-type3 {
    width: auto;
}

.btn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.btn-download, .btn-type3, .btn-type4, .btn-type5, .btn-type6, .btn-type7 {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}
.btn-download, .btn-type3 {
    justify-content: center;
    width: auto;
    height: 38px;
    border: 1px solid #94949a;
    color: #94949a;
    font-size: 13px;
    line-height: 2.7;
    background: #fff;
    border-radius: 19px;
    padding: 0 20px;
}

@media (min-width: 1200px) {
    .btn-wrap.v3 {
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    .btn-download, .btn-type3 {
        height: 48px;
        background: #fff;
        border-radius: 24px;
    }
}

@media (min-width: 1200px) {
    .btn-type3 {
        font-size: 16px;
        padding: 0 39px;
    }
}
