@charset "UTF-8";@font-face {
    font-family: "SUIT";
    font-weight: 300;
    src: local("SUIT-Light"),url(./fonts/SUIT-Light.woff2)format("woff2"),url(./fonts/SUIT-Light.otf)format("wopentypeoff")
}

@font-face {
    font-family: "SUIT";
    font-weight: 400;
    src: local("SUIT-Regular"),url(./fonts/SUIT-Regular.woff2)format("woff2"),url(./fonts/SUIT-Regular.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 600;
    src: local("SUIT-SemiBold"),url(./fonts/SUIT-SemiBold.woff2)format("woff2"),url(/.fonts/SUIT-SemiBold.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 700;
    src: local("SUIT-Bold"),url(./fonts/SUIT-Bold.woff2)format("woff2"),url(./fonts/SUIT-Bold.otf)format("opentype")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),url(./fonts/Pretendard-Black.woff2)format("woff2"),url(/.fonts/Pretendard-Black.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),url(./fonts/Pretendard-ExtraBold.woff2)format("woff2"),url(./fonts/Pretendard-ExtraBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(./fonts/Pretendard-Bold.woff2)format("woff2"),url(./fonts/Pretendard-Bold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(./fonts/Pretendard-SemiBold.woff2)format("woff2"),url(./fonts/Pretendard-SemiBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),url(./fonts/Pretendard-Medium.woff2)format("woff2"),url(./fonts/Pretendard-Medium.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(./fonts/Pretendard-Regular.woff2)format("woff2"),url(./fonts/Pretendard-Regular.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),url(./fonts/Pretendard-Light.woff2)format("woff2"),url(./fonts/Pretendard-Light.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),url(./fonts/Pretendard-ExtraLight.woff2)format("woff2"),url(./fonts/Pretendard-ExtraLight.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),url(./fonts/Pretendard-Thin.woff2)format("woff2"),url(./fonts/Pretendard-Thin.woff)format("woff")
}
.wrap {
    padding: 50px 0;
    background: #f4f4f4;
    display: block;
}

body {
    line-height: 1.25;
    font-family: "SUIT", sans-serif;
    font-size: 15px;
    color: #111;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    word-break: break-all;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%
}

.wrap-cs {
    display: block;
    background: #fff;
    border-radius: 20px;
    padding: 28px 40px;
}

.wrap-cs .cs-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
    padding-bottom: 28px;
    border-bottom: 1px solid #efefef;
}

.wrap-cs .cs-center .tit {
    font-size: 22px;
    font-weight: 600;
    color: #f0543a;
}
ul {
    list-style: none;
}

.wrap-cs .cs-center .menu ul {
    width: 914px;
    display: flex;
    justify-content: space-between;
}


.wrap-cs .cs-center .menu li:first-child {
    margin-left: 0;
}

.wrap-cs .cs-center .menu li {
    display: inline-block;
    font-size: 16px;
    margin-left: 70px;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrap-cs .cs-ars {
    display: flex;
    justify-content: space-between;
    font-size: 0;
}

.wrap-cs .cs-ars .number {
    display: flex;
    justify-content: flex-end;
}

.wrap-cs .cs-ars .time dl {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.wrap-cs .cs-ars .time dl+dl {
    margin-left: 8px;
    padding-left: 8px;
}

.wrap-cs .cs-ars .time dl {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 0px;
}

.wrap-cs .cs-ars .time dl+dl:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 12px;
    background: #e3e3e3;
}

::before, ::after {
    box-sizing: border-box;
}

.wrap-cs .cs-ars dl dt {
    font-size: 15px;
}

.wrap-cs .cs-ars .time dl dd {
    margin-left: 10px;
}

.wrap-cs .cs-ars dl dd {
    font-size: 18px;
    font-weight: 600;
}

.wrap-cs .cs-ars .time .info-text {
    margin-top: 12px;
}

.info-text {
    position: relative;
    font-size: 15px;
    line-height: 1.67;
    padding-left: 21px;
    text-align: left;
    margin-top: 20px;
    color: #343434;
}

.info-text i {
    position: absolute;
    left: 0;
    top: 5px;
}

.ico-info3 {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(./images/info3.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

i {
    font-style: normal;
    font-weight: inherit;
}

.wrap-cs .cs-ars .number {
    display: flex;
    justify-content: flex-end;
}

.wrap-cs .cs-ars .number p {
    font-size: 15px;
    line-height: 1.6;
    color: #343434;
}

.wrap-cs .cs-ars .number p strong {
    font-size: 18px;
    color: #111;
}

strong {
    font-weight: 600;
}

.wrap-cs .cs-ars .number p .tag-type, .wrap-cs .cs-ars .number p .tag-type2, .wrap-cs .cs-ars .number p .tag-type4, .wrap-cs .cs-ars .number p .tag-type5 {
    vertical-align: 1px;
}

.wrap-cs .cs-ars .number [class^=tag-type] {
    margin-left: 5px;
}

.tag-type, .tag-type5, .tag-type2, .tag-type4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8.5px;
    height: 25px;
    border-radius: 13px;
    background: #f1f3fb;
    color: #3f4970;
    font-size: 13px;
    font-weight: 600;
}

.wrap-cs .cs-ars .number ul {
    margin-left: 80px;
}

.wrap-cs .cs-ars .number dl {
    display: flex;
    align-items: center;
}

.wrap-cs .cs-ars dl {
    font-size: 0;
}

.wrap-cs .cs-ars .number dl dt {
    color: #343434;
    width: 115px;
}

.wrap-cs .cs-ars dl dt {
    font-size: 15px;
}

.wrap-cs .cs-ars .number dl dd {
    display: inline-flex;
    align-items: center;
}

.wrap-cs .cs-ars dl dd {
    font-size: 18px;
    font-weight: 600;
}

.tag-type.v2, .v2.tag-type5, .v2.tag-type2, .v2.tag-type4 {
    background: #ffebe8;
    color: #f0543a;
}

.wrap-cs .cs-ars .number [class^=tag-type] {
    margin-left: 5px;
}

.wrap-cs .cs-ars .number ul li+li {
    margin-top: 13px;
}

.wrap-info {
    position: relative;
}

section {
    display: block;
}

.wrap-info .sns-box {
    position: absolute;
    right: 0;
    top: -8px;
    display: flex;
    justify-content: space-between;
}

.wrap-info .link-box {
    margin-top: 28px;
    margin-right: 250px;
}

.wrap-info .company-box {
    margin-top: 30px;
    padding-top: 0;
    border-top: none;
}

.wrap-info .sns-box ul {
    margin-right: 30px;
}

.wrap-info .sns-box ul li {
    display: inline-block;
}

.ico-insta {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/insta.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap-info .sns-box ul li+li {
    margin-left: 12px;
}

.ico-kakao {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/kakao.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-type5 {
    padding: 0 20px;
    height: 42px;
    font-size: 16px;
    border-radius: 21px;
    background: #94949a;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    font-weight: 600;
    color: #fff;

}

.wrap-info .link-box ul li {
    margin-right: 30px;
    margin-top: 0;
    display: inline-block;
    color: #343434;
}

.wrap-info .link-box {
    margin-top: 28px;
    margin-right: 250px;
}

.wrap-info .company-box {
    margin-top: 30px;
    padding-top: 0;
    border-top: none;
}

.wrap-info .company-box .btn-company {
    font-size: 16px;
    font-weight: 600;
    color: #343434;
    display: inline-flex;
    align-items: center;
}

.wrap-info .company-box .btn-company.close .ico-down {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.ico-down {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/down.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap-info .company-box .btn-company .ico-down {
    margin-left: 5px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.freet_emblemPosition {
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 18px;
}

.freet_emblemPosition_area {
    font-size: 13px;
    color: #94949a;
    line-height: 1.3;
    display: flex;
    gap: 25px;
}

.freet_emblemPosition_area div {
    display: flex;
    align-items: center;
    gap: 0 6px;
}

.freet_emblemPosition img {
    width: 2.5rem;
}

img {
    border: 0;
    vertical-align: top;
    width: 100%;
}

.wrap-info .company-box .detail {
    padding-bottom: 30px;
    padding-top: 20px;
}

.wrap-info .company-box .detail li {
    font-size: 0;
    color: #94949a;
}

.wrap-info .company-box .detail li+li {
    margin-top: 6px;
}

.wrap-info .company-box .detail li strong {
    font-size: 13px;
    margin-right: 20px;
    color: #343434;
    margin-bottom: 5px;
}

.wrap-info .company-box .detail li span {
    display: inline-block;
    color: #343434;
    position: relative;
    font-size: 13px;
    line-height: 1.77;
}

.wrap-info .company-box .detail li span+span {
    padding-left: 18px;
}

.wrap-info .company-box .detail li span+span:before {
    content: "";
    width: 1px;
    height: 8px;
    background: #343434;
    position: absolute;
    left: 9px;
    top: 50%;
    margin-top: -4px;
}

::before, ::after {
    box-sizing: border-box;
}

.wrap-info .company-box .detail p {
    margin-top: 20px;
    font-size: 14px;
    color: #94949a;
    line-height: 1.7;
}
.wrap-info .company-box .detail p .focus {
    color: #f0543a;
}

.wrap-copy {
    margin-top: 15px;
    position: relative;
}

.wrap-copy .select-box {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
}

.wrap-copy .select-box .select-type {
    width: 210px;
}

.select-type {
    max-width: 210px;
    position: relative;
    height: 50px;
}

.select-type select {
    width: 100%;
    padding-right: 40px;
    background: none;
    font-size: 13px;
    font-weight: 600;
    color: #94949a;
}

select, input, textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    border: 0;
    font-family: "SUIT", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 600;
    font-size: 15px;
    color: inherit;
}


.wrap-copy p {
    color: #94949a;
    font-size: 14px;
    margin-top: 30px;
    line-height: 1.7;
}

@media (min-width: 1200px) {
    body {
        font-size: 16px;
    }
}



