@charset "UTF-8";@font-face {
    font-family: "SUIT";
    font-weight: 300;
    src: local("SUIT-Light"),url(./fonts/SUIT-Light.woff2)format("woff2"),url(./fonts/SUIT-Light.otf)format("wopentypeoff")
}

@font-face {
    font-family: "SUIT";
    font-weight: 400;
    src: local("SUIT-Regular"),url(./fonts/SUIT-Regular.woff2)format("woff2"),url(./fonts/SUIT-Regular.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 600;
    src: local("SUIT-SemiBold"),url(./fonts/SUIT-SemiBold.woff2)format("woff2"),url(/.fonts/SUIT-SemiBold.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 700;
    src: local("SUIT-Bold"),url(./fonts/SUIT-Bold.woff2)format("woff2"),url(./fonts/SUIT-Bold.otf)format("opentype")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),url(./fonts/Pretendard-Black.woff2)format("woff2"),url(/.fonts/Pretendard-Black.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),url(./fonts/Pretendard-ExtraBold.woff2)format("woff2"),url(./fonts/Pretendard-ExtraBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(./fonts/Pretendard-Bold.woff2)format("woff2"),url(./fonts/Pretendard-Bold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(./fonts/Pretendard-SemiBold.woff2)format("woff2"),url(./fonts/Pretendard-SemiBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),url(./fonts/Pretendard-Medium.woff2)format("woff2"),url(./fonts/Pretendard-Medium.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(./fonts/Pretendard-Regular.woff2)format("woff2"),url(./fonts/Pretendard-Regular.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),url(./fonts/Pretendard-Light.woff2)format("woff2"),url(./fonts/Pretendard-Light.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),url(./fonts/Pretendard-ExtraLight.woff2)format("woff2"),url(./fonts/Pretendard-ExtraLight.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),url(./fonts/Pretendard-Thin.woff2)format("woff2"),url(./fonts/Pretendard-Thin.woff)format("woff")
}
body {
    line-height: 1.25;
    font-family: "SUIT", sans-serif;
    font-size: 15px;
    color: #111;
}
.main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.main [class^=article] {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 80px;
    width: 718px;
    display: inline-block;
    position: relative;
}

*, ::after, ::before {
    box-sizing: border-box;
}

* {
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
}

*, fieldset {
    margin: 0;
    padding: 0;
}

.main .article-menu .grid-wrap ul {
    display: block;
    font-size: 0;
}

ul {
    list-style: none;
}

.main .article-menu .grid-wrap .grid-item-l {
    width: 520px;
    height: 340px;
    float: left;
}

.main .article-menu .grid-wrap [class^=grid-item] {
    display: inline-block;
}

.main .article-menu .grid-wrap [class^=grid-item] a {
    border-radius: 20px;
    font-size: 16px;
    padding: 30px;
}



.main .article-menu .grid-wrap [class^=grid-item] a {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    background: #f4f4f4;
    padding: 20px 10px;
}

.main .article-menu .grid-wrap .grid-item-l a {
    background: #f0543a;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    align-items: inherit;
    padding: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.main .article-menu .grid-wrap .grid-item-l a .ico-main-search {
    right: 40px;
    bottom: 20px;
}


.main .article-menu .grid-wrap .grid-item-l a .ico-main-search {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin-bottom: 0;
}
.ico-main-search {
    width: 150px;
    height: 135px;
    background-image: url(./images/main.png);
    background-size: cover;
}
.ico-main-search {
    width: 240px;
    height: 216px;
}

.main .article-menu .grid-wrap [class^=grid-item] .desc {
    display: block;
    font-size: 15px;
    margin-top: 9px;
    line-height: 1.67;
    margin-right: 60px;
}

.main .article-menu .grid-wrap .grid-item-l a .btn-type3 {
    display: inline-flex;
    width: 100px;
    height: 42px;
    padding: 0;
    font-size: 14px;
    margin-top: 30px;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.btn-download, .btn-type3 {
    justify-content: center;
    width: auto;
    height: 38px;
    border: 1px solid #94949a;
    color: #94949a;
    font-size: 13px;
    line-height: 1;
    background: #fff;
    border-radius: 19px;
    padding: 0 20px;
}
.btn-download, .btn-type3 {
    height: 48px;
    background: #fff;
    border-radius: 24px;
}


.btn-download, .btn-type3, .btn-type4, .btn-type5, .btn-type6, .btn-type7 {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}

.main .article-menu .grid-wrap .grid-item-l a .btn-type3 i {
    margin-left: 2px;
}

.ico-arrow14, .ico-arrow15, .ico-arrow16, .ico-down, .ico-up, .ico-up2, .ico-up3 {
    width: 16px;
    height: 16px;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow14.svg);
}

.main .article-menu .grid-wrap .grid-item-l a {
    font-size: 26px;
    padding: 55px 60px;
}

.main .article-menu .grid-wrap .grid-item-m {
    margin-top: 18px;
    width: 251px;
    height: 161px;
    float: left;
}

.main .article-menu .grid-wrap [class^=grid-item] {
    display: inline-block;
}

.main .article-menu .grid-wrap [class^=grid-item] a {
    border-radius: 20px;
    font-size: 16px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-weight: 500;
   

}
.main .article-menu .grid-wrap .grid-item-m a {
    align-items: inherit;
    padding: 30px;
    background: #ffe4c9;
}

.main .article-menu .grid-wrap .grid-item-m a [class^=ico-main] {
    position: absolute;
    right: 40px;
    bottom: 40px;
    margin-bottom: 0;
}

.main .article-menu .grid-wrap .grid-item-m a .title {
    font-weight: 600;
    font-size: 20px;
}

.main .article-menu .grid-wrap .grid-item-m a [class^=ico-main] {
    position: absolute;
    right: 40px;
    bottom: 40px;
    margin-bottom: 0;
}

.ico-main-event {
    background-image: url(https://www.freet.co.kr/assets/images/icon/main-event.svg);
}

.ico-main-cs, .ico-main-event, .ico-main-guide, .ico-main-phone, .ico-main-self, .ico-main-usim, .ico-pin {
    width: 50px;
    height: 50px;
}

.ico-kakaopay, .ico-laptop, .ico-main-cs, .ico-main-event, .ico-main-guide, .ico-main-phone, .ico-main-self, .ico-main-usim, .ico-payco, .ico-visa {
    display: inline-block;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.ico-main-self{
  background-image: url(https://www.freet.co.kr/assets/images/icon/main-self.svg);
}

.main .article-menu .grid-wrap .grid-item-s {
    margin-left: 18px;
    width: 180px;
    height: 161px;
}

.main .article-menu .grid-wrap .grid-item-s a {
    justify-content: center;
}


.main .article-menu .grid-wrap [class^=grid-item] a {
    border-radius: 20px;
    font-size: 16px;
    padding: 30px;
}

.main .article-menu .grid-wrap [class^=grid-item] [class^=ico-main] {
    margin-bottom: 18px;
}

.ico-main-usim {
    display: inline-block;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/main-uslm.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.main .article-menu .grid-wrap .grid-item-m+.grid-item-m {
    margin-left: 18px;
}

.ico-main-cs {
    background-image: url(https://www.freet.co.kr/assets/images/icon/main-cs.svg);
}

.ico-main-phone {
    background-image: url(https://www.freet.co.kr/assets/images/icon/main-phone.svg);
    
}

.main .article-menu .grid-wrap .grid-item-s+.grid-item-s {
    margin-top: 18px;
}

.main .article-menu .grid-wrap .grid-item-s a .title {
    font-size: 16px;
    font-weight: 600;
}

.mt-2 {
    margin-top: 20px !important;
}

element.style {
    margin-top: 40px;
}

.pc-only {
    display: block;
}


img {
    border: 0;
    vertical-align: top;
    width: 100%;
}

.main [class^=article] {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 80px;
    width: 718px;
    display: inline-block;
    position: relative;
}

.main .article-plan .main-title {
    margin-bottom: 15px;
}

.main [class^=article] .main-title .title-type {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
}

