@charset "UTF-8";
@font-face {
    font-family: "SUIT";
    font-weight: 300;
    src: local("SUIT-Light"),url(../fonts/SUIT-Light.woff2)format("woff2"),url(../fonts/SUIT-Light.otf)format("wopentypeoff")
}

@font-face {
    font-family: "SUIT";
    font-weight: 400;
    src: local("SUIT-Regular"),url(../fonts/SUIT-Regular.woff2)format("woff2"),url(../fonts/SUIT-Regular.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 600;
    src: local("SUIT-SemiBold"),url(../fonts/SUIT-SemiBold.woff2)format("woff2"),url(../fonts/SUIT-SemiBold.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 700;
    src: local("SUIT-Bold"),url(../fonts/SUIT-Bold.woff2)format("woff2"),url(../fonts/SUIT-Bold.otf)format("opentype")
}
@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),url(../fonts/Pretendard-Black.woff2)format("woff2"),url(../fonts/Pretendard-Black.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),url(../fonts/Pretendard-ExtraBold.woff2)format("woff2"),url(../fonts/Pretendard-ExtraBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(../fonts/Pretendard-Bold.woff2)format("woff2"),url(../fonts/Pretendard-Bold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(../fonts/Pretendard-SemiBold.woff2)format("woff2"),url(../fonts/Pretendard-SemiBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),url(../fonts/Pretendard-Medium.woff2)format("woff2"),url(../fonts/Pretendard-Medium.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(../fonts/Pretendard-Regular.woff2)format("woff2"),url(../fonts/Pretendard-Regular.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),url(../fonts/Pretendard-Light.woff2)format("woff2"),url(../fonts/Pretendard-Light.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),url(../fonts/Pretendard-ExtraLight.woff2)format("woff2"),url(../fonts/Pretendard-ExtraLight.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),url(../fonts/Pretendard-Thin.woff2)format("woff2"),url(../fonts/Pretendard-Thin.woff)format("woff")
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    word-break: break-all;
}

body {
    line-height: 1.25;
    font-family: "SUIT", sans-serif;
    font-size: 16px;
    color: #111;
}
a {
    color: inherit;
    text-decoration: none;
}
ol, ul {
    list-style: none;
}

@media (min-width: 1200px) {
    #content {
        padding-bottom: 120px;
    }
}

#content {
    padding: 30px 0 80px;
}

@media (min-width: 1200px) {
    .inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
}
.inner {
    position: relative;
    width: 100%;
    padding: 0 20px;
}
@media (min-width: 1200px) {
    .page-header.side {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .page-header {
        position: inherit;
        text-align: center;
        padding-right: 0;
    }
}
.page-header {
    margin-bottom: 40px;
    padding-right: 40px;
}
@media (min-width: 1200px) {
    .page-header.side .page-title {
        font-size: 28px;
    }
}

@media (min-width: 1200px) {
    .page-header .page-title {
        font-size: 40px;
        line-height: 1.2;
    }
}
.page-header .page-title {
    font-size: 22px;
    line-height: 1.6;
    font-weight: 600;
}
@media (min-width: 1200px) {
    .page-header.side .location {
        margin-bottom: 0;
    }
}
.location {
    display: none;
}
@media (min-width: 1200px) {
    .location {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;
        line-height: 1.7;
        color: #343434;
        margin-bottom: 20px;
    }
}
@media (min-width: 1200px) {
    .location .home {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        background-image: url(https://www.freet.co.kr/assets/images/icon/home.svg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1200px) {
    .location a {
        position: relative;
        margin-right: 25px;
    }
}
.hidden {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}
@media (min-width: 1200px) {
    .location a:after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        vertical-align: middle;
        background-image: url(https://www.freet.co.kr/assets/images/icon/arrow.svg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        position: absolute;
        right: -18px;
        top: 50%;
        margin-top: -5px;
    }
}

/* inner box */

@media (min-width: 769px) {
    .inner-box {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .inner-box {
        max-width: 852px;
        margin: 0 auto;
        text-align: center;
    }
}
.tab-wrap {
    margin-bottom: 30px;
}
@media (min-width: 1200px) {
    .section-inquiry .tab-wrap {
        max-width: 852px;
        margin-bottom: 60px;
    }
}
@media (min-width: 1200px) {
    .tab-wrap {
        max-width: 504px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .tab-type {
        border-radius: 30px;
    }
}


.tab-type {
    display: flex;
    background: #f1f3fb;
    border-radius: 30px;
}

.tab-type li {
    width: 100%;
}

.tab-type li.active a {
    background: #3f4970;
    color: #fff;
}

.tab-type li a, .tab-type li label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    border-radius: 21px;
    font-size: 13px;
    font-weight: 600;
    color: #3f4970;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}
@media (min-width: 1200px) {
    .tab-type li a, .tab-type li label {
        /* 이게 맞나..? */
        height: 60px;
        border-radius: 30px;
        font-size: 16px;
    }
}

/* 바디(form) 내용 */


.form-table .form-dl .form-dt {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    margin-bottom: 20px;
}
@media (min-width: 1200px) {
    .form-table {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .form-table .form-dl {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .form-table .form-dl .form-dt {
        width: 260px;
        font-size: 20px;
        margin-bottom: 0;
        padding-top: 16px;
    }
}

.focus {
    color: #f0543a;
}

@media (min-width: 1200px) {
    .form-table .form-dl .form-dd {
        width: calc(100% - 260px);
    }
}

.form-table .form-col2 {
    display: flex;
    justify-content: space-between;
}


.form-table .form-col2>div {
    width: calc(50% - 5px);
}

.select-type2 {
    position: relative;
    width: 100%;
}
@media (min-width: 1200px) {
    .select-type2 {
        height: 64px;
    }
}

select, input, textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    border: 0;
    font-family: "SUIT", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 600;
    font-size: 15px;
    color: inherit;
}
/* input, select, textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    outline: 0;
    font-family: "SUIT", sans-serif;
    color: inherit;
} */
input, select, strong {
    font-weight: 600;
}
.select-type2 .title {
    display: none;
}

.select-type2 .nice-select.open {
    background-color: #ffebe8;
    border-color: #ff8c79;
}
.nice-select.open:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.select-type2 .nice-select {
    background: #f4f4f4;
    font-size: 15px;
    height: 56px;
    line-height: 56px;
    border-radius: 12px;
}
@media (min-width: 1200px) {
    .select-type2 .nice-select {
        font-size: 18px;
        height: 64px;
        line-height: 64px;
    }
}

.select-type2 .nice-select.open .current {
    color: #111;
}
.select-type2 .nice-select .current {
    color: #94949a; 
}
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    border: 1px solid #efefef;
    border-radius: 12px;
    color: #94949a;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    outline: none;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    font-weight: 600;
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}
.select-type2 .nice-select .list {
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    border: solid 1px #e3e3e3;
}
.select-type2 .nice-select.open .list {
    transform: translateY(8px);
    max-height: 240px;
    padding: 10px 0;
    z-index: 11;
}

@media (min-width: 1200px) {
    .select-type2 .nice-select .list {
        max-height: 265px;
    }
}
.nice-select .list {
    background-color: #fff;
    border: 1px solid #efefef;
    border-top: none;
    border-radius: 0 0 12px 12px;
    /* box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11); */
    box-sizing: content-box;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -1px;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: translateY(-21px);
    -ms-transform: translateY(-21px);
    transform: translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    font-weight: 600;
}

.select-type2 .nice-select .option.selected.focus {
    color: #111;
}
.select-type2 .nice-select .option.focus {
    color: #111;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    color: #f0543a;
}


.nice-select .option {
    cursor: pointer;
    font-weight: 600;
    line-height: 34px;
    list-style: none;
    min-height: 34px;
    outline: none;
    padding: 0 20px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

@media (min-width: 1200px) {
    .select-type2 .nice-select .option {
        font-size: 18px;
        line-height: 40px;
        min-height: 40px;
    }
}
.select-type2 .nice-select:after {
    width: 20px;
    height: 20px;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow8.svg);
}

.nice-select:after {
    content: '';
    display: block;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

::before, ::after {
    box-sizing: border-box;
}

.form-item {
    position: relative;
    margin-top: 12px;
}


/* 스크롤 바************************************************************* */

#wrap::-webkit-scrollbar, body::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 2px;
}
#wrap::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background: #3f4970;
    border-radius: 8px;
}
#wrap::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: #e3e3e3;
    border-radius: 8px;
}

  .select-type2 .nice-select .list::-webkit-scrollbar {
    display: block;
    width: 20px;
  }
  .select-type2 .nice-select .list::-webkit-scrollbar-thumb {
    background-color: #8a93b4;
    border: 7px solid #fff;
    border-radius: 12px;
  }
  .select-type2 .nice-select .list::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
/* *********************************************************************** */
/* 고객정보 */

.form-table .form-dl+.form-dl {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #efefef;
}

@media (min-width: 1200px) {
    .form-table .form-dl {
        display: flex;
    }
}

.form-table .form-dl .form-dt {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .form-table .form-dl .form-dt {
        width: 260px;
        font-size: 20px;
        margin-bottom: 0;
        padding-top: 16px;
    }
}
@media (min-width: 1200px) {
    .form-table .form-col2-w {
        display: flex;
        justify-content: space-between;
    }
}


@media (min-width: 1200px) {
    .form-table .form-col2-w .form-item {
        margin-top: 0;
    }
}

.form-item:first-child {
    margin-top: 0;
}

.form-item {
    position: relative;
    margin-top: 12px;
}





input[type=text], input[type=submit], input[type=password], 
input[type=search], input[type=number], input[type=reset], 
input[type=email], input[type=tel], input[type=search], 
input[type=file], input[type=email], input[type=tel] {
    height: 56px;
    padding: 0 20px;
    border: 1px solid #efefef;
    background: #f4f4f4;
    color: #111;
    border-radius: 12px;
}


@media (min-width: 1200px) {
    input[type=text], input[type=submit], input[type=password],
     input[type=search], input[type=number], input[type=reset], 
     input[type=email], input[type=tel], input[type=search], 
     input[type=file], input[type=email], input[type=tel] {
        height: 64px;
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .form-item input {
        padding-top: 17px;
    }
}
.form-item input {
    padding-top: 15px;
}
.form-item input:not(:placeholder-shown)+.title {
    font-size: 11px;
    top: 9px;
    color: #94949a;
}

@media (min-width: 1200px) {
    .form-item input:not(:placeholder-shown)+.title {
        font-size: 13px;
    }
}

.form-item label.title {
    position: absolute;
    left: 20px;
    top: 19px;
    display: block;
    transition: all .2s ease;
    pointer-events: none;
    font-size: 15px;
    font-weight: 600;
    color: #94949a;
}

@media (min-width: 1200px) {
    .form-item label.title {
        font-size: 18px;
        top: 21px;
    }
}

.form-item .invalid-feedback {
    display: block;
    margin-top: 6px;
    color: #f0543a;
    font-size: 14px;
    line-height: 1.7;
    padding: 0 20px;
    text-align: left;
}

@media (min-width: 1200px) {
    .form-item .invalid-feedback {
        margin-top: 10px;
        font-size: 15px;
    }
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}
@media (min-width: 1200px) {
    .select-type2 .nice-select .option {
        font-size: 18px;
        line-height: 40px;
        min-height: 40px;
    }
}

.nice-select .option.selected {
    color: #f0543a;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 600;
    line-height: 34px;
    list-style: none;
    min-height: 34px;
    outline: none;
    padding: 0 20px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.form-table .flex-end {
    margin-top: 13px;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}

.chk-box:first-child {
    margin-left: 0;
}

.chk-box {
    display: inline-block;
    text-align: left;
}

.chk-box input[type=checkbox], .chk-box input[type=radio] {
    display: none;
}

input:disabled {
    opacity: 1;
    color: #c3c3c9;
}

input[type=radio], input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.chk-box .checkbox {
    display: inline-block;
    position: relative;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 6px;
    border: 1px solid #94949a;
    background-color: #fff;
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .chk-box .checkbox {
        margin-right: 10px;
    }
}

.chk-box label {
    cursor: pointer;
    vertical-align: middle;
    font-size: 16px;
}

.chk-box input[type=checkbox]+.checkbox:before {
    -webkit-transform: translate(6px, 9px) rotate(45deg);
    transform: translate(6px, 9px) rotate(45deg);
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
}

.chk-box input[type=checkbox]+.checkbox:before, .chk-box input[type=checkbox]+.checkbox:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #f4f4f4;
    border-radius: 15px;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}

.chk-box input[type=checkbox]+.checkbox:after {
    -webkit-transform: translate(10px, 14px) rotate(-53deg);
    transform: translate(10px, 14px) rotate(-53deg);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

/* 보안문자 */
.form-table .form-security {
    display: flex;
}
.form-table .form-security .security-box {
    width: calc(100% - 132px);
    border: 1px solid #efefef;
    border-radius: 12px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1200px) {
    .form-table .form-security .security-box {
        width: calc(100% - 148px);
    }
}

.form-table .form-security .security-box p {
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 10px;
}

.form-table .form-security .btn-link {
    margin-left: 10px;
    width: 56px;
    height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #c3c3c9;
    border-radius: 12px;
}


@media (min-width: 1200px) {
    .form-table .form-security .btn-link {
        width: 64px;
        height: 64px;
    }
}

button {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    font-family: "SUIT", sans-serif;
    color: inherit;
}

.ico-reset2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/reset2.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.ico-sound {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/sound.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.form-item.ntit input {
    padding-top: 0;
}

/* 내용 */
::-webkit-scrollbar {
    display: none;
    width: 2px;
    height: 2px;
}
.form-text-box {
    position: relative;
    background: #f4f4f4;
    border-radius: 12px;
    padding: 20px 20px 40px;
    border: 1px solid #efefef;
}

.form-text-box textarea {
    height: 175px;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
}

textarea {
    overflow: hidden;
    overflow-y: auto;
    height: 140px;
    resize: none;
    line-height: 1.67;
    font-weight: 600;
    font-size: 15px;
    background: #f4f4f4;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #efefef;
}

@media (min-width: 1200px) {
    textarea {
        height: 160px;
        font-size: 18px;
    }
}

.form-text-box .maxlenth {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #94949a;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.67;
}


@media (min-width: 1200px) {
    .form-text-box .maxlenth {
        font-size: 18px;
    }
}

.form-text-box .maxlenth .max {
    color: #111;
}
strong {
    font-weight: 600;
}
address, caption, em, i, var {
    font-style: normal;
    font-weight: inherit;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* focus */
.form-item.is-invalid input {
    background: #ffebe8;
    border-color: #f0543a;
}

input[type=number]:focus, input[type=password]:focus, 
input[type=tel]:focus, input[type=text]:focus {
    border-color: #ffc2b8;
    background: #ffebe8;
    outline: 0;
}

.form-item input:focus~.title {
    font-size: 11px;
    top: 9px;
    color: #f0543a;
}

@media (min-width: 1200px) {
    .form-item input:focus~.title {
        font-size: 13px;
    }
}

/* 파일첨부 */
.form-item .form-flex {
    display: flex;
}

.form-file, .form-search {
    position: relative;
}

.form-item .form-flex input {
    width: calc(100% - 108px);
}

@media (min-width: 1200px) {
    .form-item .form-flex input {
        width: calc(100% - 120px);
    }
}

input, select {
    border-radius: 0;
    border: 0;
    font-size: 15px;
}


.form-file .file-input:disabled {
    background: #f4f4f4;
    color: #111;
}

.form-item .form-flex input {
    width: calc(100% - 108px);
}

@media (min-width: 1200px) {
    .form-item .form-flex input {
        width: calc(100% - 120px);
    }
}

.form-item input:disabled {
    background: #fff;
}

.form-file .file-input {
    padding-top: 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-file input[type=file] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



.form-item .form-flex .btn-form {
    width: 98px;
    margin-left: 10px;
}
@media (min-width: 1200px) {
    .form-item .form-flex .btn-form {
        width: 110px;
    }
}
.form-file .btn-form {
    cursor: pointer;
}

.btn-form {
    background: #3f4970;
    color: #fff;
    font-size: 14px;
}
.btn-form, .button-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 56px;
    border-radius: 12px;
    font-weight: 600;
    width: 100%;
    transition: background .2s ease;
}

@media (min-width: 1200px) {
    .btn-form {
        height: 64px;
        font-size: 18px;
        max-width: 200px;
    }
}

.form-table .form-file+.list-type {
    margin-top: 20px;
}

.list-type {
    font-size: 13px;
    line-height: 1.7;
    color: #343434;
    text-align: left;
}

@media (min-width: 1200px) {
    .list-type {
        font-size: 15px;
        line-height: 1.7;
    }
}

.list-type li:first-child {
    margin-top: 0;
}
.list-type li {
    margin-top: 5px;
    padding-left: 7px;
}
@media (min-width: 1200px) {
    .list-type li {
        margin-top: 7px;
    }
}

.list-type li, .tooltip-guide span, .tooltip-wrap {
    position: relative;
}
.list-type li::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 3px;
    height: 3px;
    background: #94949a;
    border-radius: 100%;
}
@media (min-width: 1200px) {
    .list-type li:before {
        top: 11px;
    }
}

/* 개인정보 수집 및 이용 동의 */
.pc-only {
    display: none;
}
@media (min-width: 1200px) {
    .pc-only {
        display: block;
    }
}

.form-table .terms {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
}
@media (min-width: 1200px) {
    .form-table .terms {
        font-size: 15px;
    }
}

.form-table .terms p {
    margin-bottom: 10px;
}

@media (min-width: 1200px) {
    .form-table .terms p {
        margin-bottom: 15px;
    }
}

.form-table .terms .box-type2 {
    padding: 20px 25px;
    margin-top: 20px;
}
@media (min-width: 1200px) {
    .form-table .terms .box-type2 {
        padding: 30px;
    }
}

.box-type2 {
    background: 0 0;
    border-radius: 20px;
    padding: 25px;
    border: 1px solid #e3e3e3;
}

.form-table .terms .box-type2 .chk-box label {
    font-size: 15px;
}

@media (min-width: 1200px) {
    .form-table .terms .box-type2 .chk-box label {
        font-size: 16px;
    }
}

.chk-box input[type=checkbox]+.checkbox:after, .chk-box input[type=checkbox]+.checkbox:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #f4f4f4;
    border-radius: 15px;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}

.chk-box.selected input[type=checkbox]+.checkbox {
    background: #f0543a;
    border-color: #f0543a;
}

.chk-box.selected input[type=checkbox]~.checkbox:before {
    transition-delay: 0ms;
}
.chk-box.selected input[type=checkbox]~.checkbox:after, 
.chk-box.selected input[type=checkbox]~.checkbox:before {
    background: #fff;
}
.chk-box input[type=checkbox]:checked~.checkbox:before {
    width: 7px;
}


.chk-box.selected input[type=checkbox]~.checkbox:after {
    transition-delay: 100ms;
}

.chk-box.selected input[type=checkbox]~.checkbox:after, 
.chk-box.selected input[type=checkbox]~.checkbox:before {
    background: #fff;
}

.chk-box input[type=checkbox]:checked~.checkbox:after {
    width: 10px;
}

.chk-box input[type=checkbox]:checked~.checkbox:after, 
.chk-box input[type=checkbox]:checked~.checkbox:before {
    background: #fff;
}

/* 버튼  */
.btn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.button-default.disabled, .disabled.btn-form, 
.disabled.btn-type, .disabled.btn-type-sm, 
.disabled.btn-type2 {
    pointer-events: none;
    color: #fff;
    opacity: .4;
}

.btn-wrap [class^=btn-type], .tab-type li, .tab-type2 li {
    width: 100%;
}


.btn-type, .btn-type-sm{
    background: #f0543a;
    color: #fff;
}

@media (min-width: 1200px) {
    .btn-type, .btn-type-sm, .btn-type2, .button-default {
        max-width: 200px;
        height: 64px;
        font-size: 20px;
    }
}

.btn-type, .btn-type-sm, .btn-type2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    font-weight: 600;
    width: 100%;
    transition: background .2s ease;
}

.btn-type, .btn-type2 {
    height: 56px;
    font-size: 16px;
}

.btn-type-sm:hover, .btn-type:hover {
    background: #e2391d;
}

.disabled.btn-type:hover, .disabled.btn-type-sm:hover {
    background: #f0543a; /* 비활성화 상태에서 hover 시 원래의 색상으로 유지 */
}

/* modal 창 */
@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}
.pop-layer {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;
    width: 100%;
    height: 100%;
}
.pop-layer .dim {
    display: block;
}
.dim {
    z-index: -1;
}

.body-dim, .dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, .7);
}
.pop-layer .pop-wrap {
    position: relative;
    width: calc(100% - 80px);
}
@media (min-width: 1200px) {
    .pop-layer .pop-wrap, .pop-layer .pop-wrap.v2 {
        width: 360px;
    }
}
.pop-alert .pop-content {
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 85vh;
}

@media (min-width: 1200px) {
    .pop-layer .pop-content {
        padding: 40px;
        overflow: hidden;
        max-height: 650px;
    }
}

.pop-alert .pop-content p {
    font-size: 16px;
    line-height: 1.6;
}
@media (min-width: 1200px) {
    .pop-alert .pop-content p {
        font-size: 16px;
    }
}
.pop-layer .btn-wrap {
    margin-top: 20px;
}

.pop-layer .btn-wrap .btn-type {
    height: 42px;
    font-size: 13px;
    width: 100px;
}

@media (min-width: 1200px) {
    .pop-layer .btn-wrap .btn-type {
        height: 50px;
        width: 120px;
        font-size: 15px;
    }
}

.btn-type.v3 {
    background: #f1f3fb;
    color: #3f4970;
}
.btn-wrap [class^=btn-type]:nth-child(n+2) {
    margin-left: 10px;
}


/* 위로 이동하는 버튼 */
.quick.up {
    transform: translateY(0);
}

.quick {
    position: fixed;
    right: auto;
    left: 50%;
    margin-left: 620px;
    z-index: 101;
    transition: .3s ease-out;
}
.quick ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.quick ul li+li {
    margin-top: 8px;
}

.quick.up .btn-top {
    opacity: 1;
    border-image-source: linear-gradient(148deg, rgba(255, 255, 255, 0.71) 9%, rgba(255, 255, 255, 0.25) 95%);
    background-color: rgba(255, 255, 255, .8);
}

.quick ul li a {
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    backdrop-filter: blur(2px);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.ico-top {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/top.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pc-only {
    display: block;
}

.review-description .photo {
    position: relative;
    display: inline-flex;
    z-index: 1;
}

.review-description .photo .icon-photo {
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.review-description .photo .icon-photo {
    width: 100px;
    height: 100px;
}

.review-description .photo .icon-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

img {
    border: 0;
    vertical-align: top;
}

.layout-rc>.flag-type{
    text-align: center;
}

.layout-rc{
    margin-top: 10px;
}

.review-description .photo .icon-photo:nth-of-type(n+2) {
    margin-left: 50px;
}

.photo{
    margin-left: 15px;
}

.f2-h4-16--body2{
    text-align: center;
}

.photo-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; /* 줄 바꿈 방지 */
}

.photo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* 사진 간 간격 설정 */
}

.icon-photo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid transparent; /* 기본 상태에서 투명 테두리 */
    transition: border-color 0.3s ease; /* 테두리 색상이 부드럽게 전환 */
}

.photo-description {
    text-align: center;
    margin-top: 10px;
}

.photo-item.selected {
    background-color: #ffc2b8; /* 선택된 상태에서 배경색 적용 */
    border-radius: 12px;
    transition: 0.2s;
}


.review-item-wrap .review-item {
    padding: 30px 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e3e3e3;
}

.review-item {
    list-style: none;
}

.review-item .review-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.review-item .review-top .box {
    display: flex;
    align-items: center;
}

.mr-2 {
    margin-right: 20px !important;
}

.review-item .review-top [class^=star] {
    background-size: 100px 40px;
}

.review-item .review-top .star-grade {
    width: 100px;
    font-size: 0;
    text-indent: -999em;
}

.review-item .review-top [class^=star] {
    background-size: 100px 40px;
    background: url(https://qa.freet.co.kr/assets/images/icon/star-graph.png) no-repeat;
}

.review-item .review-top .star-grade .star {
    height: 20px;
    display: block;
    background-position-y: 100%;
}

.review-item .review-top .info {
    font-size: 16px;
    margin-left: 15px;
}

.review-item .review-top .info .date {
    margin-left: 10px;
    color: #94949a;
}

.review-description .content {
    margin-top: 20px;
}

.review-description .content p {
    font-size: 15px;
    line-height: 1.67;
}

.review-description .text-more {
    color: #c3c3c9;
    font-weight: 600;
}

.review-description .details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.width-100 {
    width: 100% !important;
}

.status-light {
    background-color: #664af1;
    margin-right: 4px;
    color: #fff;
}

.flag-type {
    width: 44px;
    height: 24px;
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 6px;
}

.review-description .content p {
    font-size: 15px;
    line-height: 1.67;
}

.ml-10-0 {
    margin-left: 10px !important;
}

.f-bold {
    font-weight: 600 !important;
}


.review-item .review-top [class^=star] {
    background-size: 100px 40px;
}

.layout-rc {
    flex-direction: row !important;
    display: flex;
}

.divider--type7 {
    background-color: #e3e3e3;
    width: 100%;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.content-box{
    max-width: 852px;
        margin: 0 auto;
}