<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FAQ</title>
        <link rel="stylesheet" href="/static/css/faq/faq.css" />
    </head>
    <body>
        <div id="container">
            <section id="content" class="section-faq">
                <div class="inner">
                    <div class="page-header side">
                        <h2 class="page-title">자주 묻는 질문</h2>
                        <div class="location">
                            <a href="/" class="home"
                                ><span class="hidden">HOME</span></a
                            >
                            <a href="/customer/helpDesk"> 고객센터 </a>
                            <strong> 자주 묻는 질문 </strong>
                        </div>
                    </div>
                    <section class="content-box">
                        <div class="form-flex-wrap">
                            <div class="select-type2">
                                <select
                                    id="filter-comType"
                                    style="display: none"
                                >
                                    <option class="title" value="" selected="">
                                        전체
                                    </option>
                                    <option value="PCO">공통</option>
                                    <option value="PPR">선불</option>
                                    <option value="PPT">후불</option>
                                </select>
                                <div class="nice-select" tabindex="0">
                                    <span class="current">전체</span>
                                    <ul class="list">
                                        <li data-value="" class="option">
                                            전체
                                        </li>
                                        <li data-value="PCO" class="option">
                                            공통
                                        </li>
                                        <li data-value="PPR" class="option">
                                            선불
                                        </li>
                                        <li data-value="PPT" class="option">
                                            후불
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-search">
                                <input
                                    id="schKey"
                                    type="text"
                                    placeholder="검색어를 입력하세요"
                                    maxlength="20"
                                />
                                <button class="btn-search" id="btn-search">
                                    <i class="ico-search"></i
                                    ><span class="hidden">검색</span>
                                </button>
                                <button type="button" class="btn-clear hidden">
                                    <i class="ico-input-delete"></i
                                    ><span class="hidden">지우기</span>
                                </button>
                            </div>
                        </div>
                        <div class="filter-wrap">
                            <ul class="js_toggle2">
                                <div id="cateListHtml">
                                    <li id="cate_all">
                                        <a
                                            href="javascript:setCateBySearch('all')"
                                            >전체</a
                                        >
                                    </li>

                                    <li id="cate_1" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('1')"
                                            >가입/번호이동</a
                                        >
                                    </li>

                                    <li id="cate_2" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('2')"
                                            >요금조회/납부</a
                                        >
                                    </li>

                                    <li id="cate_3" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('3')"
                                            >부가서비스</a
                                        >
                                    </li>

                                    <li id="cate_6" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('6')"
                                            >통화품질</a
                                        >
                                    </li>

                                    <li id="cate_7" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('7')"
                                            >변경/해지</a
                                        >
                                    </li>

                                    <li id="cate_9" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('9')"
                                            >셀프개통</a
                                        >
                                    </li>

                                    <li id="cate_11" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('11')"
                                            >eSIM</a
                                        >
                                    </li>

                                    <li id="cate_12" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('12')"
                                            >선불서비스</a
                                        >
                                    </li>

                                    <li id="cate_13" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('13')"
                                            >요금제</a
                                        >
                                    </li>

                                    <li id="cate_14" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('14')"
                                            >할인/이벤트</a
                                        >
                                    </li>

                                    <li id="cate_15" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('15')"
                                            >해외로밍</a
                                        >
                                    </li>

                                    <li id="cate_17" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('17')"
                                            >교환/배송</a
                                        >
                                    </li>

                                    <li id="cate_18" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('18')"
                                            >유심</a
                                        >
                                    </li>

                                    <li id="cate_19" class="cateVal">
                                        <a
                                            href="javascript:setCateBySearch('19')"
                                            >휴대폰</a
                                        >
                                    </li>
                                </div>
                            </ul>
                            <a href="javascript:void(0)" class="btn-open"></a>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </body>
    <script src="/static/js/faq/faq.js"></script>
</html>
