<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="../../static/css/myPage/mobile-userInfo.css"
        />
        <title>회원정보</title>
    </head>
    <body>
        <div id="container">
            <section id="content" class="section-mypage my-chg-content bottom">
                <div class="inner">
                    <div class="tool-box">
                        <div class="btn-box">
                            <a href="javascript:void(0)" class="btn-back">
                                <i class="ico-back"></i>
                                <span class="hidden">뒤로가기</span>
                            </a>
                        </div>
                        <h1 class="page-title">회원정보</h1>
                    </div>

                    <section class="content-wrap">
                        <div class="inner-box">
                            <div id="memberInfoHtml">
                                <div class="box-type2" id="my_info1_01">
                                    <dl>
                                        <dt>아이디</dt>
                                        <dd>카카오 가입 계정</dd>
                                    </dl>
                                    <dl>
                                        <dt>이름</dt>
                                        <dd>안*진</dd>
                                    </dl>
                                    <dl>
                                        <dt>휴대폰번호</dt>
                                        <dd>010-79**-90**</dd>
                                    </dl>
                                    <dl>
                                        <dt>이메일</dt>
                                        <dd>qmd***@naver.com</dd>
                                    </dl>
                                    <dl>
                                        <dt>고객혜택안내</dt>
                                        <dd><span>수신</span></dd>
                                    </dl>
                                    <dl>
                                        <dt>마케팅/광고</dt>
                                        <dd><span>수신</span></dd>
                                    </dl>
                                    <dl>
                                        <dt>집주소</dt>
                                        <dd>-</dd>
                                    </dl>
                                    <dl>
                                        <dt>은행명</dt>
                                        <dd>국민은행</dd>
                                    </dl>
                                    <dl>
                                        <dt>계좌번호</dt>
                                        <dd>282402-04-148652</dd>
                                    </dl>
                                </div>
                                <div class="btn-wrap my-page-button">
                                    <button type="submit" class="btn-type">
                                        수정하기
                                    </button>
                                </div>
                            </div>
                        </div>
                        <aside class="lnb">
                            <div class="my-member-info" style="">
                                <!-- <div class="info-select-box v2">
                                    <div class="icon-box">
                                        <i class="ico-call5"></i>
                                    </div>
                                    <div class="text-box">
                                        <strong class="tit"
                                            >등록된 회선이 없습니다</strong
                                        >
                                        <p class="desc">
                                            프리티 회선이 있으시다면 등록해
                                            주세요!
                                        </p>
                                    </div>
                                    <div class="btn-wrap">
                                        <a
                                            href="javascript:void(0)"
                                            class="btn-type v2"
                                            >회선등록하기</a
                                        >
                                    </div>
                                </div> -->
                            </div>
                        </aside>
                    </section>
                </div>
            </section>
        </div>
    </body>
    <script src="../../static/js/myPage/userInfo.js"></script>
</html>
