<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="../../static/css/myPage/mobile-delecting-account.css"
        />
        <title>회원 탈퇴</title>
    </head>
    <body>
        <div id="container">
            <section id="content" class="section-mypage my-chg-content bottom">
                <div class="inner">
                    <div class="page-header side pc-only">
                        <h2 class="page-title">회원정보</h2>
                    </div>

                    <section class="content-wrap">
                        <div class="inner-box">
                            <div class="t-s">
                                <span class="f2-h1-22--h2-20 f-bold t-s"
                                    >탈퇴전 꼭 확인해주세요🚨</span
                                >
                            </div>
                            <div class="my-page-box-wrapper">
                                <div class="box-type t-s">
                                    <span class="body1--bold"
                                        >고객님의 회원정보는 24시간 동안
                                        보관되며 이후 삭제 처리됩니다.
                                    </span>
                                    <ul
                                        class="list-type"
                                        id="my_info1_03_01_02_1"
                                    >
                                        <li>
                                            탈퇴 후 24시간 동안 재가입이
                                            불가능합니다.
                                        </li>
                                    </ul>
                                </div>

                                <div class="box-type t-s">
                                    <span class="body1--bold">
                                        <span
                                            >고객님의 사이트 이용기록은
                                            전자상거래법 등 관련 법령 규정에
                                            의거하여 보유 의무사항이 있는 경우,
                                        </span>
                                        <br />
                                        <span
                                            >당사 고객정보 보호 정책에 따라 일정
                                            기간 보관됩니다.</span
                                        >
                                    </span>
                                    <ul
                                        class="list-type"
                                        id="my_info1_03_01_02_1"
                                    >
                                        <li>
                                            계약 또는 청약 철회 등에 관한 기록:
                                            5년 보관
                                        </li>
                                        <li>
                                            대금 결제 및 재화 등의 공급에 관한
                                            기록: 3년 보관
                                        </li>
                                        <li>
                                            소비자 불만 또는 분쟁 처리에 관한
                                            기록: 3년 보관
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="select-option-wrapper">
                                <span class="f2-h2-20--h3-18 f-bold"
                                    >탈퇴사유를 선택해주세요.</span
                                >
                                <div class="select-type2">
                                    <select
                                        id="reasonSelect"
                                        style="display: none"
                                    >
                                        <option
                                            class="title"
                                            value=""
                                            selected=""
                                        >
                                            탈퇴사유
                                        </option>
                                        <option
                                            class="title"
                                            value="사용할 만한 요금제가 없음"
                                        >
                                            사용할 만한 요금제가 없음
                                        </option>
                                        <option
                                            class="title"
                                            value="개통 후 서비스 불만"
                                        >
                                            개통 후 서비스 불만
                                        </option>
                                        <option
                                            class="title"
                                            value="타사이트 이용"
                                        >
                                            타사이트 이용
                                        </option>
                                        <option
                                            class="title"
                                            value="찾고자 하는 정보가 없음"
                                        >
                                            찾고자 하는 정보가 없음
                                        </option>
                                        <option
                                            class="title"
                                            value="재가입 목적"
                                        >
                                            재가입 목적
                                        </option>
                                    </select>
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">탈퇴사유</span>
                                        <ul class="list">
                                            <li
                                                data-value=""
                                                class="option selected"
                                            >
                                                탈퇴사유
                                            </li>
                                            <li
                                                data-value="사용할 만한 요금제가 없음"
                                                class="option"
                                            >
                                                사용할 만한 요금제가 없음
                                            </li>
                                            <li
                                                data-value="개통 후 서비스 불만"
                                                class="option"
                                            >
                                                개통 후 서비스 불만
                                            </li>
                                            <li
                                                data-value="타사이트 이용"
                                                class="option"
                                            >
                                                타사이트 이용
                                            </li>
                                            <li
                                                data-value="찾고자 하는 정보가 없음"
                                                class="option"
                                            >
                                                찾고자 하는 정보가 없음
                                            </li>
                                            <li
                                                data-value="재가입 목적"
                                                class="option"
                                            >
                                                재가입 목적
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrap">
                                <a
                                    href="javascript:void(0)"
                                    class="btn-type"
                                    id="withdrawBtn"
                                    >탈퇴하기</a
                                >
                            </div>
                        </div>
                        <aside class="lnb"></aside>
                    </section>
                </div>
            </section>
        </div>
    </body>
    <script src="../../static/js/myPage/delecting-account.js"></script>
</html>
