<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/css/myPage/myPoint.css" />
        <title>포인트 조회</title>
    </head>
    <body style="position: relative; min-height: 100%; top: 0px">
        <div class="container">
            <section id="content" class="section-mypage">
                <div class="inner">
                    <div class="">
                        <div class="page-header side">
                            <h2 class="page-title">내가 본 상품</h2>
                            <div class="location">
                                <a href="javascript:void(0)" class="home"
                                    ><span class="hidden">HOME</span></a
                                >
                                <a href="javascript:void(0)">마이페이지</a>
                                <strong>내가 본 상품</strong>
                            </div>
                        </div>
                    </div>
                    <section class="content-wrap">
                        <div class="inner-box">
                            <div class="tab-wrap v3">
                                <ul class="tab-type" id="parentWrap">
                                    <li class="active">
                                        <a
                                            href="javascript:void(0)"
                                            id="total-favorite"
                                            >적립 포인트<span class="tab-count"
                                                >0</span
                                            ></a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="javascript:void(0)"
                                            id="total-viewd"
                                            >사용 포인트
                                            <span class="tab-count">0</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nodata-box v2" id="no-data" style="">
                                <div class="icon-box">
                                    <i class="ico-empty"></i>
                                </div>
                                <p>적립된 포인트가 없습니다.</p>
                            </div>
                        </div>
                        <aside class="lnb">
                            <nav class="lnb-list">
                                <ul class="depth">
                                    <li>
                                        <a href="javascript:void(0)" class=""
                                            >나의 기본정보</a
                                        >
                                        <ul
                                            class="depth2"
                                            style="display: none"
                                        >
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060105"
                                                    >개인정보열람</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060106"
                                                    >나의 혜택 조회</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060107"
                                                    >나의 추천현황</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class=""
                                            >서비스 조회/변경</a
                                        >
                                        <ul
                                            class="depth2"
                                            style="display: none"
                                        >
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060201"
                                                    >유심 이용 휴대폰 등록</a
                                                >
                                            </li>

                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060203"
                                                    >번호 변경</a
                                                >
                                            </li>

                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060205"
                                                    >유심 변경</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060206"
                                                    >부가서비스 조회/신청</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            >요금조회 및 납부</a
                                        >
                                        <ul class="depth2" id="feeMenuMypage">
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060301"
                                                    >실시간 요금조회</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060302"
                                                    >청구요금조회</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060303"
                                                    >납부금액/미납 조회</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060304"
                                                    >청구서 관리</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060305"
                                                    >납부방법변경</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060306"
                                                    >휴대폰 소액결제</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060307"
                                                    >미환급금 조회</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            >선불 요금충전/관리</a
                                        >
                                        <ul class="depth2">
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060401"
                                                    >선불요금 충전</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060402"
                                                    >선불 데이터 충전</a
                                                >
                                            </li>
                                            <li class="dp-no-show">
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060403"
                                                    >가상계좌충전확인</a
                                                >
                                            </li>
                                            <li class="dp-no-show">
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060404"
                                                    >요금충전내역</a
                                                >
                                            </li>
                                            <li class="dp-no-show">
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060405"
                                                    >적립금변경이력</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            >일시정지/분실</a
                                        >
                                        <ul class="depth2">
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060501"
                                                    >일시정지 신청/해제</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060502"
                                                    >분실신고</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060503"
                                                    >해지신청</a
                                                >
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="javascript:void(0)" class=""
                                            >나의 관심 상품</a
                                        >
                                        <ul
                                            class="depth2"
                                            style="display: none"
                                        >
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_0607"
                                                    >나의 관심 상품</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </aside>
                    </section>
                </div>
            </section>
        </div>
    </body>
    <script src="../../static/js/myPage/myPoint.js"></script>
</html>
