<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/css/myPage/review.css" />
        <title>이용 후기</title>
    </head>
    <body>
        <div class="wrap">
            <div id="container">
                <section id="content" class="section-mypage">
                    <div class="inner">
                        <div class="page-header side event">
                            <h2 class="page-title">비워드림 이용 후기</h2>
                            <div class="location pc-only">
                                <a href="javascript:void(0)" class="home">
                                    <span class="hidden">HOME</span>
                                </a>
                                <a href="javascript:void(0)">이벤트/혜택</a>
                                <strong> 비워드림 이용 후기 </strong>
                            </div>
                        </div>
                    </div>
                    <div class="banner-write-review mb-3">
                        <input
                            type="hidden"
                            id="curPage"
                            name="curPage"
                            value="1"
                        />
                        <input type="hidden" id="isSearch" name="isSearch" />
                        <div class="title reviewInfo">
                            <div class="mb-4">
                                <p
                                    id="m-new-review-font"
                                    class="f2-title2--h2-20 f-bold mb-20-15 mt-22-0 new-review-font"
                                >
                                    소중한 후기는 감사의 선물을 싣고💌
                                    <br />
                                    후기 남기고 상품권 받자💴
                                </p>
                                <p class="f2-h4-22--body1">
                                    매월 우수후기고객을 추첨하여
                                    <strong> 신세계 상품권 2만원</strong>을
                                    드려요.
                                </p>
                                <p class="f2-h4-14--body1 focus mt-5-5">
                                    *우수후기 작성고객 추첨 1명당 신세계상품권
                                    2만원 증정, 추첨 최대 10명
                                </p>
                                <p class="f2-h4-14--body1 mt-5-5">
                                    *추첨월 익월초 홈페이지 당첨자 발표 후 문자
                                    발송
                                </p>
                            </div>
                        </div>
                        <div class="banner-white-box">
                            <div class="detail-wrapper">
                                <div class="detail-item">
                                    <div class="title text-l">
                                        비워드림 우수후기 TIP
                                    </div>
                                </div>
                                <div class="detail-item">
                                    <div class="title">1.</div>
                                    <div class="content">
                                        비워드림을 이용하게 된 이유를
                                        알려주세요!
                                        <div class="review-indent">
                                            (지인추천, 저렴하고 다양한 요금제
                                            등)
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-item">
                                    <div class="title">2.</div>
                                    <div class="content">
                                        비워드림 고객이라면 꼭 알아야 할
                                        꿀혜택과 장점을 소개해주세요!
                                        <div class="review-indent">
                                            (포인트 상점, 편리한 쓰레기 배출 등)
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-item">
                                    <div class="title">3.</div>
                                    <div class="content">
                                        비워드림을 더 많이 자랑해주세요! SNS,
                                        블로그 등에 해시태그, 이미지를 포함하여
                                        게시하고 URL 남기기!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <a href="javascript:void(0)" class="btn-type v2">
                                이용후기 작성하기
                            </a>
                        </div>
                    </div>
                    <div class="inner">
                        <section>
                            <div class="inner p-0">
                                <div class="inner2 p-0">
                                    <div class="divider--type7"></div>
                                    <div class="flex-between">
                                        <div class="flex align-center">
                                            <p
                                                class="f2-body1--body2 f-bold"
                                                id="totalCnt"
                                            >
                                                총 5개
                                            </p>
                                        </div>
                                        <div>
                                            <div class="select-type3">
                                                <select
                                                    id="orderType"
                                                    style="display: none"
                                                    class="selected"
                                                >
                                                    <option
                                                        class="title"
                                                        selected=""
                                                        value="new"
                                                    >
                                                        최근 등록 순
                                                    </option>
                                                    <option value="levelHigh">
                                                        평점 높은 순
                                                    </option>
                                                    <option value="levelLow">
                                                        평점 낮은 순
                                                    </option>
                                                </select>
                                                <div
                                                    class="nice-select"
                                                    tabindex="0"
                                                >
                                                    <span class="current"
                                                        >최근 등록 순</span
                                                    >
                                                    <ul class="list">
                                                        <li
                                                            data-value="new"
                                                            class="option selected"
                                                        >
                                                            최근 등록 순
                                                        </li>
                                                        <li
                                                            data-value="levelHigh"
                                                            class="option"
                                                        >
                                                            평점 높은 순
                                                        </li>
                                                        <li
                                                            data-value="levelLow"
                                                            class="option focus"
                                                        >
                                                            평점 낮은 순
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul
                                        class="review-item-wrap"
                                        id="listReviewHtml"
                                    >
                                        <li class="review-item">
                                            <div
                                                class="review-top justify-start-between mb-0"
                                            >
                                                <div class="box mr-2">
                                                    <div class="star-grade">
                                                        <span
                                                            class="star"
                                                            style="width: 100%"
                                                            >100%</span
                                                        >
                                                    </div>
                                                    <div class="info">
                                                        <span class="name"
                                                            >김*현</span
                                                        >
                                                        <span class="date"
                                                            >2024.08.27</span
                                                        >
                                                    </div>
                                                </div>

                                                <span class="tag-type3"
                                                    >우수리뷰</span
                                                >
                                            </div>

                                            <div class="review-description">
                                                <div>
                                                    <div class="content">
                                                        <a
                                                            href="javascript:void(0)"
                                                        >
                                                            <p class="pc-only">
                                                                요즘 물가가
                                                                치솟아서 지출을
                                                                조금이라도
                                                                줄여보고자
                                                                통신비 부분을
                                                                확실히
                                                                줄여야겠다고
                                                                생각했습니다.
                                                                그래서 알뜰폰
                                                                통신사들을 많이
                                                                찾아봤습니다.
                                                                고르고 골라서
                                                                나온 결론은
                                                                가성비 갑은
                                                                프리티가
                                                                으뜸입니다.<br />
                                                                <span
                                                                    class="text-more"
                                                                    >더보기</span
                                                                >
                                                            </p>
                                                        </a>

                                                        <div class="details">
                                                            <div
                                                                class="layout-rc width-100"
                                                            >
                                                                <span
                                                                    class="flag-type status-light"
                                                                    >라이트</span
                                                                >

                                                                <p
                                                                    class="f2-h4-16--body2 f-bold ml-10-0 mt-0-5"
                                                                >
                                                                    이순신
                                                                    기사님
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <a
                                                        href="javascript:void(0)"
                                                        class="review-toggle"
                                                    >
                                                        <div
                                                            class="pc-only mt-3"
                                                        >
                                                            <div
                                                                class="photo"
                                                                id="photoThumb100002848"
                                                            >
                                                                <div
                                                                    class="icon-photo"
                                                                >
                                                                    <img
                                                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMpcNr_aWT-h_8PqcpXdgdYqK5-Eir7IQ7tg&s"
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <a href="javascript:void(0)"> </a>
                                        </li>
                                        <li class="review-item">
                                            <div
                                                class="review-top justify-start-between mb-0"
                                            >
                                                <div class="box mr-2">
                                                    <div class="star-grade">
                                                        <span
                                                            class="star"
                                                            style="width: 100%"
                                                            >100%</span
                                                        >
                                                    </div>
                                                    <div class="info">
                                                        <span class="name"
                                                            >이*아</span
                                                        >
                                                        <span class="date"
                                                            >2024.08.22</span
                                                        >
                                                    </div>
                                                </div>

                                                <span class="tag-type3"
                                                    >우수리뷰</span
                                                >
                                            </div>

                                            <div class="review-description">
                                                <div>
                                                    <div class="content">
                                                        <a
                                                            href="javascript:void(0)"
                                                        >
                                                            <p class="pc-only">
                                                                기사님이
                                                                잘생겼어요<br />
                                                                <span
                                                                    class="text-more"
                                                                    >더보기</span
                                                                >
                                                            </p>
                                                        </a>
                                                        <a
                                                            href="javascript:void(0)"
                                                        >
                                                        </a>
                                                        <div class="details">
                                                            <div
                                                                class="layout-rc width-100"
                                                            >
                                                                <span
                                                                    class="flag-type status-premium"
                                                                    >프리미엄</span
                                                                >
                                                                <p
                                                                    class="f2-h4-16--body2 f-bold ml-10-0 mt-0-5"
                                                                >
                                                                    강준호
                                                                    기사님
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a
                                                        href="javascript:void(0)"
                                                        class="review-toggle"
                                                    >
                                                        <div
                                                            class="pc-only mt-3"
                                                        >
                                                            <div
                                                                class="photo"
                                                                id="photoThumb100002848"
                                                            >
                                                                <div
                                                                    class="icon-photo"
                                                                >
                                                                    <img
                                                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7WvDNFXu-6seAIKRPpssdSAWG2URO9ZZ8xQ&s"
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="review-item">
                                            <div
                                                class="review-top justify-start-between mb-0"
                                            >
                                                <div class="box mr-2">
                                                    <div class="star-grade">
                                                        <span
                                                            class="star"
                                                            style="width: 20%"
                                                            >20%</span
                                                        >
                                                    </div>
                                                    <div class="info">
                                                        <span class="name"
                                                            >이*희</span
                                                        >
                                                        <span class="date"
                                                            >2024.08.01</span
                                                        >
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="review-description">
                                                <div>
                                                    <div class="content">
                                                        <a
                                                            href="javascript:void(0)"
                                                        >
                                                            <p class="pc-only">
                                                                안녕하세요. 우선
                                                                저랑 남편이 모두
                                                                프리티로
                                                                셀프개통을
                                                                진행했습니다.
                                                                아니 저는 했고,
                                                                남편은 아직도,
                                                                14시간 정도를
                                                                개통 진행하고
                                                                있는 중이죠.<br />셀프개통
                                                                마지막 단계에서
                                                                상담원 확인이
                                                                필요하다더라구요.
                                                                그래서 확인을
                                                                누르고
                                                                기다렸는데, 지금
                                                                14시간이 넘도록
                                                                개통은 진행되지
                                                                않고, 이전
                                                                통신사는
                                                                셀프개통
                                                                눌렀더니 해지
                                                                처리를 하는
                                                                바람에 휴대폰
                                                                없는 삶을 살고
                                                                있습니다.
                                                                <span
                                                                    class="text-more"
                                                                    >더보기</span
                                                                >
                                                            </p>
                                                        </a>

                                                        <div class="details">
                                                            <div
                                                                class="layout-rc width-100"
                                                            >
                                                                <span
                                                                    class="flag-type status-standard"
                                                                    >스탠다드</span
                                                                >
                                                                <p
                                                                    class="f2-h4-16--body2 f-bold ml-10-0 mt-0-5"
                                                                >
                                                                    홍길동
                                                                    기사님
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a
                                                        href="javascript:void(0)"
                                                        class="review-toggle"
                                                    >
                                                        <div
                                                            class="pc-only mt-3"
                                                        >
                                                            <div
                                                                class="photo"
                                                                id="photoThumb100002848"
                                                            >
                                                                <div
                                                                    class="icon-photo"
                                                                >
                                                                    <img
                                                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ04WTz_jPBhT049ZPFuYkTeioABAVhHdZDpw&s"
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="review-item">
                                            <div
                                                class="review-top justify-start-between mb-0"
                                            >
                                                <div class="box mr-2">
                                                    <div class="star-grade">
                                                        <span
                                                            class="star"
                                                            style="width: 60%"
                                                            >60%</span
                                                        >
                                                    </div>
                                                    <div class="info">
                                                        <span class="name"
                                                            >강*중</span
                                                        >
                                                        <span class="date"
                                                            >2023.07.22</span
                                                        >
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="review-description">
                                                <div>
                                                    <div class="content">
                                                        <a
                                                            href="javascript:void(0)"
                                                        >
                                                            <p class="pc-only">
                                                                요금제 정말
                                                                마음에
                                                                듭니다.<br />타사
                                                                요금제까지
                                                                비교해봤는데
                                                                이런 요금제는 그
                                                                어떤 통신사도
                                                                제공하지
                                                                않더군요.
                                                                <span
                                                                    class="text-more"
                                                                    >더보기</span
                                                                >
                                                            </p>
                                                        </a>

                                                        <div class="details">
                                                            <div
                                                                class="layout-rc width-100"
                                                            >
                                                                <span
                                                                    class="flag-type status-light"
                                                                    >라이트</span
                                                                >

                                                                <p
                                                                    class="f2-h4-16--body2 f-bold ml-10-0 mt-0-5"
                                                                >
                                                                    박명수
                                                                    기사님
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pc-only mt-3">
                                                        <div
                                                            class="photo"
                                                            id="photoThumb100002848"
                                                        >
                                                            <div
                                                                class="icon-photo"
                                                            >
                                                                <img
                                                                    src="https://i3n.news1.kr/system/photos/2022/4/7/5306119/high.jpg"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </body>
    <script src="../../static/js/myPage/review.js"></script>
</html>
