<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/css/myPage/review.css" />
        <title>나의 리뷰</title>
    </head>
    <body>
        <div class="wrap">
            <div id="container">
                <section id="content" class="section-mypage">
                    <div class="inner">
                        <div class="page-header side event">
                            <h2 class="page-title">프리티 이용 후기</h2>
                            <div class="location pc-only">
                                <a href="javascript:void(0)" class="home">
                                    <span class="hidden">HOME</span>
                                </a>
                                <a href="javascript:void(0)">이벤트/혜택</a>
                                <strong> 프리티 이용 후기 </strong>
                            </div>
                        </div>
                    </div>
                    <div class="banner-write-review mb-3">
                        <input
                            type="hidden"
                            id="curPage"
                            name="curPage"
                            value="1"
                        />
                        <input type="hidden" id="isSearch" name="isSearch" />
                        <div class="title reviewInfo">
                            <div class="mb-4">
                                <p
                                    id="m-new-review-font"
                                    class="f2-title2--h2-20 f-bold mb-20-15 mt-22-0 new-review-font"
                                >
                                    소중한 후기는 감사의 선물을 싣고💌
                                    <br />
                                    후기 남기고 상품권 받자💴
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
