<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/css/myPage/userInfo.css" />
        <title>회원정보</title>
    </head>
    <body>
        <div id="container">
            <section id="content" class="section-mypage my-chg-content bottom">
                <div class="inner">
                    <div class="page-header side pc-only">
                        <h2 class="page-title">회원정보</h2>
                        <div class="location">
                            <a href="javascript:void(0)" class="home">
                                <span class="hidden">HOME</span>
                            </a>
                            <a href="javascript:void(0)">마이페이지</a>
                            <a href="javascript:void(0)">나의 기본정보</a>
                            <strong>회원정보</strong>
                        </div>
                    </div>
                    <section class="content-wrap">
                        <div class="inner-box">
                            <div id="memberInfoHtml">
                                <div class="box-type2" id="my_info1_01">
                                    <dl>
                                        <dt>아이디</dt>
                                        <dd>카카오 가입 계정</dd>
                                    </dl>
                                    <dl>
                                        <dt>이름</dt>
                                        <dd>안*진</dd>
                                    </dl>
                                    <dl>
                                        <dt>휴대폰번호</dt>
                                        <dd>010-79**-90**</dd>
                                    </dl>
                                    <dl>
                                        <dt>이메일</dt>
                                        <dd>qmd***@naver.com</dd>
                                    </dl>
                                    <dl>
                                        <dt>요금제</dt>
                                        <dd><span>라이트</span></dd>
                                    </dl>
                                    <dl>
                                        <dt>마케팅/광고</dt>
                                        <dd><span>수신</span></dd>
                                    </dl>
                                    <dl>
                                        <dt>집주소</dt>
                                        <dd>-</dd>
                                    </dl>
                                </div>
                                <div class="btn-wrap my-page-button">
                                    <button type="submit" class="btn-type">
                                        수정하기
                                    </button>
                                </div>
                            </div>
                        </div>
                        <aside class="lnb">
                            <div class="my-member-info" style="">
                                <div class="info-select-box v2">
                                    <div class="icon-box">
                                        <i class="ico-call5"></i>
                                    </div>
                                    <div class="text-box">
                                        <strong class="tit"
                                            >등록된 회선이 없습니다</strong
                                        >
                                        <p class="desc">
                                            프리티 회선이 있으시다면 등록해
                                            주세요!
                                        </p>
                                    </div>
                                    <div class="btn-wrap">
                                        <a
                                            href="javascript:void(0)"
                                            class="btn-type v2"
                                            >회선등록하기</a
                                        >
                                    </div>
                                </div>
                            </div>

                            <nav class="lnb-list">
                                <ul class="depth">
                                    <li>
                                        <a
                                            href="javascript:void(0)"
                                            class="active"
                                            >나의 기본정보</a
                                        >
                                        <ul
                                            class="depth2"
                                            style="display: block"
                                        >
                                            <li>
                                                <!-- 활성화시 active -->
                                                <a
                                                    href="javascript:void(0)"
                                                    class="active"
                                                    id="menu_060101"
                                                    >회원정보</a
                                                >
                                            </li>

                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060103"
                                                    >회선 등록</a
                                                >
                                            </li>

                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060105"
                                                    >개인정보열람</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060106"
                                                    >나의 혜택 조회</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060107"
                                                    >나의 추천현황</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class=""
                                            >서비스 조회/변경</a
                                        >
                                        <ul
                                            class="depth2"
                                            style="display: none"
                                        >
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060205"
                                                    >희망 지역 변경</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060206"
                                                    >계좌번호 변경</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            >요금조회 및 납부</a
                                        >
                                        <ul class="depth2" id="feeMenuMypage">
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060301"
                                                    >실시간 요금조회</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060302"
                                                    >청구요금조회</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060303"
                                                    >납부금액/미납 조회</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060304"
                                                    >청구서 관리</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060305"
                                                    >납부방법변경</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060306"
                                                    >휴대폰 소액결제</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060307"
                                                    >미환급금 조회</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            >선불 요금충전/관리</a
                                        >
                                        <ul class="depth2">
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060401"
                                                    >선불요금 충전</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060402"
                                                    >선불 데이터 충전</a
                                                >
                                            </li>
                                            <li class="dp-no-show">
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060403"
                                                    >가상계좌충전확인</a
                                                >
                                            </li>
                                            <li class="dp-no-show">
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060404"
                                                    >요금충전내역</a
                                                >
                                            </li>
                                            <li class="dp-no-show">
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060405"
                                                    >적립금변경이력</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"
                                            >일시정지/분실</a
                                        >
                                        <ul class="depth2">
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060501"
                                                    >일시정지 신청/해제</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060502"
                                                    >분실신고</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_060503"
                                                    >해지신청</a
                                                >
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="javascript:void(0)"
                                            >나의 관심 상품</a
                                        >
                                        <ul class="depth2">
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    id="menu_0607"
                                                    >나의 관심 상품</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </aside>
                    </section>
                </div>
            </section>
        </div>
    </body>
    <script src="../../static/js/myPage/userInfo.js"></script>
</html>
