<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>로그인 | MY | 비워드림</title>
        <link rel="stylesheet" href="/static/css/login/web_login_signup.css" />
    </head>
    <body>
        <noscript></noscript>
        <div id="loginsignup-wrap">
            <div></div>
            <header></header>
            <script></script>
            <script></script>
            <section></section>
            <script></script>
            <section></section>
            <script></script>
            <script></script>
            <div id="loginsignup-container">
                <section
                    id="loginsignup-content"
                    class="loginsignup-section-login"
                >
                    <div class="loginsignup-inner">
                        <div class="loginsignup-page-header t-c">
                            <div class="loginsignup-location">
                                <a href="" class="loginsignup-home">
                                    <span class="loginsignup-hidden">HOME</span>
                                </a>
                                <strong>로그인</strong>
                            </div>
                            <h2 class="loginsignup-page-title v2">
                                로그인/회원가입
                            </h2>
                            <p class="loginsignup-sub-title">
                                환영해요! 시작 방법을 선택해주세요 👋🏼
                            </p>
                        </div>
                        <span class="loginsignup-recent-login-type-span">
                        </span>
                        <div class="loginsignup-sns-login-btn-container">
                            <div
                                class="loginsignup-sns-login-btn with-kakao"
                                id="kakao-login"
                            >
                                <i class="loginsignup-ico-kakao3"></i>
                                카카오로 시작하기
                            </div>
                            <div class="loginsignup-id-login-btn" onclick="">
                                아이디로 시작하기
                            </div>
                        </div>
                        <div class="loginsignup-login-wrap"></div>
                    </div>
                </section>
            </div>
            <div></div>
            <aside></aside>
            <div></div>
            <div></div>
            <div></div>
            <script></script>
            <style></style>
            <footer></footer>
            <script></script>
            <script></script>
            <script></script>
            <div></div>
            <div></div>
            <style></style>
            <script></script>
        </div>
        <div></div>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <noscript></noscript>
        <script></script>
        <script></script>
        <div></div>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <div></div>
    </body>
</html>
