<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/static/css/mobile-detailRequest/mobile-detailRequest-body.css"
        />

        <link rel="stylesheet" href="/static/css/common/common.css" />
        <link
            rel="shortcut icon"
            href="https://www.freet.co.kr/static/assets/favicons/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://www.freet.co.kr/assets/css/font.css?v=20240726"
        />
        <title>수거 요청 상세페이지</title>
    </head>
    <body>
        <!-- 전체를 감싸고 있는 div -->
        <div id="wrap" class="wrap-main">
            <div class="contents">
                <div class="header-page">
                    <div class="btn-box">
                        <a href="" class="btn-back">
                            <i class="ico-back"></i>
                            <span class="hidden">뒤로가기</span>
                        </a>
                    </div>
                    <h1 class="page-title v2" id="header_title">
                        수거 요청 상세 페이지
                    </h1>
                </div>
                <div class="container">
                    <section id="content" class="section-plan bottom">
                        <article class="plan-detail" id="detail-plan-render">
                            <div class="plan-infomation">
                                <div class="plan-inner-box">
                                    <div class="plan-box">
                                        <div class="plan-top">
                                            <span
                                                class="flag-type status-premium"
                                            >
                                                프리미엄
                                            </span>
                                            <div class="tag-box">
                                                <span class="tag-type2">
                                                    오늘
                                                </span>
                                                <span class="tag-type2">
                                                    강남구
                                                </span>
                                                <span class="tag-type2">
                                                    수거예정
                                                </span>
                                            </div>
                                        </div>
                                        <div class="plan-title">
                                            <h3
                                                class="title"
                                                id="parent_svcName"
                                            >
                                                서울특별시 강남구 테헤란로 26길
                                            </h3>
                                            <p class="desc">
                                                제일비전타워 13층
                                            </p>
                                        </div>
                                        <div class="box-type3">
                                            <div class="box-item">
                                                <div class="box-img-wrapper">
                                                    <i class="ico-call3"></i>
                                                </div>
                                                <div class="box-content">
                                                    <dl>
                                                        <dt class="title">
                                                            라이트
                                                        </dt>
                                                        <dd class="caption">
                                                            1인 가구 권장 구독
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="box-item">
                                                <div class="box-img-wrapper">
                                                    <i class="ico-message2"></i>
                                                </div>
                                                <div class="box-content">
                                                    <dl>
                                                        <dt class="title">
                                                            수거 거리
                                                        </dt>
                                                        <dd class="caption">
                                                            총 8.7km
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="box-item">
                                                <div class="box-img-wrapper">
                                                    <i class="ico-data2"></i>
                                                </div>
                                                <div class="box-content">
                                                    <dl>
                                                        <dt class="title">
                                                            배달료
                                                        </dt>
                                                        <dd class="caption">
                                                            2500원
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="plan-price">
                                        <div class="bottom-box">
                                            <div class="box-type2">
                                                <div class="box-title boxTitle">
                                                    <dl class="boxTitle-dl">
                                                        <dt>
                                                            <strong
                                                                >접수
                                                                정보</strong
                                                            >
                                                        </dt>
                                                        <dd>
                                                            <strong
                                                                >주문번호
                                                                VLO4WEVY</strong
                                                            >
                                                        </dd>
                                                    </dl>
                                                </div>
                                                <div class="border"></div>
                                                <dl>
                                                    <dt>
                                                        <strong>주문명</strong>
                                                    </dt>
                                                    <dd>쓰레기 수거</dd>
                                                </dl>
                                                <dl>
                                                    <dt>
                                                        <strong
                                                            >배출 품목</strong
                                                        >
                                                    </dt>
                                                    <dd>1호 박스(1)</dd>
                                                </dl>
                                                <dl>
                                                    <dt>
                                                        <strong
                                                            >수거신청일</strong
                                                        >
                                                    </dt>
                                                    <dd>
                                                        2024년 09월 03일 09:19
                                                    </dd>
                                                </dl>
                                                <dl>
                                                    <dt>
                                                        <strong
                                                            >수거 일정</strong
                                                        >
                                                    </dt>
                                                    <dd>
                                                        09월 03일 22:00 ~ 06:00
                                                    </dd>
                                                </dl>
                                                <dl>
                                                    <dt>
                                                        <strong
                                                            >출입 방법</strong
                                                        >
                                                    </dt>
                                                    <dd>-</dd>
                                                </dl>
                                                <dl>
                                                    <dt>
                                                        <strong
                                                            >기타
                                                            요청사항</strong
                                                        >
                                                    </dt>
                                                    <dd>-</dd>
                                                </dl>
                                            </div>
                                            <div class="box-content">
                                                <div class="call-service">
                                                    <a
                                                        href="010*1234*1234"
                                                        class="caption"
                                                    >
                                                        <strong>
                                                            파트너 지원센터에
                                                            전화
                                                        </strong>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="plan-content">
                                <div class="btn-fixed-wrap">
                                    <div class="bottom-gra"></div>
                                    <div
                                        class="btn-wrap"
                                        id="detail-plan-mobile-render"
                                    >
                                        <a href="" class="btn-type"
                                            >수거 완료</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
