@charset "UTF-8";
@font-face {
    font-family: "SUIT";
    font-weight: 400;
    src: local("SUIT-Regular"),url(/static/css/fonts/SUIT-Regular.woff2)format("woff2"),url(/static/css/fonts/SUIT-Regular.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 600;
    src: local("SUIT-SemiBold"),url(/static/css/fonts/SUIT-SemiBold.woff2)format("woff2"),url(/static/css/fonts/SUIT-SemiBold.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 700;
    src: local("SUIT-Bold"),url(/static/css/fonts/SUIT-Bold.woff2)format("woff2"),url(/static/css/fonts/SUIT-Bold.otf)format("opentype")
}

body {
    background-color: #fff;
    line-height: 1.25;
    font-family: "SUIT", sans-serif;
    color: #111;
}

@media (min-width: 1200px) {
    body {
        font-size: 16px;
    }
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    word-break: break-all;
}

element.style {
    padding-top: 81px;
}

@media (min-width: 1200px) {
    #content {
        padding-bottom: 120px;
    }
}

#content {
    padding: 30px 0 80px;
}

section {
    display: block;
}

@media (min-width: 1200px) {
    .inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
}

.inner {
    position: relative;
    width: 100%;
    padding: 0 20px;
}

.loginpage-header {
    text-align: center;
    padding-right: 0;
    text-align: center !important;
    margin-bottom: 40px;
}

@media (min-width: 1200px) {
    .loginpage-header {
        position: inherit;
        text-align: center;
        padding-right: 0;
    }
}

@media (min-width: 1200px) {
    .location {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;
        line-height: 1.7;
        color: #343434;
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px) {
    .location .home {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        background-image: url("/static/images/web_login/loginhome.png");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1200px) {
    .location a {
        position: relative;
        margin-right: 25px;
    }
}

.location a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}

@media (min-width: 1200px) {
    .location a:after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        vertical-align: middle;
        background-image: url("/static/images/web_login/loginarrow.png");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        position: absolute;
        right: -18px;
        top: 50%;
        margin-top: -5px;
    }
}

.location a::after {
    box-sizing: border-box;    
}

strong {
    font-weight: 600;
}

@media (min-width: 1200px) {
    .loginpage-header .loginpage-title {
        font-size: 40px;
        line-height: 1.2;
    }
}

.loginpage-header .loginpage-title {
    font-weight: 600;
}

@media (min-width: 1200px) {
    .loginpage-header .loginsub-title {
        margin-top: 25px;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 500;
        color: #111;
    }
}

@media (min-width: 1200px) {
    .section-login .login-wrap {
        width: 504px;
    }
}

.section-login .login-wrap {
    margin: 0 auto;
}

.loginform-item:first-child {
    margin-top: 0;
}

.loginform-item {
    position: relative;
    margin-top: 12px;
}

.loginform-item input {
    padding-top: 15px;
}

input[type="text"] {
    height: 56px;
    padding: 0 20px;
    border: 1px solid #efefef;
    background: #f4f4f4;
    color: #111;
    border-radius: 12px;
}

input {
    appearance: none;
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    outline: 0;
    font-family: "SUIT", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

input[type="text"]:focus {
    border-color: #6ADB7B;
    background: #ECFFEF;
    outline: 0;
    color: #111;
}

.loginform-item label.logintitle {
    position: absolute;
    left: 20px;
    top: 19px;
    display: block;
    transition: all .2s ease;
    pointer-events: none;
    font-size: 15px;
    font-weight: 600;
    color: #94949a;
}

.loginform-item input:focus~.logintitle {
    font-size: 11px;
    top: 9px;
    color: #6ADB7B;
    position: absolute;
    left: 20px;
    display: block;
    transition: all .2s ease;
    pointer-events: none;
    font-weight: 600;
}

input#password {
    padding-right: 40px !important;
}

input[type="password"] {
    height: 56px;
    padding: 0 20px;
    border: 1px solid #efefef;
    background: #f4f4f4;
    color: #111;
    border-radius: 12px;
}

@media (min-width: 1200px) {
    .loginform-item .ico-eye {
        top: 20px;
        right: 15px;
    }
}

input#password {
    padding-right: 40px !important;
}

input[type="password"] {
    height: 56px;
    padding: 0 20px;
    border: 1px solid #efefef;
    background: #f4f4f4;
    color: #111;
    border-radius: 12px;
}

input[type="password"]:focus {
    color: #111;
    border-color: #6ADB7B;
    background: #ECFFEF;
    outline: 0;
}

.loginform-item .ico-eye {
    position: absolute;
    top: 17px;
    right: 15px;
    cursor: pointer;
}

.ico-eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url("/static/images/web_login/ico-eye.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: inherit;
}

.ico-eye-on {
    background-image: url("/static/images/web_login/ico-eye-on.png");
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: inherit;
}

.section-login .login-wrap .loginform-box .loginbtn-wrap {
    margin-top: 30px;
}

.loginbtn-wrap {
    display: flex;
    justify-content: center;
}

@media (min-width: 1200px) {
    .loginbtn-type-login {
        max-width: 100%;
    }
}

.loginbtn-wrap .loginbtn-type-login {
    width: 100%;
    height: 64px;
    font-size: 20px;
}

.loginbtn-type-login {
    background: #6ADB7B;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    font-weight: 600;
    transition: background .2s ease;

}

.loginbtn-wrap a {
    text-decoration: none;
}

.section-login .login-wrap .loginform-box .loginform-bottom-pcwrap {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logincheck-box-1 {
    margin-left: 0;
}

.logincheck-box {
    display: inline-block;
    text-align: left;
}

logincheck-box-1 input[type=checkbox] {
    display: none;
}

input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

input, input[type=checkbox] {
    appearance: none;
}

input {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    outline: 0;
    font-family: "SUIT", sans-serif;
    color: inherit;
    border-radius: 0;
    border: 0;
    font-size: 15px;
    font-weight: 600;
}

.section-login .login-wrap .loginform-box .loginform-bottom-pcwrap .logincheck-box-1 label {
    font-size: 14px;
}

.logincheck-box-1 .checkbox {
    display: inline-block;
    position: relative;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 6px;
    border: 1px solid #94949a;
    background-color: #fff;
    border-radius: 5px;
}

.logincheck-box-1 label {
    cursor: pointer;
    vertical-align: middle;
}

.logincheck-box-1 input[type="checkbox"]+.checkbox:before {
    transform: translate(6px, 9px) rotate(45deg);
    transition-delay: 100ms;
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #f4f4f4;
    border-radius: 15px;
    transform-origin: left;
    transition: all 150ms;
}

.logincheck-box-1 input[type=checkbox]+.checkbox:after {
    transform: translate(10px, 14px) rotate(-53deg);
    transition-delay: 0ms;
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #f4f4f4;
    border-radius: 15px;
    transform-origin: left;
    transition: all 150ms;
}

/* 체크된 상태의 스타일링 */
.logincheck-box-1 input[type=checkbox]:checked + .checkbox {
    background: #6ADB7B;
    border-color: #6ADB7B;
}

/* 체크된 상태에서 체크 표시 보이게 하기 */
.logincheck-box-1 input[type=checkbox]:checked + .checkbox:before {
    width: 7px; /* 체크 표시 길이 */
}

.logincheck-box-1 input[type=checkbox]:checked + .checkbox:after {
    width: 10px; /* 체크 표시 길이 */
}

.logincheck-box-2 {
    display: none;
    text-align: left;
}

.logincheck-box-2+.logincheck-box-2 {
    margin-left: 30px;
}

.logincheck-box-2 input[type="checkbox"] {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    appearance: none;
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    border: 0;
    font-family: "SUIT", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: inherit;
}

@media (min-width: 1200px) {
    .section-login .login-wrap .loginform-box .loginform-bottom-pcwrap .logincheck-box-2 label {
        font-size: 16px;
        font-weight: 600;
    }
}

@media (min-width: 1200px) {
    .logincheck-box-2 .checkbox {
        margin-right: 10px;
    }
}

.logincheck-box-2 .checkbox {
    display: inline-block;
    position: relative;
    width: 24px;
    min-width: 24px;
    height: 24px;
    border: 1px solid #94949a;
    background-color: #fff;
    border-radius: 5px;
}

.logincheck-box-2 label {
    cursor: pointer;
    vertical-align: middle;
}

.loginlist-type-pcwrap {
    font-size: 0;
}

.loginform-bottom-pcwrap ul {
    list-style: none;
}

.loginlist-type-pcwrap li {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    line-height: 1.6;
}

@media (min-width: 1200px) {
    .section-login .login-wrap .loginform-box .loginform-bottom-pcwrap .loginlist-type-pcwrap li a {
        font-size: 16px;
    }
}

.section-login .login-wrap .logonform-box .loginform-bottom-pcwrap .loginlist-type-pcwrap li a {
    font-weight: 600;
    color: #94949a;
    text-decoration: none;
}

.loginlist-type-pcwrap li+li {
    padding-left: 9px;
    margin-left: 9px;
}

.loginlist-type-pcwrap li+li:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 0;
    width: 1px;
    height: 13px;
    background: #e3e3e3;
}

.loginlist-type-pcwrap li:last-child::before {
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .section-login .login-wrap .loginform-box .loginform-bottom-pcwrap .loginlist-type-pcwrap li a {
        font-size: 16px;
    }
}

.section-login .login-wrap .loginform-box .loginform-bottom-pcwrap .loginlist-type-pcwrap li a {
    font-weight: 600;
    color: #94949a;
    text-decoration: none;
}


.loginform-bottom-mobilewrap {
    display: none;
    margin-top: 30px;
}

.loginform-bottom-mobilewrap .loginlist-type-mobilewrap {
    font-size: 0;
    list-style: none;
}

.loginlist-type-mobilewrap li {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    line-height: 1.6;
}

@media (min-width: 1200px) {
    .section-login .login-wrap .loginform-box .loginform-bottom-mobilewrap .loginlist-type-mobilewrap li a {
        font-size: 16px;
    }
}

.section-login .login-wrap .loginform-box .loginform-bottom-mobilewrap .loginlist-type-mobilewrap li a {
    font-weight: 600;
    color: #94949a;
    text-decoration: none;
}

.loginlist-type-mobilewrap li+li {
    padding-left: 9px;
    margin-left: 9px;
}

.loginlist-type-mobilewrap li:last-child {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    line-height: 1.6;
}

@media (min-width: 1200px) {
    .section-login .login-wrap .loginform-box .loginform-bottom-mobilewrap .loginlist-type-mobilewrap li:last-child a {
        font-size: 16px;
    }
}

.section-login .login-wrap .loginform-box .loginform-bottom-mobilewrap .loginlist-type-mobilewrap li:last-child a {
    font-weight: 600;
    color: #94949a;
    text-decoration: none;
}

.loginbtn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.loginbtn-wrap .loginbtn-type-join {
    width: 100%;
}

@media (min-width: 1200px) {
    .loginbtn-type-join {
        font-size: 16px;
    }
}

.loginbtn-type-join {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #111;
    font-weight: 600;
}

.loginbtn-type-join a {
    text-decoration: none;
}

.loginbtn-type-join i {
    margin-left: 4px;
    font-style: normal;
    font-weight: inherit;
}

.ico-plus {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url("/static/images/web_login/loginplus.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pop-layer-1 {
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pop-layer-1 .pop-dim {
    display: block;
}

.pop-dim {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, .7);
}

@media (min-width: 1200px) {
    .pop-layer-1 .pop-wrap {
        display: flex;
        z-index: 999;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 360px;
        height: 100%;
    }
}

.pop-layer-1 .pop-wrap {
    position: relative;
    margin: 0 auto;
    width: 360px;
}

@media (min-width: 1200px) {
    .pop-layer-1 .pop-content {
        padding: 40px;
        overflow: hidden;
        max-height: 650px;
    }
}

.pop-layer-1 .pop-content {
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 20px;
    width: 360px;
}

@media (min-width: 1200px) {
    .pop-layer-1 .pop-content p {
        font-size: 16px;
    }
}

.pop-layer-1 .pop-content p {
    line-height: 1.6;
    color : #111111;
    font-family: "SUIT", sans-serif;
}

.pop-layer-1 .btn-wrap {
    margin-top: 20px;
}

.pop-btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (min-width: 1200px) {
    .pop-layer-1 .pop-btn-wrap .pop-btn-type {
        height: 50px;
        width: 120px;
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    .pop-btn-type {
        max-width: 200px;
    }
}

.pop-btn-type {
    background: #6ADB7B;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    font-weight: 600;
    transition: background .2s ease;
    text-decoration: none;
}















