element.style {
    --vh: 9.32px;
}
element.style {
    padding-top: 59.9877px;
}
element.style {
    z-index: 0;
    transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);
}

:root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    word-break: break-all;
}
html {
    display: block;
}
body {
    top: 0 !important;
}
body {
    background-color: #fff;
}
/*  */
/* ::before,
::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    background: #8a93b4;
}
::-webkit-scrollbar-track {
    background: #e3e3e3;
} */

body {
    line-height: 1.25;
    font-family: "SUIT";
    font-size: 15px;
    color: #111;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
address,
caption,
em,
i,
var {
    font-style: normal;
    font-weight: inherit;
}
ol,
ul {
    list-style: none;
}
img {
    border: 0;
    vertical-align: top;
    width: 100%;
}
button {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    font-family: "SUIT", sans-serif;
    color: inherit;
}
select,
input,
textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    border: 0;
    font-family: "SUIT", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 600;
    font-size: 15px;
    color: inherit;
}
.main {
    margin-top: 10px;
}
.main [class^="article"] {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
}
.main .article-menu .grid-wrap ul {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.main .article-menu .grid-wrap [class^="grid-item"] a {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    background: #f4f4f4;
    padding: 20px 10px;
}
/* 요금제 찾기 */
.main .article-menu .grid-wrap ul .grid-item-l {
    grid-area: 1 / 1 / 3 / 3;
}
.main .article-menu .grid-wrap .grid-item-l a {
    background: #f0543a;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    align-items: inherit;
    padding: 20px;
}

.main .article-menu .grid-wrap .grid-item-l a .ico-main-search {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin-bottom: 0;
}
.ico-main-search {
    width: 150px;
    height: 135px;
    background-image: url(https://www.freet.co.kr/assets/images/motion/main.png);
    background-size: cover;
}
/* 이벤트 */
.main .article-menu .grid-wrap .grid-item-m a {
    background: #ffe4c9;
}

.main .article-menu .grid-wrap [class^="grid-item"] [class^="ico-main"] {
    margin-bottom: 7px;
}

.ico-main-event {
    display: inline-block;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/main-event.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
/* 유심 (셀프) 개통 */

.ico-main-self {
    display: inline-block;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/main-self.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
/* 유심 구매 */

.ico-main-uslm {
    display: inline-block;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/main-uslm.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
/* 휴대 */

.ico-main-phone {
    display: inline-block;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/main-phone.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
/* 고객 지원 */

.ico-main-cs {
    display: inline-block;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/main-cs.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
/* 배너 */
.mt-2 {
    margin-top: 20px !important;
}
.mobile-only {
    display: block;
}
/* 카테고리 제목 */
.main [class^="article"] .main-title {
    margin-bottom: 15px;
}
.main [class^="article"] .main-title .title-type {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}
/* 카테고리 */
/* .swiper-pointer-events {
    touch-action: pan-y;
} */
.category-slider {
    position: relative;
    overflow: hidden;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
/* list 속성 */
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    backface-visibility: hidden;
}
.category-slider .swiper-slide {
    width: auto;
}
.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}
/* a 태그 활성화 된 버튼(전체) */
.active .btn-type6,
.btn-type6.active {
    background: #f0543a;
    color: #fff;
}
/* 활성화 되지 않은 버튼 */
.btn-type6 {
    background: #fff;
    border-radius: 18px;
    padding: 0 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    font-size: 13px;
    font-weight: 600;
    color: #94949a;
}
/* 카테고리 좌우 이동 버튼 */
.category-slider .gra-next {
    right: 0;
    background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
}
.category-slider [class^="gra-"] {
    font-size: 0;
    position: absolute;
    top: 0;
    width: 25px;
    height: 36px;
    z-index: 1;
    transition: all 0.2s;
}
.category-slider .gra-prev {
    left: 0;
    background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
}
/* 카테고리가 첫번째라서 display: none */
.category-slider .swiper-button-disabled {
    display: none;
}
button:disabled {
    cursor: default;
}
/* 슬라이더 내용 */
/* 수거 요청 목록 */

.promotion-area {
    margin-top: 20px;
}

/* 검색 밑 목록 */
.section-notice .allRequest {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    display: flex;
    align-items: center;
}
strong {
    font-weight: 600;
}
.status-light {
    background-color: #f251ab;
    margin-right: 4px;
    color: #fff;
}
.board-type5 li .flag-type {
    height: 22px;
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
.plan-top {
    display: flex;
}
.plan-top .tag-box {
    /* position: absolute; */
    left: 0px;
    top: 0px;
}
.board-type5 li .plan-top .tag-box .tag-type2,
.tag-type4 {
    height: 22px;
    padding: 0 6px;
    font-size: 12px;
    border-radius: 6px;
    background: #f4f4f4;
    color: #343434;
}
.tag-type,
.tag-type5,
.tag-type2,
.tag-type4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8.5px;
    height: 25px;
    border-radius: 13px;
    background: #f1f3fb;
    color: #3f4970;
    font-size: 13px;
    font-weight: 600;
}
/* 목록 구분선 */
/* .board-type5 {
    border-top: 1px solid #111;
    margin-top: 10px;
} */
.board-type5 li {
    margin-top: 15px;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid #e3e3e3;
}
.board-type5 li a {
    display: flex;
    width: 100%;
    padding: 10px 0;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: #111;
}
.board-type5 li span.num {
    display: none;
    min-width: 69px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    vertical-align: middle;
}
.board-type5 li div p {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    line-height: 1.63;
}
.board-type5 li div span {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.63;
    color: #343434;
}
.board-type5 li a .ico-arrow4 {
    margin-left: auto;
}
.ico-arrow4 {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/arrow4.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 이벤트 전체보기 버튼 */
.main [class^="article"] .btn-wrap {
    margin-top: 20px;
}
.btn-wrap {
    display: flex;
    justify-content: center;
}
.btn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.btn-wrap .btn-type3,
.btn-wrap .btn-download {
    width: auto;
}
.btn-type3,
.btn-download {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 38px;
    border: 1px solid #94949a;
    color: #94949a;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    background: #fff;
    border-radius: 19px;
    padding: 0 20px;
}
/* 혜택 */
.main .article-benefit .benefit-list li a,
.main .article-phone .phone-item > a {
    display: flex;
    align-items: center;
}
.main .article-benefit .benefit-list .icon-box {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #f1f3fb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.ico-main-plan1 {
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    background: url(https://www.freet.co.kr/assets/images/icon/main-plan2.svg)
        center no-repeat;
    background-size: cover;
}
.ico-main-plan2 {
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    background: url(https://www.freet.co.kr/assets/images/icon/main-plan2.svg)
        center no-repeat;
    background-size: cover;
}
.ico-main-plan3 {
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    background: url(https://www.freet.co.kr/assets/images/icon/main-plan3.svg)
        center no-repeat;
    background-size: cover;
}
.ico-main-plan4 {
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    background: url(https://www.freet.co.kr/assets/images/icon/main-plan4.svg)
        center no-repeat;
    background-size: cover;
}
.main .article-benefit .benefit-list dl {
    width: calc(100% - 70px);
    padding-left: 15px;
}
.main .article-benefit .benefit-list dl dt,
.main-loading p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.63;
}
.main .article-benefit .benefit-list dl dd {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: #343434;
}
.main .article-benefit .benefit-list li + li,
.usage-list > ul + ul {
    margin-top: 30px;
}
/* 기사님 후기 */
.main > article:last-child {
    margin-bottom: 80px;
}
.main .article-review .review-area {
    margin-left: -20px;
    margin-right: -20px;
}
.slick-slider.slick-dotted {
    padding-bottom: 20px;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    transition: transform 0.5s;
}
.main .article-review .review-area .slick-track {
    display: flex;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}
::before,
::after {
    box-sizing: border-box;
}
.main .article-review .review-area .review-item {
    margin: 0 20px;
    display: flex;
    height: auto;
}
.review-item {
    border: 1px solid #e3e3e3;
    padding: 25px;
    border-radius: 20px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.main .article-review .review-area .review-item a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.slick-slide:focus,
.slick-slider a {
    outline: none !important;
}
.review-item .review-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-item .review-top .box {
    display: flex;
    align-items: center;
}
.review-item .review-top .star-grade {
    font-size: 0;
    text-indent: -999em;
    width: 80px;
}

.review-item .review-top .star-grade .star {
    display: block;
    height: 16px;
    background-position-y: 100%;
}
.review-item .review-top [class^="star"] {
    background: url(https://www.freet.co.kr/assets/images/icon/star-graph.png)
        no-repeat;
    background-size: 80px 32px;
}
.review-item .review-top .info {
    font-size: 14px;
    margin-left: 15px;
}
.review-item .review-top .info .date {
    margin-left: 5px;
    color: #94949a;
}
.tag-type3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ffebe8;
    height: 22px;
    padding: 0 6px;
    border-radius: 6px;
    color: #f0543a;
    font-size: 12px;
    font-weight: 600;
}
.review-item .review-cont {
    margin: 20px 0;
}
.review-item .review-cont p {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    white-space: initial;
    height: 100px;
    height: auto;
    max-height: 100px;
}
.review-item .review-cont .text-more {
    display: inline;
    color: #c3c3c9;
    font-weight: 600;
}
.main .article-review .review-area .review-item .review-bottom {
    margin-top: auto;
}
.review-item .review-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.review-item .review-bottom .plan {
    font-size: 14px;
    font-weight: 600;
    width: calc(100% - 70px);
    line-height: 1.7;
}
.review-item .review-bottom .plan .flag-type {
    margin-bottom: 5px;
}
.status-light {
    background-color: #f251ab;
}
.flag-type {
    height: 22px;
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
.review-item .review-bottom .photo {
    font-size: 0;
}
.slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;
}
.slick-dots li.slick-active {
    width: 30px;
}
.slick-dots li {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 2.5px;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}
.slick-dots li.slick-active button {
    background: #f0543a;
    border-radius: 3px;
}
.slick-dots li button {
    display: block;
    width: 100%;
    height: 100%;
    background: #c3c3c9;
    border-radius: 100%;
    font-size: 0;
}

/* aside 위로 올라가는 버튼 */
.quick.up {
    transform: translateY(0);
}
.quick ul {
    flex-direction: column;
    align-items: flex-end;
}
.footer-copy .select-box,
.quick ul {
    display: flex;
}
.quick ul li {
    margin-top: 6px;
}
.quick.up .btn-top {
    opacity: 1;
}
.quick .quick-btn-box .quick-btn {
    background-color: #fff;
}
.quick .quick-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 6px;
}
.quick ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    backdrop-filter: blur(2px);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.ico-chat,
.ico-close,
.ico-close2,
.ico-close3,
.ico-close4,
.ico-close5,
.ico-close6,
.ico-close7,
.ico-eye,
.ico-eye.off,
.ico-top {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/top.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.hidden {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}
