.tab-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #efefef;
    z-index: 102;
}
.tab-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tab-bar ul li a {
    display: block;
    text-align: center;
    padding: 11px 0;
    min-width: 45px;
}
.ico-home2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/home2.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.tab-bar ul li a span {
    margin-top: 4px;
    display: block;
    font-size: 11px;
    font-weight: 600;
    color: #343434;
}
.ico-direct-call {
    display: inline-block;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    color: #343434;
    background-image: url(/static/images/mobile-home/mobile-home-tabBar/call_phone_icon.svg);
}

.ico-my {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/my.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.ico-cs {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/cs.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
