<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/footer.css" />
        <title>푸터</title>
    </head>
    <body>
        <footer id="wrap" class="wrap">
            <div class="container">
                <section class="wrap-cs">
                    <div class="cs-center">
                        <h3 class="tit">고객센터</h3>
                        <div class="menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">공지사항</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"
                                        >자주 묻는 질문</a
                                    >
                                </li>
                                <li>
                                    <a href="javascript:void(0)"
                                        >1:1 상담문의</a
                                    >
                                </li>
                                <li>
                                    <a href="javascript:void(0)"
                                        >U+매장 고객서비스</a
                                    >
                                </li>
                                <li>
                                    <a href="javascript:void(0)"
                                        >각종양식 다운로드</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cs-ars">
                        <div class="time">
                            <div class="detail">
                                <dl>
                                    <dt>업무시간</dt>
                                    <dd>09:00 ~ 18:00</dd>
                                </dl>
                                <dl>
                                    <dt>점심시간</dt>
                                    <dd>12:00 ~ 13:00</dd>
                                </dl>
                            </div>
                            <p class="info-text">
                                <i class="ico-info3"></i>토/일요일 법정공휴일
                                휴무
                            </p>
                        </div>
                        <div class="number">
                            <p>
                                <span class="notranslate">프리티</span> 이용
                                고객은<br />휴대폰에서 <strong>114</strong
                                ><span class="tag-type">무료</span>
                            </p>
                            <ul>
                                <li>
                                    <dl>
                                        <dt>SKT 알뜰폰</dt>
                                        <dd>
                                            1661-2207<span class="tag-type v2"
                                                >유료</span
                                            >
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>KT 알뜰폰</dt>
                                        <dd>
                                            1577-4551<span class="tag-type v2"
                                                >유료</span
                                            >
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>U⁺ 알뜰폰</dt>
                                        <dd>
                                            1588-3615<span class="tag-type v2"
                                                >유료</span
                                            >
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="wrap-info">
                    <div class="sns-box">
                        <ul class="sns">
                            <li>
                                <a href="javascript:void(0)"
                                    ><i class="ico-insta"></i
                                ></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    ><i class="ico-kakao"></i
                                ></a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" class="btn-type5"
                            >대리점 사이트</a
                        >
                    </div>
                    <div class="link-box">
                        <ul>
                            <li>
                                <a href="javascript:void(0)">회사소개</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">이용약관</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    ><strong>개인정보처리방침</strong></a
                                >
                            </li>
                            <li>
                                <a href="javascript:void(0)">고객센터</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    >명의도용방지서비스</a
                                >
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    >불법스팸대응센터</a
                                >
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    >이용자피해예방가이드</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="company-box">
                        <a href="#Detail" class="js_toggle btn-company close"
                            >사업자 정보 확인<i class="ico-down"></i
                        ></a>
                        <div class="freet_emblemPosition">
                            <div class="freet_emblemPosition_area">
                                <div>
                                    <img
                                        src="https://www.freet.co.kr/upload/eventimg/freet_customerPreference_no1.png"
                                    />2024 대한민국 <br />소비자 선호도 1위
                                </div>
                                <div>
                                    <img
                                        src="https://www.freet.co.kr/upload/eventimg/freet_customerspecialexcellentbrand_no.1.png"
                                    />2024 고객감동 <br />우수 브랜드 대상 1위
                                </div>
                            </div>
                        </div>
                        <div id="Detail" class="detail" style="display: none">
                            <ul>
                                <li>
                                    <strong>(주)프리텔레콤</strong>
                                    <span>사업자번호 : 214-88-51159</span>
                                    <span
                                        >통신판매신고 :
                                        2013-서울성동-0556호</span
                                    >
                                    <span>대표이사 : 이석환</span>
                                    <span
                                        >서울시 성동구 성수이로22길 37,
                                        7층(성수동2가, 아크밸리)</span
                                    >
                                </li>
                                <li>
                                    <strong>(주)인스코비(성동지점)</strong>
                                    <span>사업자번호 : 595-85-00145</span>
                                    <span
                                        >통신판매신고 :
                                        2015-서울성동-0904호</span
                                    >
                                    <span>대표이사 : 유인수, 구자갑</span>
                                    <span
                                        >서울시 성동구 성수이로22길 37,
                                        7층(성수동2가, 아크밸리)</span
                                    >
                                </li>
                            </ul>
                            <p>
                                인스코비(KOSPI 006490)는 자회사 프리텔레콤과
                                함께
                                <span class="focus"
                                    >국내에서 유일하게 통신 3사의 알뜰폰(MVNO)
                                    서비스를 제공</span
                                >하고 있습니다.
                            </p>
                        </div>
                    </div>
                </section>
                <section class="wrap-copy">
                    <p>
                        COPYRIGHT (C) FREETELECOM / INSCOBEE ALL RIGHTS
                        RESERVED.
                    </p>
                </section>
            </div>
        </footer>
    </body>
    <script src="../static/js/footer.js"></script>
</html>
