<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/header-style.css" />
        <title>헤더-로그아웃</title>
    </head>
    <body>
        <header id="header" class="header">
            <div class="tool-box">
                <h1 class="logo">
                    <a href=""
                        ><i class="ico-logo"></i
                        ><span class="hidden">프리티</span></a
                    >
                </h1>
                <div class="btn-box">
                    <a href="javascript:void(0)" class="btn-menu">
                        <i class="ico-bars"></i>
                        <span class="hidden">메뉴</span>
                    </a>
                </div>
            </div>

            <section
                class="gnb-wrap"
                style="transform: matrix(1, 0, 0, 1, 0, 0)"
            >
                <div class="gnb-inner">
                    <h1 class="logo">
                        <a href="/"
                            ><i class="ico-logo"></i
                            ><span class="hidden">프리티</span></a
                        >
                    </h1>
                    <div class="gnb-nav">
                        <ul class="list-depth1">
                            <li>
                                <a class="link-depth1" href="javascript:void(0)"
                                    >요금제</a
                                >
                                <div class="gnb-sub-wrap">
                                    <div class="gnb-inner">
                                        <ul class="list-depth2">
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >요금제</a
                                                >
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >선불요금제</a
                                                >
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >제휴요금제</a
                                                >
                                            </li>
                                            <li class="wide">
                                                <a href="javascript:void(0)"
                                                    >내게 맞는 요금제 찾기</a
                                                >
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >부가서비스</a
                                                >
                                            </li>
                                        </ul>

                                        <button
                                            type="button"
                                            class="gnb-nav-opener"
                                        >
                                            <i class="ico-arrow8"></i>
                                        </button>

                                        <div class="banner-wrap">
                                            <ul
                                                class="slick-initialized slick-slider"
                                            >
                                                <div
                                                    aria-live="polite"
                                                    class="slick-list draggable"
                                                >
                                                    <div
                                                        class="slick-track"
                                                        style="
                                                            opacity: 1;
                                                            width: 0px;
                                                        "
                                                        role="listbox"
                                                    ></div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="link-depth1" href="javascript:void(0)"
                                    >유심·eSIM</a
                                >
                                <div class="gnb-sub-wrap">
                                    <div class="gnb-inner">
                                        <ul class="list-depth2">
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >유심 구매</a
                                                >
                                                <div class="gnb-inner">
                                                    <ul class="list-depth3">
                                                        <li>
                                                            <a
                                                                href="javascript:void(0)"
                                                                >유심 구매</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a
                                                                href="javascript:void(0)"
                                                                >U+ 지금배송</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a
                                                                href="javascript:void(0)"
                                                                >KT 바로배송</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >유심 개통</a
                                                >
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >eSIM 개통</a
                                                >
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >유심 개통 안내</a
                                                >

                                                <div class="gnb-inner">
                                                    <ul class="list-depth3">
                                                        <li>
                                                            <a
                                                                href="javascript:void(0)"
                                                                >유심 이용
                                                                안내</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a
                                                                href="javascript:void(0)"
                                                                >유심 개통
                                                                안내</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a
                                                                href="javascript:void(0)"
                                                                >eSIM 개통
                                                                안내</a
                                                            >
                                                        </li>
                                                    </ul>
                                                    <button
                                                        type="button"
                                                        class="gnb-nav-opener"
                                                    >
                                                        <i
                                                            class="ico-arrow8"
                                                        ></i>
                                                    </button>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >유심 인식 오류 접수</a
                                                >
                                            </li>
                                        </ul>

                                        <button
                                            type="button"
                                            class="gnb-nav-opener"
                                        >
                                            <i class="ico-arrow8"></i>
                                        </button>

                                        <div class="banner-wrap">
                                            <ul
                                                class="slick-initialized slick-slider"
                                            >
                                                <div
                                                    aria-live="polite"
                                                    class="slick-list draggable"
                                                >
                                                    <div
                                                        class="slick-track"
                                                        style="
                                                            opacity: 1;
                                                            width: 0px;
                                                        "
                                                        role="listbox"
                                                    ></div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="link-depth1" href="javascript:void(0)"
                                    >휴대폰</a
                                >
                                <div class="gnb-sub-wrap">
                                    <div class="gnb-inner">
                                        <ul class="list-depth2">
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >휴대폰 구매</a
                                                >
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >액세서리 몰</a
                                                >
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >단말지원금 공시</a
                                                >
                                            </li>
                                        </ul>

                                        <button
                                            type="button"
                                            class="gnb-nav-opener"
                                        >
                                            <i class="ico-arrow8"></i>
                                        </button>

                                        <div class="banner-wrap">
                                            <ul
                                                class="slick-initialized slick-slider"
                                            >
                                                <div
                                                    aria-live="polite"
                                                    class="slick-list draggable"
                                                >
                                                    <div
                                                        class="slick-track"
                                                        style="
                                                            opacity: 1;
                                                            width: 0px;
                                                        "
                                                        role="listbox"
                                                    ></div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="link-depth1" href="javascript:void(0)"
                                    >이벤트·혜택</a
                                >
                                <div class="gnb-sub-wrap">
                                    <div class="gnb-inner">
                                        <ul class="list-depth2">
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >진행중 이벤트</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    style="text-align: center"
                                                    >결합혜택</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    style="text-align: center"
                                                    >추천혜택</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    style="text-align: center"
                                                    >제휴카드</a
                                                >
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >평생회원 혜택</a
                                                >
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >이용후기</a
                                                >
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"
                                                    >당첨자 발표</a
                                                >
                                            </li>
                                        </ul>

                                        <button
                                            type="button"
                                            class="gnb-nav-opener"
                                        >
                                            <i class="ico-arrow8"></i>
                                        </button>

                                        <div class="banner-wrap">
                                            <ul
                                                class="slick-initialized slick-slider"
                                            >
                                                <div
                                                    aria-live="polite"
                                                    class="slick-list draggable"
                                                >
                                                    <div
                                                        class="slick-track"
                                                        style="
                                                            opacity: 1;
                                                            width: 0px;
                                                        "
                                                        role="listbox"
                                                    ></div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a
                                    class="link-depth1"
                                    href="javascript:void(0)"
                                    onclick="menuInfo.go('0501');return false;"
                                    >해외유심</a
                                >
                                <div class="gnb-sub-wrap">
                                    <div class="gnb-inner">
                                        <ul class="list-depth2">
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    onclick="menuInfo.go('0501');return false;"
                                                    >해외여행유심</a
                                                >
                                            </li>
                                            <!-- <li>
                              <a href="javascript:void(0)" onclick="menuInfo.go('0502');return false;">글로벌</a>
                            </li>-->
                                        </ul>
                                        <!-- 2024-01-04 -->
                                        <button
                                            type="button"
                                            class="gnb-nav-opener"
                                        >
                                            <i class="ico-arrow8"></i>
                                        </button>
                                        <!-- // 2024-01-04 -->
                                        <div class="banner-wrap">
                                            <ul
                                                class="slick-initialized slick-slider"
                                            >
                                                <div
                                                    aria-live="polite"
                                                    class="slick-list draggable"
                                                >
                                                    <div
                                                        class="slick-track"
                                                        style="
                                                            opacity: 1;
                                                            width: 0px;
                                                        "
                                                        role="listbox"
                                                    ></div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!-- <a href="javascript:void(0)" onclick="menuInfo.go('15');return false;" class="no-line">
                          <img th:src="@{${assetsPath+ '/images/icon/direct_shop.png'}}" alt="" class="pc-only ic-menu">
                          <span class="mobile-only">다이렉트샵</span>
                      </a> -->
                                <a
                                    class="link-depth1"
                                    href="javascript:void(0)"
                                    onclick="menuInfo.go('15');return false;"
                                    ><i class="ico-lgu3"></i>5G 요금제</a
                                >
                                <div class="gnb-sub-wrap">
                                    <div class="gnb-inner">
                                        <ul class="list-depth2">
                                            <li>
                                                <a
                                                    href="javascript:void(0)"
                                                    onclick="menuInfo.go('1501');return false;"
                                                    >U+ 다이렉트 요금제</a
                                                >
                                            </li>
                                        </ul>
                                        <button
                                            type="button"
                                            class="gnb-nav-opener"
                                        >
                                            <i class="ico-arrow8"></i>
                                        </button>
                                        <div class="banner-wrap"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- 2024-01-04 -->
                        <button type="button" class="gnb-nav-opener">
                            <i class="ico-arrow8"></i>
                        </button>
                        <!-- // 2024-01-04 -->
                    </div>
                    <div class="util-wrap">
                        <ul class="util-guide">
                            <li>
                                <a
                                    href="javascript:void(0)"
                                    onclick="menuInfo.go('07');return false;"
                                    >선불서비스</a
                                >
                            </li>
                            <li>
                                <a
                                    href="javascript:void(0)"
                                    onclick="menuInfo.go('1101');return false;"
                                    >고객지원</a
                                >
                            </li>
                            <!-- <li>
                      <a href="javascript:void(0)" onclick="menuInfo.go('16');return false;">이용자피해예방가이드</a>
                    </li> -->
                        </ul>
                        <ul class="util-list">
                            <li>
                                <a
                                    href="javascript:void(0)"
                                    onclick="menuInfo.go('14');return false;"
                                    class=""
                                    ><i class="ico-util02"></i
                                    ><span class="bubble"
                                        >주문/배송조회</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a href="javascript:void(0)" class=""
                                    ><i class="ico-util03"></i
                                    ><span class="bubble">관심상품</span></a
                                >
                            </li>
                            <li class="gnb-my">
                                <a href="javascript:void(0)" class="btn-mypage">
                                    <i class="ico-util04"></i>

                                    <span class="bubble">로그인/회원가입</span>
                                    <!-- 비회원인 경우 -->
                                    <!-- 준회원인 경우 -->
                                    <!-- 정회원인 경우 -->
                                </a>
                                <div class="gnb-sub-wrap">
                                    <!-- 비회원(S) -->
                                    <div class="gnb-inner">
                                        <div class="list">
                                            <ul>
                                                <li>
                                                    <a
                                                        href="javascript:void(0)"
                                                    >
                                                        <div class="icon-box">
                                                            <i
                                                                class="ico-mymenu01"
                                                            ></i>
                                                        </div>
                                                        <p>요금제 찾기</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="javascript:void(0)"
                                                    >
                                                        <div class="icon-box">
                                                            <i
                                                                class="ico-mymenu02"
                                                            ></i>
                                                        </div>
                                                        <p>유심 개통</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="javascript:void(0)"
                                                    >
                                                        <div class="icon-box">
                                                            <i
                                                                class="ico-mymenu03"
                                                            ></i>
                                                        </div>
                                                        <p>주문/배송조회</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="javascript:void(0)"
                                                    >
                                                        <div class="icon-box">
                                                            <i
                                                                class="ico-mymenu04"
                                                            ></i>
                                                        </div>
                                                        <p>선불서비스</p>
                                                    </a>
                                                </li>
                                            </ul>
                                            <p class="guide-text">
                                                해당 메뉴는 로그인하지 않은
                                                상태에서도 이용 가능합니다.
                                            </p>
                                        </div>
                                        <div class="member-info guest">
                                            <div class="title-wrap">
                                                <h3 class="title-type2">
                                                    로그인이 필요해요😅
                                                </h3>
                                                <p>
                                                    홈페이지 회원은 이동전화
                                                    가입정보 및 요금/납부 등의
                                                    각종 조회서비스를 이용할 수
                                                    있습니다.
                                                </p>
                                            </div>
                                            <div class="btn-wrap">
                                                <a
                                                    href="/login"
                                                    class="btn-type hs v2"
                                                    >로그인/회원가입</a
                                                >
                                            </div>
                                            <div class="btn-wrap fee-charge">
                                                <a
                                                    href="javascript:void(0)"
                                                    class="btn-type4"
                                                    >선불요금충전
                                                    <i class="ico-arrow5"></i
                                                ></a>
                                                <p class="text">
                                                    선불요금충전은 로그인하지
                                                    않은 상태에서도 <br />이용
                                                    가능합니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 비회원(E) -->
                                    <!-- 준회원(S) -->

                                    <!-- 준회원(E) -->
                                    <!-- 정회원(S) -->

                                    <!-- 정회원(E) -->
                                </div>
                            </li>
                            <li class="btn-gnb-menu">
                                <a href="javascript:void(0)" class=""
                                    ><span class="bubble">전체메뉴</span></a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </header>
    </body>
    <script src="../static/js/header-logout.js"></script>
</html>
