<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/main.css" />
        <title>메인</title>
    </head>
    <body>
        <div id="wrap" class="wrap-main" style="padding-top: 80px">
            <div class="container">
                <main id="main" class="main">
                    <article class="article-menu">
                        <div class="grid-wrap">
                            <ul>
                                <li class="grid-item-l">
                                    <a href="">
                                        <i class="ico-main-search"></i>
                                        <p class="title">요금제 찾기</p>
                                        <p class="desc">
                                            나에게 딱 맞는
                                            <br />
                                            <span class="notranslate"
                                                >프리티</span
                                            >
                                            요금제 찾기
                                        </p>
                                        <span class="btn-type3">
                                            바로가기
                                            <i class="ico-arrow14"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="grid-item-m">
                                    <a href="">
                                        <i class="ico-main-event"></i>
                                        <p class="title">이벤트</p>
                                        <p class="desc">
                                            특별한 혜택을
                                            <br />
                                            만나보세요.
                                        </p>
                                    </a>
                                </li>
                                <li class="grid-item-m">
                                    <a href="">
                                        <i class="ico-main-self"></i>
                                        <p class="title">유심(셀프) 개통</p>
                                        <p class="desc">
                                            쉽고 빠른 개통을
                                            <br />
                                            시작하세요.
                                        </p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a href="">
                                        <i class="ico-main-usim"></i>
                                        <p class="title">유심 구매</p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a href="">
                                        <i class="ico-main-phone"></i>
                                        <p class="title">휴대폰</p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a href="">
                                        <i class="ico-main-cs"></i>
                                        <p class="title">고객지원</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-2">
                            <img
                                src="https://www.freet.co.kr/upload/eventimg/PW_freet_award_02_v0.1.png"
                                class="pc-only"
                                style="margin-top: 40px"
                            />
                        </div>
                    </article>
                    <article class="article-plan">
                        <div class="main-title">
                            <h2 class="title-type">
                                <span class="notranslate">프리티</span>
                                BEST 요금제👍🏻
                            </h2>
                        </div>
                        <div class="plan-tag">
                            <div
                                class="category-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
                            >
                                <ul
                                    class="swiper-wrapper"
                                    id="swiper-wrapper-12770ed6d1dde369"
                                    aria-live="polite"
                                >
                                    <li
                                        class="swiper-slide active swiper-slide-active"
                                        role="group"
                                        aria-label="1 / 4"
                                    >
                                        <a class="btn-type6">전체</a>
                                    </li>
                                    <li
                                        class="swiper-slide swiper-slide-next"
                                        role="group"
                                        aria-label="2 / 4"
                                    >
                                        <a class="btn-type6">SKT</a>
                                    </li>
                                    <li
                                        class="swiper-slide"
                                        role="group"
                                        aria-label="3 / 4"
                                    >
                                        <a class="btn-type6">KT</a>
                                    </li>
                                    <li
                                        class="swiper-slide"
                                        role="group"
                                        aria-label="4 / 4"
                                    >
                                        <a class="btn-type6">LGU+</a>
                                    </li>
                                </ul>
                                <button
                                    class="gra-next swiper-button-disabled swiper-button-lock"
                                    disabled=""
                                    tabindex="-1"
                                    aria-label="Next slide"
                                    aria-controls="swiper-wrapper-12770ed6d1dde369"
                                    aria-disabled="true"
                                >
                                    next
                                </button>
                                <button
                                    class="gra-prev swiper-button-disabled swiper-button-lock"
                                    disabled=""
                                    tabindex="-1"
                                    aria-label="Previous slide"
                                    aria-controls="swiper-wrapper-12770ed6d1dde369"
                                    aria-disabled="true"
                                >
                                    prev
                                </button>
                                <span
                                    class="swiper-notification"
                                    aria-live="assertive"
                                    aria-atomic="true"
                                ></span>
                            </div>
                        </div>
                        <div class="plan-area slick-side-mo">
                            <ul
                                id="plan-area-container"
                                class="slick-initialized slick-slider"
                            >
                                <button
                                    type="button"
                                    data-role="none"
                                    class="slick-prev slick-arrow slick-disabled"
                                    aria-label="Previous"
                                    role="button"
                                    aria-disabled="true"
                                    style="display: inline-block"
                                >
                                    Previous
                                </button>
                                <div
                                    area-live="polite"
                                    class="slick-list draggable"
                                >
                                    <div
                                        class="slick-track"
                                        style="
                                            opacity: 1;
                                            width: 7360px;
                                            transform: translate3d(
                                                0px,
                                                0px,
                                                0px
                                            );
                                        "
                                        role="listbox"
                                    >
                                        <li
                                            class="plan-item slick-slide slick-current slick-active"
                                            data-slick-index="0"
                                            aria-hidden="false"
                                            style="width: 350px"
                                            tabindex="-1"
                                            role="option"
                                            aria-describedby="slick-slide70"
                                        >
                                            <a tabindex="0">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-lgu"
                                                        >LGU+</span
                                                    >

                                                    <strong class="name"
                                                        >데이터안심4.5G+</strong
                                                    >
                                                </div>
                                                <div class="plan-content">
                                                    <h3 class="title">4.5GB</h3>

                                                    <p class="desc">
                                                        소진시 1Mbps속도로
                                                        무한제공
                                                    </p>

                                                    <ul class="plan-icon-list">
                                                        <li>
                                                            <i
                                                                class="ico-call"
                                                            ></i
                                                            >기본제공
                                                        </li>
                                                        <li>
                                                            <i
                                                                class="ico-message"
                                                            ></i
                                                            >기본제공
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="plan-price">
                                                    <p class="price">
                                                        월
                                                        <strong>3,960</strong>원
                                                    </p>

                                                    <p class="spec">
                                                        6개월 후 22,000원
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </article>
                    <!-- ************************************************************* -->
                    <article class="article-promotion">
                        <div class="main-title">
                            <h2 class="title-type">수거 요청🥳</h2>
                        </div>
                        <div
                            class="category-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
                        >
                            <ul
                                class="swiper-wrapper"
                                id="promotion-tags-container"
                                aria-live="polite"
                                style="
                                    transition-duration: 300ms;
                                    transform: translate3d(0px, 0px, 0px);
                                "
                            >
                                <li
                                    class="swiper-slide swiper-slide-active active"
                                    id="tag0"
                                    role="group"
                                    aria-label="1 / 9"
                                >
                                    <a class="btn-type6">전체</a>
                                </li>

                                <li
                                    class="swiper-slide swiper-slide-next"
                                    id="tag66"
                                    role="group"
                                    aria-label="2 / 9"
                                >
                                    <a class="btn-type6">마포구</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag12"
                                    role="group"
                                    aria-label="3 / 9"
                                >
                                    <a class="btn-type6">서대문구</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag51"
                                    role="group"
                                    aria-label="4 / 9"
                                >
                                    <a class="btn-type6">용산구</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag18"
                                    role="group"
                                    aria-label="5 / 9"
                                >
                                    <a class="btn-type6">은평구</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag78"
                                    role="group"
                                    aria-label="6 / 9"
                                >
                                    <a class="btn-type6">영등포구</a>
                                </li>
                            </ul>
                            <button
                                class="gra-next"
                                tabindex="0"
                                aria-label="Next slide"
                                aria-controls="promotion-tags-container"
                                aria-disabled="false"
                            >
                                next
                            </button>
                            <button
                                class="gra-prev swiper-button-disabled"
                                tabindex="-1"
                                aria-label="Previous slide"
                                aria-controls="promotion-tags-container"
                                aria-disabled="true"
                                disabled=""
                            >
                                prev
                            </button>
                            <span
                                class="swiper-notification"
                                aria-live="assertive"
                                aria-atomic="true"
                            ></span>
                        </div>
                        <div class="promotion-area">
                            <!-- 수거 요청 목록 레이아웃 -->
                            <section class="contet-box">
                                <div class="allRequest">
                                    <!-- <span>
                                        <strong id="count">총</strong>
                                        <strong id="totalCount">617</strong>
                                        개
                                    </span> -->
                                    <ul class="board-type5">
                                        <div id="requestAllList">
                                            <li class="requestList1">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        라이트
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >강남구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 강남구
                                                            테헤란로 26길
                                                        </p>
                                                        <span
                                                            >제일비전타워
                                                            13층</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList2">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        프리미엄
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >송파구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 송파구
                                                            올림픽로 25
                                                        </p>
                                                        <span>5번 출구</span>
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList3">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        스탠다드
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >서대문구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 강남구
                                                            테헤란로 26길
                                                        </p>
                                                        <span
                                                            >제일비전타워
                                                            13층</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList4">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        스탠다드
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >강남구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 강남구
                                                            테헤란로 26길
                                                        </p>
                                                        <span
                                                            >제일비전타워
                                                            13층</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList5">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        라이트
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >마포구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 마포구
                                                            동교로 247
                                                        </p>
                                                        <span
                                                            >1층
                                                            랜디스도넛</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                <ul class="board-type5"></ul>
                            </section>
                            <!-- 수거 요청 목록 레이아웃 -->
                            <div class="btn-wrap">
                                <a class="btn-type3">수거요청 전체보기</a>
                            </div>
                        </div>
                    </article>
                    <!-- ************************************************************* -->
                </main>
            </div>
        </div>
    </body>
</html>
