<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/main.css" />
        <title>메인</title>
    </head>
    <body>
        <div id="wrap" class="wrap-main" style="padding-top: 80px">
            <div class="container">
                <main id="main" class="main">
                    <article class="article-menu">
                        <div class="grid-wrap">
                            <ul>
                                <li class="grid-item-l">
                                    <a href="">
                                        <i class="ico-main-search"></i>
                                        <p class="title">요금제 찾기</p>
                                        <p class="desc">
                                            나에게 딱 맞는
                                            <br />
                                            <span class="notranslate"
                                                >프리티</span
                                            >
                                            요금제 찾기
                                        </p>
                                        <span class="btn-type3">
                                            바로가기
                                            <i class="ico-arrow14"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="grid-item-m">
                                    <a href="">
                                        <i class="ico-main-event"></i>
                                        <p class="title">이벤트</p>
                                        <p class="desc">
                                            특별한 혜택을
                                            <br />
                                            만나보세요.
                                        </p>
                                    </a>
                                </li>
                                <li class="grid-item-m">
                                    <a href="">
                                        <i class="ico-main-self"></i>
                                        <p class="title">유심(셀프) 개통</p>
                                        <p class="desc">
                                            쉽고 빠른 개통을
                                            <br />
                                            시작하세요.
                                        </p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a href="">
                                        <i class="ico-main-usim"></i>
                                        <p class="title">유심 구매</p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a href="">
                                        <i class="ico-main-phone"></i>
                                        <p class="title">휴대폰</p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a href="">
                                        <i class="ico-main-cs"></i>
                                        <p class="title">고객지원</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-2">
                            <img
                                src="https://www.freet.co.kr/upload/eventimg/PW_freet_award_02_v0.1.png"
                                class="pc-only"
                                style="margin-top: 40px"
                            />
                        </div>
                    </article>
                    <article class="article-plan">
                        <div class="main-title">
                            <h2 class="title-type">
                                <span class="notranslate">프리티</span>
                                BEST 요금제👍🏻
                            </h2>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </body>
</html>
