<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/main.css" />
        <title>메인</title>
    </head>
    <body>
        <div id="wrap" class="wrap-main" style="padding-top: 80px">
            <div class="container">
                <main id="main" class="main">
                    <article class="article-menu">
                        <div class="grid-wrap">
                            <ul>
                                <li class="grid-item-l">
                                    <a href="">
                                        <i class="ico-main-search"></i>
                                        <p class="title">요금제 찾기</p>
                                        <p class="desc">
                                            나에게 딱 맞는
                                            <br />
                                            <span class="notranslate"
                                                >프리티</span
                                            >
                                            요금제 찾기
                                        </p>
                                        <span class="btn-type3">
                                            바로가기
                                            <i class="ico-arrow14"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="grid-item-m">
                                    <a href="">
                                        <i class="ico-main-event"></i>
                                        <p class="title">이벤트</p>
                                        <p class="desc">
                                            특별한 혜택을
                                            <br />
                                            만나보세요.
                                        </p>
                                    </a>
                                </li>
                                <li class="grid-item-m">
                                    <a href="">
                                        <i class="ico-main-self"></i>
                                        <p class="title">유심(셀프) 개통</p>
                                        <p class="desc">
                                            쉽고 빠른 개통을
                                            <br />
                                            시작하세요.
                                        </p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a href="">
                                        <i class="ico-main-usim"></i>
                                        <p class="title">유심 구매</p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a href="">
                                        <i class="ico-main-phone"></i>
                                        <p class="title">휴대폰</p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a href="">
                                        <i class="ico-main-cs"></i>
                                        <p class="title">고객지원</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-2">
                            <img
                                src="https://www.freet.co.kr/upload/eventimg/PW_freet_award_02_v0.1.png"
                                class="pc-only"
                                style="margin-top: 40px"
                            />
                        </div>
                    </article>
                    <!-- ************************************************************* -->
                    <article class="article-promotion">
                        <div class="main-title">
                            <h2 class="title-type">수거 요청🥳</h2>
                        </div>
                        <div
                            class="category-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
                        >
                            <ul
                                class="swiper-wrapper"
                                id="promotion-tags-container"
                                aria-live="polite"
                                style="
                                    transition-duration: 300ms;
                                    transform: translate3d(0px, 0px, 0px);
                                "
                            >
                                <li
                                    class="swiper-slide swiper-slide-active active"
                                    id="tag0"
                                    role="group"
                                    aria-label="1 / 9"
                                >
                                    <a class="btn-type6">전체</a>
                                </li>

                                <li
                                    class="swiper-slide swiper-slide-next"
                                    id="tag66"
                                    role="group"
                                    aria-label="2 / 9"
                                >
                                    <a class="btn-type6">수거요청</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag12"
                                    role="group"
                                    aria-label="3 / 9"
                                >
                                    <a class="btn-type6">수거완료</a>
                                </li>
                            </ul>
                            <button
                                class="gra-next"
                                tabindex="0"
                                aria-label="Next slide"
                                aria-controls="promotion-tags-container"
                                aria-disabled="false"
                            >
                                next
                            </button>
                            <button
                                class="gra-prev swiper-button-disabled"
                                tabindex="-1"
                                aria-label="Previous slide"
                                aria-controls="promotion-tags-container"
                                aria-disabled="true"
                                disabled=""
                            >
                                prev
                            </button>
                            <span
                                class="swiper-notification"
                                aria-live="assertive"
                                aria-atomic="true"
                            ></span>
                        </div>
                        <div class="promotion-area">
                            <!-- 수거 요청 목록 레이아웃 -->
                            <section class="contet-box">
                                <div class="allRequest">
                                    <!-- <span>
                                            <strong id="count">총</strong>
                                            <strong id="totalCount">617</strong>
                                            개
                                        </span> -->
                                    <ul class="board-type5">
                                        <div id="requestAllList">
                                            <li class="requestList1">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        라이트
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >강남구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 강남구
                                                            테헤란로 26길
                                                        </p>
                                                        <span
                                                            >제일비전타워
                                                            13층</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList2">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        프리미엄
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >송파구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 송파구
                                                            올림픽로 25
                                                        </p>
                                                        <span>5번 출구</span>
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList3">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        스탠다드
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >서대문구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 강남구
                                                            테헤란로 26길
                                                        </p>
                                                        <span
                                                            >제일비전타워
                                                            13층</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList4">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        스탠다드
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >강남구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 강남구
                                                            테헤란로 26길
                                                        </p>
                                                        <span
                                                            >제일비전타워
                                                            13층</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList5">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        라이트
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >마포구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 마포구
                                                            동교로 247
                                                        </p>
                                                        <span
                                                            >1층
                                                            랜디스도넛</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                <ul class="board-type5"></ul>
                            </section>
                            <!-- 수거 요청 목록 레이아웃 -->
                            <div class="btn-wrap">
                                <a class="btn-type3">수거요청 전체보기</a>
                            </div>
                        </div>
                    </article>
                    <!-- ************************************************************* -->
                    <article class="article-plan">
                        <div class="main-title">
                            <h2 class="title-type">
                                <span class="notranslate">프리티</span>
                                BEST 요금제👍🏻
                            </h2>
                        </div>
                        <div class="plan-tag">
                            <div
                                class="category-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
                            >
                                <ul
                                    class="swiper-wrapper"
                                    id="swiper-wrapper-12770ed6d1dde369"
                                    aria-live="polite"
                                >
                                    <li
                                        class="swiper-slide active swiper-slide-active"
                                        role="group"
                                        aria-label="1 / 4"
                                    >
                                        <a class="btn-type6">전체</a>
                                    </li>
                                    <li
                                        class="swiper-slide swiper-slide-next"
                                        role="group"
                                        aria-label="2 / 4"
                                    >
                                        <a class="btn-type6">SKT</a>
                                    </li>
                                    <li
                                        class="swiper-slide"
                                        role="group"
                                        aria-label="3 / 4"
                                    >
                                        <a class="btn-type6">KT</a>
                                    </li>
                                    <li
                                        class="swiper-slide"
                                        role="group"
                                        aria-label="4 / 4"
                                    >
                                        <a class="btn-type6">LGU+</a>
                                    </li>
                                </ul>
                                <button
                                    class="gra-next swiper-button-disabled swiper-button-lock"
                                    disabled=""
                                    tabindex="-1"
                                    aria-label="Next slide"
                                    aria-controls="swiper-wrapper-12770ed6d1dde369"
                                    aria-disabled="true"
                                >
                                    next
                                </button>
                                <button
                                    class="gra-prev swiper-button-disabled swiper-button-lock"
                                    disabled=""
                                    tabindex="-1"
                                    aria-label="Previous slide"
                                    aria-controls="swiper-wrapper-12770ed6d1dde369"
                                    aria-disabled="true"
                                >
                                    prev
                                </button>
                                <span
                                    class="swiper-notification"
                                    aria-live="assertive"
                                    aria-atomic="true"
                                ></span>
                            </div>
                        </div>
                        <div class="plan-area slick-side-mo">
                            <ul
                                id="plan-area-container"
                                class="slick-initialized slick-slider"
                            >
                                <button
                                    type="button"
                                    data-role="none"
                                    class="slick-prev slick-arrow slick-disabled"
                                    aria-label="Previous"
                                    role="button"
                                    aria-disabled="true"
                                    style="display: inline-block"
                                >
                                    Previous
                                </button>
                                <div
                                    area-live="polite"
                                    class="slick-list draggable"
                                >
                                    <div
                                        class="slick-track"
                                        style="
                                            opacity: 1;
                                            width: 7360px;
                                            transform: translate3d(
                                                0px,
                                                0px,
                                                0px
                                            );
                                        "
                                        role="listbox"
                                    >
                                        <li
                                            class="plan-item slick-slide slick-current slick-active"
                                            data-slick-index="0"
                                            aria-hidden="false"
                                            style="width: 350px"
                                            tabindex="-1"
                                            role="option"
                                            aria-describedby="slick-slide70"
                                        >
                                            <a tabindex="0">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-lgu"
                                                        >LGU+</span
                                                    >

                                                    <strong class="name"
                                                        >데이터안심4.5G+</strong
                                                    >
                                                </div>
                                                <div class="plan-content">
                                                    <h3 class="title">4.5GB</h3>

                                                    <p class="desc">
                                                        소진시 1Mbps속도로
                                                        무한제공
                                                    </p>

                                                    <ul class="plan-icon-list">
                                                        <li>
                                                            <i
                                                                class="ico-call"
                                                            ></i
                                                            >기본제공
                                                        </li>
                                                        <li>
                                                            <i
                                                                class="ico-message"
                                                            ></i
                                                            >기본제공
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="plan-price">
                                                    <p class="price">
                                                        월
                                                        <strong>3,960</strong>원
                                                    </p>

                                                    <p class="spec">
                                                        6개월 후 22,000원
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li
                                            class="plan-item slick-slide slick-active"
                                            data-slick-index="1"
                                            aria-hidden="false"
                                            style="width: 350px"
                                            tabindex="-1"
                                            role="option"
                                            aria-describedby="slick-slide71"
                                        >
                                            <a
                                                href="/plan/ratePlan/detail?svcCd=DDH350B5G"
                                                tabindex="0"
                                            >
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-lgu"
                                                        >LGU+</span
                                                    >

                                                    <strong class="name"
                                                        >든든한 350분5G</strong
                                                    >
                                                </div>
                                                <div class="plan-content">
                                                    <h3 class="title">5GB</h3>

                                                    <ul class="plan-icon-list">
                                                        <li>
                                                            <i
                                                                class="ico-call"
                                                            ></i
                                                            >350분
                                                        </li>
                                                        <li>
                                                            <i
                                                                class="ico-message"
                                                            ></i
                                                            >100건
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="plan-price">
                                                    <p class="price">
                                                        월
                                                        <strong>110</strong>원
                                                    </p>

                                                    <p class="spec">
                                                        12개월 후 16,500원
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li
                                            class="plan-item slick-slide"
                                            data-slick-index="2"
                                            aria-hidden="true"
                                            style="width: 350px"
                                            tabindex="-1"
                                            role="option"
                                            aria-describedby="slick-slide72"
                                        >
                                            <a
                                                href="/plan/ratePlan/detail?svcCd=SIMPLE100"
                                                tabindex="-1"
                                            >
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-lgu"
                                                        >LGU+</span
                                                    >

                                                    <strong class="name"
                                                        >심플 100분2G</strong
                                                    >
                                                </div>
                                                <div class="plan-content">
                                                    <h3 class="title">2GB</h3>

                                                    <ul class="plan-icon-list">
                                                        <li>
                                                            <i
                                                                class="ico-call"
                                                            ></i
                                                            >100분
                                                        </li>
                                                        <li>
                                                            <i
                                                                class="ico-message"
                                                            ></i
                                                            >50건
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="plan-price">
                                                    <p class="price">
                                                        월
                                                        <strong>220</strong>원
                                                    </p>

                                                    <p class="spec">
                                                        6개월 후 11,000원
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                                <button
                                    type="button"
                                    data-role="none"
                                    class="slick-next slick-arrow"
                                    aria-label="Next"
                                    role="button"
                                    style=""
                                    aria-disabled="false"
                                >
                                    Next
                                </button>
                            </ul>
                        </div>
                    </article>
                    <article class="article-benefit">
                        <div class="benefit-list">
                            <ul>
                                <li>
                                    <a href="">
                                        <div class="icon-box">
                                            <i class="ico-main-plan1"></i>
                                        </div>
                                        <dl>
                                            <dt>3사 유심 판매! N스토어</dt>
                                            <dd>
                                                <span class="notranslate"
                                                    >프리티</span
                                                >
                                                공식 판매처!
                                                <br />
                                                네이버 포인트 적립도 받으세요!
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="icon-box">
                                            <i class="ico-main-plan2"></i>
                                        </div>
                                        <dl>
                                            <dt>
                                                <span class="notranslate"
                                                    >프리티</span
                                                >
                                                해외 유심
                                            </dt>
                                            <dd>
                                                해외 여행의 필수 아이템!<br />
                                                이제
                                                <span class="notranslate"
                                                    >프리티</span
                                                >에서 준비하세요!
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="icon-box">
                                            <i class="ico-main-plan3"></i>
                                        </div>
                                        <dl>
                                            <dt>
                                                <span class="notranslate"
                                                    >프리티</span
                                                >
                                                App 다운로드
                                            </dt>
                                            <dd>
                                                새로워진
                                                <span class="notranslate"
                                                    >프리티</span
                                                >
                                                앱,<br />
                                                유심개통도 모바일앱으로 하세요!
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick="">
                                        <div class="icon-box">
                                            <i class="ico-main-plan4"></i>
                                        </div>
                                        <dl>
                                            <dt>
                                                <span class="notranslate"
                                                    >프리티</span
                                                >
                                                평생할인혜택
                                            </dt>
                                            <dd>
                                                우수장기고객을 위한 다양한
                                                혜택!<br />
                                                요금할인에서 알뜰기변까지
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="article-review">
                        <div class="main-title">
                            <h2 class="title-type">고객님의 소중한 후기🫶</h2>
                        </div>
                        <div class="review-area">
                            <ul
                                id="review-container"
                                class="slick-initialized slick-slider"
                            >
                                <div
                                    aria-live="polite"
                                    class="slick-list draggable"
                                >
                                    <div
                                        class="slick-track"
                                        style="
                                            opacity: 1;
                                            width: 1218px;
                                            transform: translate3d(
                                                0px,
                                                0px,
                                                0px
                                            );
                                        "
                                        role="listbox"
                                    >
                                        <li
                                            class="review-item slick-slide slick-current slick-active"
                                            data-slick-index="0"
                                            aria-hidden="false"
                                            style="width: 591px"
                                            tabindex="-1"
                                            role="option"
                                            aria-describedby="slick-slide60"
                                        >
                                            <a
                                                href="javascript:void(0)"
                                                onclick=""
                                                tabindex="0"
                                            >
                                                <div class="review-top">
                                                    <div class="box">
                                                        <div class="star-grade">
                                                            <span
                                                                class="star"
                                                                style="
                                                                    width: 100%;
                                                                "
                                                                >5</span
                                                            >
                                                        </div>
                                                        <div class="info">
                                                            <span class="name"
                                                                >김*현</span
                                                            >
                                                            <span class="date"
                                                                >2024.08.27</span
                                                            >
                                                        </div>
                                                    </div>
                                                    <span class="tag-type3"
                                                        >우수리뷰</span
                                                    >
                                                </div>
                                                <div class="review-cont">
                                                    <p>
                                                        요즘 물가가 치솟아서
                                                        지출을 조금이라도
                                                        줄여보고자 통신비 부분을
                                                        확실히 줄여야겠다고
                                                        생각했습니다. 그래서
                                                        알뜰폰 통신사들을 많이
                                                        찾아봤습니다. 고르고
                                                        골라서 나온 결론은
                                                        가성비 갑은 프리티가
                                                        으뜸입니다. 요금제
                                                        가격도 저렴하고 무엇보다
                                                        직접 통화하지 않고
                                                        셀프로 직접 편하게 가입
                                                        &amp;#40;셀프개통&amp;#41;할
                                                        수 있다는 점이 좋았던 것
                                                        같아요. 필요하다면
                                                        상담사 개통도 할 수
                                                        있구요. 어느쪽이든 가입
                                                        절차가 편리해서 더욱
                                                        만족했습니다. 제가
                                                        프리티 알뜰폰 요금제를
                                                        개통하는 과정에서,
                                                        그리고 개통후 지금까지
                                                        사용하면서 느낀
                                                        ？？프리티 요금제의
                                                        장점？？을 6가지로
                                                        압축하면 1. 가성비 갑인
                                                        다양한 요금제가 많다 2.
                                                        통화품질이 좋다 3.
                                                        데이터 속도가 안정적이다
                                                        4. 온라인 가입절차가
                                                        간편하다 5. 개통까지
                                                        과정이 빠르고 편리하다
                                                        6. 고객센터 상담 매우
                                                        친절하다 입니다.
                                                        프리티는 고물가 시대의
                                                        한줄기 빛이랄까요
                                                        통신비는 저렴하지만,
                                                        퀄리티는 절대 저렴하지
                                                        않은! 알.뜰.한. 프리티
                                                        요금제？ 라고 생각합니다
                                                        ㅎㅎ
                                                    </p>
                                                    <span class="text-more"
                                                        >더보기</span
                                                    >
                                                </div>
                                                <div class="review-bottom">
                                                    <div class="plan">
                                                        <span
                                                            class="flag-type status-skt"
                                                            >SKT</span
                                                        >
                                                        <p>심플 150분1.5G</p>
                                                    </div>
                                                    <div class="photo">
                                                        <span
                                                            class="icon-photo"
                                                        >
                                                            <i
                                                                style="
                                                                    background-image: url();
                                                                "
                                                            ></i>
                                                        </span>

                                                        <span
                                                            class="icon-photo"
                                                        >
                                                            <i
                                                                style="
                                                                    background-image: url();
                                                                "
                                                            ></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li
                                            class="review-item slick-slide slick-active"
                                            data-slick-index="1"
                                            aria-hidden="false"
                                            style="width: 591px"
                                            tabindex="-1"
                                            role="option"
                                            aria-describedby="slick-slide61"
                                        >
                                            <a
                                                href="javascript:void(0)"
                                                onclick=""
                                                tabindex="0"
                                            >
                                                <div class="review-top">
                                                    <div class="box">
                                                        <div class="star-grade">
                                                            <span
                                                                class="star"
                                                                style="
                                                                    width: 100%;
                                                                "
                                                                >5</span
                                                            >
                                                        </div>
                                                        <div class="info">
                                                            <span class="name"
                                                                >이*아</span
                                                            >
                                                            <span class="date"
                                                                >2024.08.22</span
                                                            >
                                                        </div>
                                                    </div>
                                                    <span class="tag-type3"
                                                        >우수리뷰</span
                                                    >
                                                </div>
                                                <div class="review-cont">
                                                    <p>집에가고싶다</p>
                                                    <span class="text-more"
                                                        >더보기</span
                                                    >
                                                </div>
                                                <div class="review-bottom">
                                                    <div class="plan">
                                                        <span
                                                            class="flag-type status-lgu"
                                                            >LGU+</span
                                                        >
                                                        <p>
                                                            U+유독데이터매일5G+
                                                        </p>
                                                    </div>
                                                    <div class="photo"></div>
                                                </div>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                            <div class="btn-wrap">
                                <a href="javascript:void(0)" class="btn-type3"
                                    >이용후기 전체보기</a
                                >
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </body>
</html>
