<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/mobile-home-body.css" />
        <link
            rel="shortcut icon"
            href="https://www.freet.co.kr/static/assets/favicons/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://www.freet.co.kr/assets/css/font.css?v=20240726"
        />
        <title>홈화면 바디</title>
    </head>
    <body>
        <!-- 전체를 감싸고 있는 div -->
        <div id="wrap" class="wrap-main" style="padding-top: 59.5877px">
            <div class="container">
                <main id="main" class="main">
                    <article class="article-menu">
                        <div class="grid-wrap">
                            <ul>
                                <li class="grid-item-l">
                                    <a>
                                        <i class="ico-main-search"></i>
                                        <p class="title">요금제 찾기</p>
                                    </a>
                                </li>
                                <li class="grid-item-m">
                                    <a>
                                        <i class="ico-main-event"></i>
                                        <p class="title">이벤트</p>
                                    </a>
                                </li>
                                <li class="grid-item-m">
                                    <a>
                                        <i class="ico-main-self"></i>
                                        <p class="title">유심(셀프) 개통</p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a>
                                        <i class="ico-main-uslm"></i>
                                        <p class="title">유심 구매</p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a>
                                        <i class="ico-main-phone"></i>
                                        <p class="title">휴대폰</p>
                                    </a>
                                </li>
                                <li class="grid-item-s">
                                    <a>
                                        <i class="ico-main-cs"></i>
                                        <p class="title">고객지원</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-2">
                            <img
                                src="https://www.freet.co.kr/upload/eventimg/MW_freet_award_02_v0.1.jpg"
                                class="mobile-only"
                            />
                        </div>
                    </article>
                    <article class="article-promotion">
                        <div class="main-title">
                            <h2 class="title-type">더 특별한 혜택🥳</h2>
                        </div>
                        <div
                            class="category-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
                        >
                            <ul
                                class="swiper-wrapper"
                                id="promotion-tags-container"
                                aria-live="polite"
                                style="
                                    transition-duration: 300ms;
                                    transform: translate3d(0px, 0px, 0px);
                                "
                            >
                                <li
                                    class="swiper-slide swiper-slide-active active"
                                    id="tag0"
                                    role="group"
                                    aria-label="1 / 9"
                                >
                                    <a class="btn-type6">전체</a>
                                </li>

                                <li
                                    class="swiper-slide swiper-slide-next"
                                    id="tag66"
                                    role="group"
                                    aria-label="2 / 9"
                                >
                                    <a class="btn-type6">3사 혜택</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag12"
                                    role="group"
                                    aria-label="3 / 9"
                                >
                                    <a class="btn-type6">U+혜택</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag51"
                                    role="group"
                                    aria-label="4 / 9"
                                >
                                    <a class="btn-type6">SKT 혜택</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag18"
                                    role="group"
                                    aria-label="5 / 9"
                                >
                                    <a class="btn-type6">KT 혜택</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag78"
                                    role="group"
                                    aria-label="6 / 9"
                                >
                                    <a class="btn-type6">결합혜택</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag50"
                                    role="group"
                                    aria-label="7 / 9"
                                >
                                    <a class="btn-type6">구독혜택</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag11"
                                    role="group"
                                    aria-label="8 / 9"
                                >
                                    <a class="btn-type6">특별이벤트</a>
                                </li>

                                <li
                                    class="swiper-slide"
                                    id="tag54"
                                    role="group"
                                    aria-label="9 / 9"
                                >
                                    <a class="btn-type6">유심혜택</a>
                                </li>
                            </ul>
                            <button
                                class="gra-next"
                                tabindex="0"
                                aria-label="Next slide"
                                aria-controls="promotion-tags-container"
                                aria-disabled="false"
                            >
                                next
                            </button>
                            <button
                                class="gra-prev swiper-button-disabled"
                                tabindex="-1"
                                aria-label="Previous slide"
                                aria-controls="promotion-tags-container"
                                aria-disabled="true"
                                disabled=""
                            >
                                prev
                            </button>
                            <span
                                class="swiper-notification"
                                aria-live="assertive"
                                aria-atomic="true"
                            ></span>
                        </div>
                        <div class="promotion-area">
                            <!-- 수거 요청 목록 레이아웃 -->
                            <section class="contet-box">
                                <input type="hidden" id="lang" name="lang" />
                                <input
                                    type="hidden"
                                    id="pageNo"
                                    name="pageNo"
                                    value="1"
                                />
                                <input
                                    type="hidden"
                                    id="rowSize"
                                    name="rowSize"
                                />
                                <input
                                    type="hidden"
                                    id="pageRowCount"
                                    name="pageRowCount"
                                />
                                <div class="form-search">
                                    <input
                                        type="text"
                                        id="schKey"
                                        placeholder="검색"
                                        maxlength="10"
                                    />
                                    <button class="btn-search" id="schBtn">
                                        <i class="ico-search"></i>
                                        <span class="hidden">검색</span>
                                    </button>
                                    <button
                                        type="button"
                                        class="btn-clear hidden"
                                    >
                                        <i class="ico-input-delete"></i>
                                        <span class="hidden">지우기</span>
                                    </button>
                                </div>
                                <div class="search-result">
                                    <span>
                                        <strong id="count">총</strong>
                                        <strong id="totalCount">617</strong>
                                        개
                                    </span>
                                    <ul class="board-type5">
                                        <div id="noticeListHtml">
                                            <li>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            프리텔레콤
                                                            서비스약관 변경
                                                            20240821
                                                        </p>
                                                        <span>2024.08.22</span>
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                <ul class="board-type5"></ul>
                            </section>
                            <!-- 수거 요청 목록 레이아웃 -->
                            <div class="btn-wrap">
                                <a class="btn-type3">이벤트 전체보기</a>
                            </div>
                        </div>
                    </article>
                    <article class="article-plan">
                        <div class="main-title">
                            <h2 class="title-type">
                                <span class="notranslate"> 프리티 </span>
                                BEST 요금제👍🏻
                            </h2>
                        </div>
                        <div class="plan-tag">
                            <div
                                class="category-slider swiper-initialized swiper-horizontal swiper-ios swiper-backface-hidden"
                            >
                                <ul
                                    class="swiper-wrapper"
                                    id="swiper-wrapper-3faba81162f107d10f"
                                    aria-live="polite"
                                >
                                    <li
                                        class="swiper-slide active swiper-slide-active"
                                        role="group"
                                        aria-label="1 / 4"
                                    >
                                        <a class="btn-type6">전체</a>
                                    </li>
                                    <li
                                        class="swiper-slide swiper-slide-next"
                                        role="group"
                                        aria-label="2 / 4"
                                    >
                                        <a class="btn-type6">SKT</a>
                                    </li>
                                    <li
                                        class="swiper-slide"
                                        role="group"
                                        aria-label="3 / 4"
                                    >
                                        <a class="btn-type6">KT</a>
                                    </li>
                                    <li
                                        class="swiper-slide"
                                        role="group"
                                        aria-label="4 / 4"
                                    >
                                        <a class="btn-type6">LGU+</a>
                                    </li>
                                </ul>
                                <button
                                    class="gra-next swiper-button-disabled swiper-button-lock"
                                    disabled=""
                                    tabindex="-1"
                                    aria-label="Next slide"
                                    aria-controls="swiper-wrapper-3faba81162f107d10f"
                                    aria-disabled="true"
                                >
                                    next
                                </button>
                                <button
                                    class="gra-prev swiper-button-disabled swiper-button-lock"
                                    disabled=""
                                    tabindex="-1"
                                    aria-label="Previous slide"
                                    aria-controls="swiper-wrapper-3faba81162f107d10f"
                                    aria-disabled="true"
                                >
                                    prev
                                </button>
                                <span
                                    class="swiper-notification"
                                    aria-live="assertive"
                                    aria-atomic="true"
                                ></span>
                            </div>
                        </div>
                        <div
                            class="plan-area slick-side-mo"
                            role="toolbar"
                        ></div>
                    </article>
                    <article class="article-benefit"></article>
                    <article class="article-review"></article>
                </main>
            </div>
        </div>
    </body>
</html>
