<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>1:1 상담문의</title>
        <link rel="stylesheet" href="/static/css/one-to-one.css" />
    </head>
    <body>
        <div id="container">
            <div id="wrap">
                <section id="content" class="section-inquiry">
                    <div class="inner">
                        <div class="page-header side">
                            <h2 class="page-title">1:1 상담문의</h2>
                            <div class="location">
                                <a href="/" class="home"
                                    ><span class="hidden">HOME</span></a
                                >
                                <a href="/customer/helpDesk"> 고객센터 </a>
                                <a href="javascript:void(0)"> 1:1 상담문의 </a>
                                <strong> 상담문의 </strong>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
    <script src="/static/js/one-to-one.js"></script>
</html>
