<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <code class="hljs language-javascript"
            ><span class="hljs-keyword">let</span> curPos =
            <span class="hljs-number">0</span>;
            <span class="hljs-keyword">let</span> postion =
            <span class="hljs-number">0</span>;
            <span class="hljs-keyword">let</span> start_x, end_x;
            <span class="hljs-keyword">const</span> contentsWidth =
            <span class="hljs-number">300</span>;
            <span class="hljs-keyword">const</span> contents =
            <span class="hljs-variable language_">document</span>.<span
                class="hljs-title function_"
                >querySelector</span
            >(<span class="hljs-string">".slide-contents"</span>);
            contents.<span class="hljs-title function_">addEventListener</span
            >(<span class="hljs-string">'touchstart'</span>, touchStart);
            contents.<span class="hljs-title function_">addEventListener</span
            >(<span class="hljs-string">'touchend'</span>, touchEnd);

            <span class="hljs-comment"
                >// 뒤로가기, 앞으로 가기 함수 : 터치 이벤트가
                발생(touchEnd())하면 호출 됨</span
            >
            <span class="hljs-keyword">function</span>
            <span class="hljs-title function_">prev</span>(<span
                class="hljs-params"
            ></span
            >) { <span class="hljs-keyword">if</span> (curPos &gt;
            <span class="hljs-number">0</span>) { postion += contentsWidth;
            contents.<span class="hljs-property">style</span>.<span
                class="hljs-property"
                >transform</span
            >
            = <span class="hljs-string">'translateX(${postion}px)'</span>;
            curPos = curPos - <span class="hljs-number">1</span>; } }

            <span class="hljs-keyword">function</span>
            <span class="hljs-title function_">next</span>(<span
                class="hljs-params"
            ></span
            >) { <span class="hljs-keyword">if</span> (curPos &lt;
            <span class="hljs-number">2</span>) { position += contentsWidth;
            contents.<span class="hljs-property">style</span>.<span
                class="hljs-property"
                >transform</span
            >
            = <span class="hljs-string">'translateX(${postion}px)'</span>;
            curPos = curPos + <span class="hljs-number">1</span>; } }

            <span class="hljs-keyword">function</span>
            <span class="hljs-title function_">touchStart</span>(<span
                class="hljs-params"
                >e</span
            >) { start_x = e.<span class="hljs-property">touchs</span>[<span
                class="hljs-number"
                >0</span
            >].<span class="hljs-property">pageX</span>
            }

            <span class="hljs-keyword">function</span>
            <span class="hljs-title function_">touchEnd</span>(<span
                class="hljs-params"
                >e</span
            >) { end_x = e.<span class="hljs-property">changedTouches</span
            >[<span class="hljs-number">0</span>].<span class="hljs-property"
                >pageX</span
            >; <span class="hljs-keyword">if</span> (start_x &gt; end_x) {
            <span class="hljs-title function_">next</span>(); }
            <span class="hljs-keyword">else</span> {
            <span class="hljs-title function_">prev</span>(); } }</code
        >
    </body>
    <script>
        console.log(document.querySelector("code").innerText);
    </script>
</html>
