@charset "UTF-8";
@font-face {
    font-family: "SUIT";
    font-weight: 300;
    src: local("SUIT-Light"),url(../fonts/SUIT-Light.woff2)format("woff2"),url(../fonts/SUIT-Light.otf)format("wopentypeoff")
}

@font-face {
    font-family: "SUIT";
    font-weight: 400;
    src: local("SUIT-Regular"),url(../fonts/SUIT-Regular.woff2)format("woff2"),url(../fonts/SUIT-Regular.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 600;
    src: local("SUIT-SemiBold"),url(../fonts/SUIT-SemiBold.woff2)format("woff2"),url(../fonts/SUIT-SemiBold.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 700;
    src: local("SUIT-Bold"),url(../fonts/SUIT-Bold.woff2)format("woff2"),url(../fonts/SUIT-Bold.otf)format("opentype")
}
@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),url(../fonts/Pretendard-Black.woff2)format("woff2"),url(../fonts/Pretendard-Black.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),url(../fonts/Pretendard-ExtraBold.woff2)format("woff2"),url(../fonts/Pretendard-ExtraBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(../fonts/Pretendard-Bold.woff2)format("woff2"),url(../fonts/Pretendard-Bold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(../fonts/Pretendard-SemiBold.woff2)format("woff2"),url(../fonts/Pretendard-SemiBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),url(../fonts/Pretendard-Medium.woff2)format("woff2"),url(../fonts/Pretendard-Medium.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(../fonts/Pretendard-Regular.woff2)format("woff2"),url(../fonts/Pretendard-Regular.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),url(../fonts/Pretendard-Light.woff2)format("woff2"),url(../fonts/Pretendard-Light.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),url(../fonts/Pretendard-ExtraLight.woff2)format("woff2"),url(../fonts/Pretendard-ExtraLight.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),url(../fonts/Pretendard-Thin.woff2)format("woff2"),url(../fonts/Pretendard-Thin.woff)format("woff")
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    word-break: break-all;
}

body {
    line-height: 1.25;
    font-family: "SUIT", sans-serif;
    font-size: 16px;
    color: #111;
}
a {
    color: inherit;
    text-decoration: none;
}
ol, ul {
    list-style: none;
}

@media (min-width: 1200px) {
    #content {
        padding-bottom: 120px;
    }
}

#content {
    padding: 30px 0 80px;
}

@media (min-width: 1200px) {
    .inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
}
.inner {
    position: relative;
    width: 100%;
    padding: 0 20px;
}
@media (min-width: 1200px) {
    .page-header.side {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .page-header {
        position: inherit;
        text-align: center;
        padding-right: 0;
    }
}
.page-header {
    margin-bottom: 40px;
    padding-right: 40px;
}
@media (min-width: 1200px) {
    .page-header.side .page-title {
        font-size: 28px;
    }
}

@media (min-width: 1200px) {
    .page-header .page-title {
        font-size: 40px;
        line-height: 1.2;
    }
}
.page-header .page-title {
    font-size: 22px;
    line-height: 1.6;
    font-weight: 600;
}
@media (min-width: 1200px) {
    .page-header.side .location {
        margin-bottom: 0;
    }
}
.location {
    display: none;
}
@media (min-width: 1200px) {
    .location {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;
        line-height: 1.7;
        color: #343434;
        margin-bottom: 20px;
    }
}
@media (min-width: 1200px) {
    .location .home {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        background-image: url(https://www.freet.co.kr/assets/images/icon/home.svg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1200px) {
    .location a {
        position: relative;
        margin-right: 25px;
    }
}
.hidden {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}
@media (min-width: 1200px) {
    .location a:after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        vertical-align: middle;
        background-image: url(https://www.freet.co.kr/assets/images/icon/arrow.svg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        position: absolute;
        right: -18px;
        top: 50%;
        margin-top: -5px;
    }
}

/* inner box */
.inner-box {
    max-width: 852px;
    margin: 0 auto;
}

.tab-wrap {
    margin-bottom: 30px;
}
@media (min-width: 1200px) {
    .section-inquiry .tab-wrap {
        max-width: 852px;
        margin-bottom: 60px;
    }
}
@media (min-width: 1200px) {
    .tab-wrap {
        max-width: 504px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .tab-type {
        border-radius: 30px;
    }
}


.tab-type {
    display: flex;
    background: #f1f3fb;
    border-radius: 21px;
}

.tab-type li {
    width: 100%;
}

.tab-type li.active a {
    background: #3f4970;
    color: #fff;
}

.tab-type li a, .tab-type li label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    border-radius: 21px;
    font-size: 13px;
    font-weight: 600;
    color: #3f4970;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}
@media (min-width: 1200px) {
    .tab-type li a, .tab-type li label {
        /* 이게 맞나..? */
        height: 60px;
        border-radius: 30px;
        font-size: 16px;
    }
}

/* modal 창 */
@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}
.pop-layer {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;
    width: 100%;
    height: 100%;
}
.pop-layer .dim {
    display: block;
}
.dim {
    z-index: -1;
}

.body-dim, .dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, .7);
}
.pop-layer .pop-wrap {
    position: relative;
    width: calc(100% - 80px);
}
@media (min-width: 1200px) {
    .pop-layer .pop-wrap, .pop-layer .pop-wrap.v2 {
        width: 360px;
    }
}
.pop-alert .pop-content {
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 85vh;
}

@media (min-width: 1200px) {
    .pop-layer .pop-content {
        padding: 40px;
        overflow: hidden;
        max-height: 650px;
    }
}

.pop-alert .pop-content p {
    font-size: 16px;
    line-height: 1.6;
}
@media (min-width: 1200px) {
    .pop-alert .pop-content p {
        font-size: 16px;
    }
}
.pop-layer .btn-wrap {
    margin-top: 20px;
}

.pop-layer .btn-wrap .btn-type {
    height: 42px;
    font-size: 13px;
    width: 100px;
}

@media (min-width: 1200px) {
    .pop-layer .btn-wrap .btn-type {
        height: 50px;
        width: 120px;
        font-size: 15px;
    }
}

.btn-type.v3 {
    background: #f1f3fb;
    color: #3f4970;
}
.btn-wrap [class^=btn-type]:nth-child(n+2) {
    margin-left: 10px;
}

/* 버튼  */
.btn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.button-default.disabled, .disabled.btn-form, 
.disabled.btn-type, .disabled.btn-type-sm, 
.disabled.btn-type2 {
    pointer-events: none;
    color: #fff;
    opacity: .4;
}

.btn-wrap [class^=btn-type], .tab-type li, .tab-type2 li {
    width: 100%;
}


.btn-type, .btn-type-sm{
    background: #f0543a;
    color: #fff;
}

@media (min-width: 1200px) {
    .btn-type, .btn-type-sm, .btn-type2, .button-default {
        max-width: 200px;
        height: 64px;
        font-size: 20px;
    }
}

.btn-type, .btn-type-sm, .btn-type2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    font-weight: 600;
    width: 100%;
    transition: background .2s ease;
}

.btn-type, .btn-type2 {
    height: 56px;
    font-size: 16px;
}

/* 등록된 내역이 없을때 */

.nodata-box, .nodata-box-brd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
}


@media (min-width: 1200px) {
    .nodata-box {
        height: auto;
        margin-top: 80px;
    }
}

.ico-empty, .ico-error, .ico-family, 
.ico-ready, .ico-shield, .ico-skt, .ico-skt2 {
    width: 40px;
    height: 36px;
    background-image: url(https://www.freet.co.kr/assets/images/icon/empty.svg);
}

.ico-empty{
    display: inline-block;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1200px) {
    .ico-empty {
        width: 46px;
        height: 41px;
    }
}

.nodata-box p {
    margin-top: 18px;
    font-size: 15px;
    color: #343434;
    line-height: 1.71;
}

@media (min-width: 1200px) {
    .nodata-box p {
        margin-top: 29px;
        font-size: 16px;
    }
}

/* 목록 리스트 */
.board-type3.v2 {
    border-top: 1px solid #111;
}
@media (min-width: 1200px) {
    .board-type3.v2 {
        border-top: 1px solid #111;
    }
}

.board-type3 .board-item dl {
    padding: 20px 0;
}

@media (min-width: 1200px) {
    .board-type3 .board-item dl {
        padding: 30px 0;
    }
}
.board-type3 .board-item dl, .board-type5 li {
    border-bottom: 1px solid #e3e3e3;
}

@media (min-width: 1200px) {
    .board-tit-type .price, .board-type3.v2 .board-item dl dt a, .board-type5 li a {
        font-size: 20px;
    }
}
.board-type3 .board-item dl dt a {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.63;
    color: #111;
    position: relative;
}
@media (min-width: 1200px) {
    .board-type3 .board-item dl dt a {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.56;
    }
}

.board-type3.v2 .board-item .tag-type2, .board-type3.v2 .board-item .tag-type4 {
    margin-top: 3px;
}
.tag-type.v3, .v3.tag-type2, .v3.tag-type4, .v3.tag-type5 {
    background: #f1f3fb;
    color: #3f4970;
}
.tag-type2, .tag-type3, .tag-type4 {
    height: 22px;
    padding: 0 6px;
    border-radius: 6px;
}
@media (min-width: 1200px) {
    .tag-type2, .tag-type4 {
        height: 24px;
        padding: 0 7px;
        font-size: 13px;
    }
}

.tag-type2 {
    background: #f4f4f4;
    color: #343434;
}

.tag-type2, .tag-type4, .tag-type5 {
    font-size: 13px;
    font-weight: 600;
}

.tag-type, .tag-type2, .tag-type4, .tag-type5 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f1f3fb;
}
.board-type3.v2 .board-item dl dt a p {
    width: calc(100% - 70px);
    margin-left: 5px;
}
@media (min-width: 1200px) {
    .board-type3.v2 .board-item dl dt a p {
        margin-left: 10px;
    }
}



/* 여는 버튼 */
@media (min-width: 1200px) {
    .board-type3.v2 .board-item dl dt a .ico-up3 {
        top: 7px;
    }
}

.board-type3 .board-item.active dl dt a .ico-up2, .board-type3 .board-item.active dl dt a .ico-up3 {
    transform: rotate(0);
}

.board-type3 .board-item dl dt a .ico-up2, .board-type3 .board-item dl dt a .ico-up3 {
    position: absolute;
    right: 0;
    top: 5px;
    transform: rotate(180deg);
    transition: all .2s;
}

.ico-up3 {
    background-image: url(https://www.freet.co.kr/assets/images/icon/up3.svg);
}

.ico-arrow10, .ico-arrow11, .ico-arrow12, .ico-arrow13, .ico-arrow14, .ico-arrow15, .ico-arrow16, .ico-arrow9, .ico-down, .ico-up, .ico-up2, .ico-up3 {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.board-type3 .board-item dl dd {
    display: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
}

@media (min-width: 1200px) {
    .board-type3 .board-item dl dd {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.67;
    }
}
@media (min-width: 1200px) {
    .board-type3.v2 .board-item dl dd, 
    .board-type3.v3 .board-item dl dd .number, 
    .board-type3.v3 .board-item dl dd .qna-box, 
    .board-type5 li div span {
        font-size: 16px;
    }
}

/* 기본 상태: 숨김 */
 
#faqDetail {
    max-height: 0; /* 최대 높이를 0으로 설정 */
    /* opacity: 0; 기본적으로 투명하게 설정 */
    overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
    transition: max-height 1.0s ease, opacity 0.5s ease; /* 애니메이션 설정 */
    display: block; /* 요소가 블록 형태로 유지되도록 설정 */
}

/* 보이는 상태 */
#faqDetail.show {
    max-height: 1000px; /* 충분히 큰 값으로 설정 (요소의 높이에 맞게 조정) */
    opacity: 1; /* 불투명도로 설정하여 표시 */
}

#faqDetail p{
    margin-top: 10px;
}

/* 더보기 버튼 */
.btn-wrap-col, .btn-wrap.v2, .btn-wrap.v3 {
    margin-top: 20px;
}
.btn-wrap .btn-download, .btn-wrap .btn-type3 {
    width: auto;
}

.btn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.btn-download, .btn-type3, .btn-type4, .btn-type5, .btn-type6, .btn-type7 {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}
.btn-download, .btn-type3 {
    justify-content: center;
    width: auto;
    height: 38px;
    border: 1px solid #94949a;
    color: #94949a;
    font-size: 13px;
    line-height: 2.7;
    background: #fff;
    border-radius: 19px;
    padding: 0 20px;
}

@media (min-width: 1200px) {
    .btn-wrap.v3 {
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    .btn-download, .btn-type3 {
        height: 48px;
        background: #fff;
        border-radius: 24px;
    }
}

@media (min-width: 1200px) {
    .btn-type3 {
        font-size: 16px;
        padding: 0 39px;
    }
}

