<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="https://www.freet.co.kr/static/assets/favicons/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://www.freet.co.kr/assets/css/font.css?v=20240726"
        />
        <link
            rel="stylesheet"
            href="/static/css/mobile-allRequest/mobile-allRequest-body.css"
        />
        <title>수거 요청</title>
    </head>
    <body>
        <!-- 전체를 감싸고 있는 div -->
        <div id="wrap" class="wrap-main" style="padding-top: 59.5877px">
            <div class="container">
                <main id="main" class="main">
                    <!-- 목록 -->
                    <article class="article-promotion">
                        <div class="main-title">
                            <h2 class="title-type">수거요청 전체보기🚚</h2>
                        </div>
                        <div class="filter-wrap open">
                            <!-- 지역 설정 -->
                            <div class="form-flex-wrap2">
                                <div class="select-type2">
                                    <select id="sido" style="display: none">
                                        <option
                                            value=""
                                            selected=""
                                            disabled=""
                                        >
                                            전체
                                        </option>
                                        <option value="서울">서울</option>
                                    </select>
                                    <div class="nice-select open" tabindex="0">
                                        <span class="current">전체</span>
                                        <ul class="list">
                                            <li
                                                data-value=""
                                                class="option selected disabled focus"
                                            >
                                                전체
                                            </li>
                                            <li
                                                data-value="서울"
                                                class="option selected"
                                            >
                                                서울
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="select-type2">
                                    <select
                                        id="gugun"
                                        style="display: none"
                                        class="selected"
                                    >
                                        <option
                                            value=""
                                            selected=""
                                            disabled=""
                                        >
                                            시/군/구
                                        </option>

                                        <option value="강남구">강남구</option>

                                        <option value="강동구">강동구</option>

                                        <option value="강북구">강북구</option>

                                        <option value="강서구">강서구</option>

                                        <option value="관악구">관악구</option>

                                        <option value="광진구">광진구</option>

                                        <option value="구로구">구로구</option>

                                        <option value="금천구">금천구</option>

                                        <option value="노원구">노원구</option>

                                        <option value="도봉구">도봉구</option>

                                        <option value="동대문구">
                                            동대문구
                                        </option>

                                        <option value="동작구">동작구</option>

                                        <option value="마포구">마포구</option>

                                        <option value="서대문구">
                                            서대문구
                                        </option>

                                        <option value="서초구">서초구</option>

                                        <option value="성동구">성동구</option>

                                        <option value="성북구">성북구</option>

                                        <option value="송파구">송파구</option>

                                        <option value="양천구">양천구</option>

                                        <option value="영등포구">
                                            영등포구
                                        </option>

                                        <option value="용산구">용산구</option>

                                        <option value="은평구">은평구</option>

                                        <option value="종로구">종로구</option>

                                        <option value="중구">중구</option>

                                        <option value="중랑구">중랑구</option>
                                    </select>
                                    <div
                                        class="nice-select selected open"
                                        tabindex="0"
                                    >
                                        <span class="current">시/군/구</span>
                                        <ul class="list">
                                            <li
                                                data-value=""
                                                class="option selected disabled focus"
                                            >
                                                시/군/구
                                            </li>
                                            <li
                                                data-value="강남구"
                                                class="option"
                                            >
                                                강남구
                                            </li>
                                            <li
                                                data-value="강동구"
                                                class="option"
                                            >
                                                강동구
                                            </li>
                                            <li
                                                data-value="강북구"
                                                class="option"
                                            >
                                                강북구
                                            </li>
                                            <li
                                                data-value="강서구"
                                                class="option"
                                            >
                                                강서구
                                            </li>
                                            <li
                                                data-value="관악구"
                                                class="option"
                                            >
                                                관악구
                                            </li>
                                            <li
                                                data-value="광진구"
                                                class="option"
                                            >
                                                광진구
                                            </li>
                                            <li
                                                data-value="구로구"
                                                class="option"
                                            >
                                                구로구
                                            </li>
                                            <li
                                                data-value="금천구"
                                                class="option"
                                            >
                                                금천구
                                            </li>
                                            <li
                                                data-value="노원구"
                                                class="option"
                                            >
                                                노원구
                                            </li>
                                            <li
                                                data-value="도봉구"
                                                class="option"
                                            >
                                                도봉구
                                            </li>
                                            <li
                                                data-value="동대문구"
                                                class="option"
                                            >
                                                동대문구
                                            </li>
                                            <li
                                                data-value="동작구"
                                                class="option"
                                            >
                                                동작구
                                            </li>
                                            <li
                                                data-value="마포구"
                                                class="option"
                                            >
                                                마포구
                                            </li>
                                            <li
                                                data-value="서대문구"
                                                class="option"
                                            >
                                                서대문구
                                            </li>
                                            <li
                                                data-value="서초구"
                                                class="option"
                                            >
                                                서초구
                                            </li>
                                            <li
                                                data-value="성동구"
                                                class="option"
                                            >
                                                성동구
                                            </li>
                                            <li
                                                data-value="성북구"
                                                class="option"
                                            >
                                                성북구
                                            </li>
                                            <li
                                                data-value="송파구"
                                                class="option"
                                            >
                                                송파구
                                            </li>
                                            <li
                                                data-value="양천구"
                                                class="option"
                                            >
                                                양천구
                                            </li>
                                            <li
                                                data-value="영등포구"
                                                class="option"
                                            >
                                                영등포구
                                            </li>
                                            <li
                                                data-value="용산구"
                                                class="option"
                                            >
                                                용산구
                                            </li>
                                            <li
                                                data-value="은평구"
                                                class="option"
                                            >
                                                은평구
                                            </li>
                                            <li
                                                data-value="종로구"
                                                class="option"
                                            >
                                                종로구
                                            </li>
                                            <li
                                                data-value="중구"
                                                class="option"
                                            >
                                                중구
                                            </li>
                                            <li
                                                data-value="중랑구"
                                                class="option"
                                            >
                                                중랑구
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- 선택한 지역 키워드 -->
                            <ul class="js_toggle2">
                                <div id="listTagHtml">
                                    <li id="tag_" class="active">
                                        <a href="" onclick="">전체</a>
                                    </li>

                                    <li id="tag_66" class="tagVal">
                                        <a href="" onclick="">서울</a>
                                    </li>

                                    <li id="tag_12" class="tagVal">
                                        <a href="" onclick="">강남구</a>
                                    </li>
                                </div>
                            </ul>
                            <!-- 토글 버튼 -->
                            <a href="#" class="btn-open"></a>
                        </div>
                        <div
                            class="side-by-side mt-40-35 f2-body1--body2 f-bold"
                        >
                            <div class="side" id="totalCnt">총 33 개</div>
                            <div class="side">
                                <div class="select-type3">
                                    <select
                                        id="orderType"
                                        style="display: none"
                                    >
                                        <option
                                            class="title"
                                            selected=""
                                            value="reco"
                                        >
                                            추천순
                                        </option>
                                        <option class="title" value="new">
                                            최신순
                                        </option>
                                        <option value="end">가까운 순</option>
                                    </select>
                                    <div class="nice-select open" tabindex="0">
                                        <span class="current">추천순</span>
                                        <ul class="list">
                                            <li
                                                data-value="reco"
                                                class="option selected focus"
                                            >
                                                추천순
                                            </li>
                                            <li data-value="new" class="option">
                                                최신순
                                            </li>
                                            <li data-value="end" class="option">
                                                가까운 순
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="promotion-area">
                            <!-- 수거 요청 목록 레이아웃 -->
                            <section class="contet-box">
                                <div class="allRequest">
                                    <!-- 총 -->
                                    <ul class="board-type5">
                                        <div id="requestAllList">
                                            <li class="requestList1">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        라이트
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >강남구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 강남구
                                                            테헤란로 26길
                                                        </p>
                                                        <span
                                                            >제일비전타워
                                                            13층</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList2">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        프리미엄
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >송파구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 송파구
                                                            올림픽로 25
                                                        </p>
                                                        <span>5번 출구</span>
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList3">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        스탠다드
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >서대문구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 강남구
                                                            테헤란로 26길
                                                        </p>
                                                        <span
                                                            >제일비전타워
                                                            13층</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList4">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        스탠다드
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >강남구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 강남구
                                                            테헤란로 26길
                                                        </p>
                                                        <span
                                                            >제일비전타워
                                                            13층</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                            <li class="requestList5">
                                                <div class="plan-top">
                                                    <span
                                                        class="flag-type status-light"
                                                    >
                                                        라이트
                                                    </span>
                                                    <div class="tag-box">
                                                        <span class="tag-type2"
                                                            >오늘</span
                                                        >
                                                        <span class="tag-type2"
                                                            >마포구</span
                                                        >
                                                        <span class="tag-type2"
                                                            >수거요청</span
                                                        >
                                                    </div>
                                                </div>
                                                <a>
                                                    <span class="num">617</span>
                                                    <div>
                                                        <p>
                                                            서울특별시 마포구
                                                            동교로 247
                                                        </p>
                                                        <span
                                                            >1층
                                                            랜디스도넛</span
                                                        >
                                                    </div>
                                                    <i class="ico-arrow4"></i>
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                <ul class="board-type5"></ul>
                            </section>
                            <!-- 수거 요청 목록 레이아웃 -->
                            <div class="btn-wrap">
                                <a class="btn-type3">더보기</a>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </body>
    <script src="/static/js/mobile-allRequest/mobile-allRequest-body.js"></script>
</html>
