<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/signup/driver_signup2.css" />
        <title>기사 회원가입 | MY | 비워드림</title>
    </head>
    <body>
        <noscript></noscript>
        <div id="driver-signup2-wrap" class="driver-signup2-wrap-main">
            <div></div>
            <header></header>
            <script></script>
            <script></script>
            <section></section>
            <script></script>
            <section></section>
            <script></script>
            <script></script>
            <div id="driver-signup2-container">
                <section
                    id="driver-signup2-content"
                    class="driver-signup2-section-join driver-signup2-bottom"
                >
                    <div class="driver-signup2-inner">
                        <div
                            class="driver-signup2-page-header driver-signup2-pc-only"
                        >
                            <div class="driver-signup2-location">
                                <a href="" class="driver-signup2-home">
                                    <span class="driver-signup2-hidden"
                                        >HOME</span
                                    >
                                </a>
                                <strong>기사 회원가입</strong>
                            </div>
                            <h2 class="driver-signup2-page-title">
                                기사 회원가입
                            </h2>
                        </div>
                        <div class="driver-signup2-join-wrap">
                            <div class="driver-signup2-step-wrap">
                                <ol>
                                    <li class="driver-signup2-done">
                                        <i class="driver-signup2-num">1</i>
                                        <strong>본인인증</strong>
                                    </li>
                                    <li class="driver-signup2-active">
                                        <i class="driver-signup2-num">2</i>
                                        <strong>약관 동의</strong>
                                    </li>
                                    <li>
                                        <i class="driver-signup2-num">3</i>
                                        <strong>아이디/비밀번호 입력</strong>
                                    </li>
                                </ol>
                                <span class="driver-signup2-bar"></span>
                            </div>
                            <div class="driver-signup2-title-wrap">
                                <h3 class="driver-signup2-title-type">
                                    가입약관을 확인해주세요
                                </h3>
                            </div>
                            <div class="driver-signup2-agree-wrap">
                                <div class="driver-signup2-all-check">
                                    <div class="driver-signup2-check-box">
                                        <input
                                            type="checkbox"
                                            id="driver-signup2-check00"
                                        />
                                        <label
                                            class="driver-signup2-checkbox"
                                            for="driver-signup2-check00"
                                        ></label>
                                        <label for="driver-signup2-check00">
                                            <strong>전체 동의합니다.</strong>
                                        </label>
                                    </div>
                                    <div class="driver-signup2-box-type">
                                        <p class="driver-signup2-desc">
                                            <strong
                                                >아래 모든 약관 (필수/선택 포함)
                                                및 광고성 정보수신동의 내용을
                                                확인하고 전체동의합니다.</strong
                                            >
                                        </p>
                                        <p class="driver-signup2-desc">
                                            선택 항목은 동의를 거부하더라도
                                            회원가입에 영향을 미치지 않습니다.
                                        </p>
                                    </div>
                                </div>
                                <div class="driver-signup2-agree-list">
                                    <ul>
                                        <li>
                                            <div
                                                class="driver-signup2-check-box"
                                            >
                                                <input
                                                    type="checkbox"
                                                    id="driver-signup2-check01"
                                                />
                                                <label
                                                    class="driver-signup2-checkbox"
                                                    for="driver-signup2-check01"
                                                ></label>
                                                <label
                                                    for="driver-signup2-check01"
                                                >
                                                    <strong>
                                                        이용약관 동의
                                                        <em class="focus"
                                                            >(필수)</em
                                                        >
                                                    </strong>
                                                </label>
                                            </div>
                                            <a href="">
                                                <i
                                                    class="driver-signup2-ico-arrow4"
                                                ></i>
                                                <span
                                                    class="driver-signup2-hidden"
                                                    >팝업보기</span
                                                >
                                            </a>
                                        </li>
                                        <li>
                                            <div
                                                class="driver-signup2-check-box"
                                            >
                                                <input
                                                    type="checkbox"
                                                    id="driver-signup2-check02"
                                                />
                                                <label
                                                    class="driver-signup2-checkbox"
                                                    for="driver-signup2-check02"
                                                ></label>
                                                <label
                                                    for="driver-signup2-check02"
                                                >
                                                    <strong>
                                                        개인정보수집이용동의
                                                        <em class="focus"
                                                            >(필수)</em
                                                        >
                                                    </strong>
                                                </label>
                                            </div>
                                            <a href="">
                                                <i
                                                    class="driver-signup2-ico-arrow4"
                                                ></i>
                                                <span
                                                    class="driver-signup2-hidden"
                                                    >팝업보기</span
                                                >
                                            </a>
                                        </li>
                                        <li>
                                            <div
                                                class="driver-signup2-check-box"
                                            >
                                                <input
                                                    type="checkbox"
                                                    id="driver-signup2-check03"
                                                />
                                                <label
                                                    class="driver-signup2-checkbox"
                                                    for="driver-signup2-check03"
                                                ></label>
                                                <label
                                                    for="driver-signup2-check03"
                                                >
                                                    <strong>
                                                        고객 혜택 제공을 위한
                                                        개인정보 수집 및 이용
                                                        동의
                                                        <em>(선택)</em>
                                                    </strong>
                                                </label>
                                            </div>
                                            <a href="">
                                                <i
                                                    class="driver-signup2-ico-arrow4"
                                                ></i>
                                                <span
                                                    class="driver-signup2-hidden"
                                                    >팝업보기</span
                                                >
                                            </a>
                                        </li>
                                        <li>
                                            <div
                                                class="driver-signup2-check-box"
                                            >
                                                <input
                                                    type="checkbox"
                                                    id="driver-signup2-check04"
                                                />
                                                <label
                                                    class="driver-signup2-checkbox"
                                                    for="driver-signup2-check04"
                                                ></label>
                                                <label
                                                    for="driver-signup2-check04"
                                                >
                                                    <strong>
                                                        마케팅/광고 수신 동의
                                                        <em>(선택)</em>
                                                    </strong>
                                                </label>
                                            </div>
                                            <a href="">
                                                <i
                                                    class="driver-signup2-ico-arrow4"
                                                ></i>
                                                <span
                                                    class="driver-signup2-hidden"
                                                    >팝업보기</span
                                                >
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="driver-signup2-btn-fixed-wrap">
                            <div class="driver-signup2-bottom-gra"></div>
                            <div class="driver-signup2-btn-wrap">
                                <a
                                    href=""
                                    class="driver-signup2-btn-type driver-signup2-disabled"
                                    >다음</a
                                >
                            </div>
                        </div>
                    </div>
                </section>
                <div></div>
            </div>
            <div></div>
            <aside></aside>
            <div></div>
            <div></div>
            <script></script>
            <style></style>
            <footer></footer>
            <script></script>
            <script></script>
            <script></script>
            <div></div>
            <div></div>
            <style></style>
            <script></script>
        </div>
        <div></div>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <div></div>
        <script></script>
        <script></script>
        <script></script>
        <noscript></noscript>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <div></div>
        <div></div>
    </body>
    <script src="/static/js/signup/driver_signup2.js"></script>
</html>
