<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>기사 회원가입 | MY | 비워드림</title>
        <link rel="stylesheet" href="/static/css/signup/driver_signup3.css" />
    </head>
    <body>
        <noscript></noscript>
        <div id="driver-signup3-wrap" class="driver-signup3-wrap-main">
            <div></div>
            <header></header>
            <script></script>
            <script></script>
            <section></section>
            <script></script>
            <section></section>
            <script></script>
            <script></script>
            <div id="driver-signup3-container">
                <section
                    id="driver-signup3-content"
                    class="driver-signup3-section-join driver-signup3-bottom"
                >
                    <div class="driver-signup3-inner">
                        <div
                            class="driver-signup3-page-header driver-signup3-pc-only"
                        >
                            <div class="driver-signup3-location">
                                <a href="" class="driver-signup3-home">
                                    <span class="driver-signup3-hidden"></span>
                                </a>
                                <strong>기사 회원가입</strong>
                            </div>
                            <h2 class="driver-signup3-page-title">
                                기사 회원가입
                            </h2>
                        </div>
                        <div class="driver-signup3-step-wrap">
                            <ol>
                                <li class="driver-signup3-done">
                                    <i class="driver-signup3-num">1</i>
                                    <strong>본인인증</strong>
                                </li>
                                <li class="driver-signup3-done">
                                    <i class="driver-signup3-num">2</i>
                                    <strong>약관 동의</strong>
                                </li>
                                <li class="driver-signup3-active">
                                    <i class="driver-signup3-num">3</i>
                                    <strong>회원정보 입력</strong>
                                </li>
                            </ol>
                            <span
                                class="driver-signup3-bar"
                                style="display: flex; width: 100%"
                            ></span>
                        </div>
                        <div class="driver-signup3-join-wrap">
                            <div class="driver-signup3-title-wrap">
                                <h3>회원정보를 입력해주세요</h3>
                            </div>
                            <div class="driver-signup3-form-box">
                                <div class="driver-signup3-box-type2">
                                    <dl>
                                        <dt>이름</dt>
                                        <dd id="driver-signup3-username">
                                            홍길동
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>휴대폰번호</dt>
                                        <dd id="driver-signup3-usertelno">
                                            010-0000-0000
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>성별</dt>
                                        <dd id="driver-signup3-usergender">
                                            남성
                                        </dd>
                                    </dl>
                                </div>
                                <div
                                    class="driver-signup3-form-item"
                                    id="driver-signup3-form-item-id"
                                >
                                    <input
                                        type="text"
                                        id="driver-signup3-useraddress"
                                        name="driver-signup3-useraddress"
                                        autocomplete="off"
                                    />
                                    <label for class="driver-signup3-title"
                                        >주소</label
                                    >
                                    <span class=""></span>
                                </div>
                                <div
                                    class="driver-signup3-form-item driver-signup3-is-invalid"
                                    placeholder="&nbsp;"
                                    id="driver-signup3-form-item-pw"
                                >
                                    <input
                                        type="password"
                                        placeholder="&nbsp;"
                                        id="driver-signup3-userpw"
                                        name="driver-signup3-userpw"
                                    />
                                    <label for class="driver-signup3-title"
                                        >비밀번호</label
                                    >
                                    <i class="driver-signup3-ico-eye"></i>
                                    <span></span>
                                </div>
                                <div
                                    class="driver-signup3-form-item driver-signup3-mt"
                                >
                                    <input
                                        type="text"
                                        placeholder="&nbsp"
                                        id="driver-signup3-email"
                                        autocomplete="off"
                                        maxlength="50"
                                    />
                                    <label for class="driver-signup3-title"
                                        >이메일</label
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="driver-signup3-enter-the-account">
                <h2 class="driver-signup3-enter-the-account-title">
                    정산받을 계좌를 입력해 주세요
                </h2>
            </div>
            <section class="driver-signup3-content-box">
                <div class="driver-signup3-form-flex-wrap">
                    <div class="driver-signup3-select-type">
                        <select id="driver-signup3-bank">
                            <option value selected disabled>선택</option>
                            <option value="KEB하나은행">KEB하나은행</option>
                            <option value="SC제일은행">SC제일은행</option>
                            <option value="국민은행">국민은행</option>
                            <option value="신한은행">신한은행</option>
                            <option value="외환은행">외환은행</option>
                            <option value="우리은행">우리은행</option>
                            <option value="한국시티은행">한국시티은행</option>
                            <option value="기업은행">기업은행</option>
                            <option value="농협">농협</option>
                            <option value="수협">수협</option>
                        </select>
                        <div class="driver-signup3-nice-select" tabindex="0">
                            <span class="driver-signup3-nice-select-current"
                                >선택</span
                            >
                            <ul class="driver-signup3-nice-select-list">
                                <li
                                    data-value
                                    class="driver-signup3-nice-select-list-option-choice driver-signup3-nice-select-list-selected driver-signup3-nice-select-list-disabled driver-signup3-nice-select-list-focus"
                                >
                                    선택
                                </li>
                                <li
                                    data-value="KEB하나은행"
                                    class="driver-signup3-nice-select-list-option"
                                >
                                    KEB하나은행
                                </li>
                                <li
                                    data-value="SC제일은행"
                                    class="driver-signup3-nice-select-list-option"
                                >
                                    SC제일은행
                                </li>
                                <li
                                    data-value="국민은행"
                                    class="driver-signup3-nice-select-list-option"
                                >
                                    국민은행
                                </li>
                                <li
                                    data-value="신한은행"
                                    class="driver-signup3-nice-select-list-option"
                                >
                                    신한은행
                                </li>
                                <li
                                    data-value="외한은행"
                                    class="driver-signup3-nice-select-list-option"
                                >
                                    외한은행
                                </li>
                                <li
                                    data-value="우리은행"
                                    class="driver-signup3-nice-select-list-option"
                                >
                                    우리은행
                                </li>
                                <li
                                    data-value="한국시티은행"
                                    class="driver-signup3-nice-select-list-option"
                                >
                                    한국시티은행
                                </li>
                                <li
                                    data-value="기업은행"
                                    class="driver-signup3-nice-select-list-option"
                                >
                                    기업은행
                                </li>
                                <li
                                    data-value="농협"
                                    class="driver-signup3-nice-select-list-option"
                                >
                                    농협
                                </li>
                                <li
                                    data-value="수협"
                                    class="driver-signup3-nice-select-list-option"
                                >
                                    수협
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="driver-signup3-depositor">
                        <input type="text" placeholder="예금주" />
                    </div>
                </div>
                <div class="driver-signup3-account-number">
                    <input type="text" placeholder="계좌번호를 입력하세요." />
                </div>
                <div class="driver-signup3-flex-end"></div>
                <div class="driver-signup3-flex-between"></div>
                <div class="driver-signup3-collect-guide">
                    <h2 class="driver-signup3-collect-guide-title">
                        수거를 원하는 지역을 선택해주세요
                    </h2>
                </div>
                <div class="driver-signup3-collect-region-choice">
                    <div class="driver-signup3-select-region">
                        <select id="driver-signup3-sido">
                            <option value selected disabled>지역</option>
                            <option value="서울">서울</option>
                        </select>
                        <div
                            class="driver-signup3-region-nice-select"
                            tabindex="0"
                        >
                            <span class="driver-signup3-current">지역</span>
                            <ul class="driver-signup3-current-list">
                                <li
                                    data-value
                                    class="option selected disabled focus"
                                >
                                    지역
                                </li>
                                <li data-value="서울" class="option">서울</li>
                            </ul>
                        </div>
                    </div>
                    <div class="driver-signup3-select-region">
                        <select id="driver-signup3-gugun">
                            <option class="driver-signup3-gugun-title" selected>
                                시/군/구
                            </option>
                        </select>
                        <div
                            class="driver-signup3-region-nice-select"
                            tabindex="0"
                        >
                            <span class="driver-signup3-current">시/군/구</span>
                            <ul class="driver-signup3-current-list">
                                <li
                                    data-value="시/군/구"
                                    class="option selected disabled"
                                >
                                    시/군/구
                                </li>
                                <li data-value="강남구" class="option">
                                    강남구
                                </li>
                                <li data-value="강동구" class="option">
                                    강동구
                                </li>
                                <li data-value="강북구" class="option">
                                    강북구
                                </li>
                                <li data-value="강서구" class="option">
                                    강서구
                                </li>
                                <li data-value="관악구" class="option">
                                    관악구
                                </li>
                                <li data-value="광진구" class="option">
                                    광진구
                                </li>
                                <li data-value="구로구" class="option">
                                    구로구
                                </li>
                                <li data-value="금천구" class="option">
                                    금천구
                                </li>
                                <li data-value="노원구" class="option">
                                    노원구
                                </li>
                                <li data-value="도봉구" class="option">
                                    도봉구
                                </li>
                                <li data-value="동대문구" class="option">
                                    동대문구
                                </li>
                                <li data-value="동작구" class="option">
                                    동작구
                                </li>
                                <li data-value="마포구" class="option">
                                    마포구
                                </li>
                                <li data-value="서대문구" class="option">
                                    서대문구
                                </li>
                                <li data-value="서초구" class="option">
                                    서초구
                                </li>
                                <li data-value="성동구" class="option">
                                    성동구
                                </li>
                                <li data-value="성북구" class="option">
                                    성북구
                                </li>
                                <li data-value="송파구" class="option">
                                    송파구
                                </li>
                                <li data-value="양천구" class="option">
                                    양천구
                                </li>
                                <li data-value="영등포구" class="option">
                                    영등포구
                                </li>
                                <li data-value="용산구" class="option">
                                    용산구
                                </li>
                                <li data-value="은평구" class="option">
                                    은평구
                                </li>
                                <li data-value="종로구" class="option">
                                    종로구
                                </li>
                                <li data-value="중구" class="option">중구</li>
                                <li data-value="중랑구" class="option">
                                    중랑구
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="driver-signup3-btn-fixed-wrap">
                    <div></div>
                    <div class="driver-signup3-btn-wrap">
                        <a
                            href=""
                            class="driver-signup3-btn-type driver-signup3-disabled"
                            >다음</a
                        >
                    </div>
                </div>
            </section>
            <div></div>
            <aside></aside>
            <div></div>
            <div></div>
            <script></script>
            <style></style>
            <footer></footer>
            <script></script>
            <script></script>
            <script></script>
            <div></div>
            <div></div>
            <style></style>
            <script></script>
        </div>
        <div></div>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <div></div>
        <script></script>
        <script></script>
        <noscript></noscript>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <div></div>
        <div></div>
    </body>
    <script src="/static/js/signup/driver_signup3.js"></script>
</html>
