<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>일반 회원가입 | MY | 비워드림</title>
        <link rel="stylesheet" href="/static/css/signup/user_signup3.css" />
    </head>
    <body>
        <noscript></noscript>
        <div id="user-signup3-wrap" class="user-signup3-wrap-main">
            <div></div>
            <header></header>
            <script></script>
            <script></script>
            <section></section>
            <script></script>
            <section></section>
            <script></script>
            <script></script>
            <div id="user-signup3-container">
                <section
                    id="user-signup3-content"
                    class="user-signup3-section-join user-signup3-bottom"
                >
                    <div class="user-signup3-inner">
                        <div
                            class="user-signup3-page-header user-signup3-pc-only"
                        >
                            <div class="user-signup3-location">
                                <a href="" class="user-signup3-home">
                                    <span class="user-signup3-hidden"></span>
                                </a>
                                <strong>일반 회원가입</strong>
                            </div>
                            <h2 class="user-signup3-page-title">
                                일반 회원가입
                            </h2>
                        </div>
                        <div class="user-signup3-step-wrap">
                            <ol>
                                <li class="user-signup3-done">
                                    <i class="user-signup3-num">1</i>
                                    <strong>본인인증</strong>
                                </li>
                                <li class="user-signup3-done">
                                    <i class="user-signup3-num">2</i>
                                    <strong>약관 동의</strong>
                                </li>
                                <li class="user-signup3-active">
                                    <i class="user-signup3-num">3</i>
                                    <strong>회원정보 입력</strong>
                                </li>
                            </ol>
                            <span
                                class="user-signup3-bar"
                                style="display: flex; width: 100%"
                            ></span>
                        </div>
                        <div class="user-signup3-join-wrap">
                            <div class="user-signup3-title-wrap">
                                <h3>회원정보를 입력해주세요</h3>
                            </div>
                            <div class="user-signup3-form-box">
                                <div class="user-signup3-box-type2">
                                    <dl>
                                        <dt>이름</dt>
                                        <dd id="user-signup3-username">
                                            홍길동
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>휴대폰번호</dt>
                                        <dd id="user-signup3-usertelno">
                                            010-0000-0000
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>성별</dt>
                                        <dd id="user-signup3-usergender">
                                            남성
                                        </dd>
                                    </dl>
                                </div>
                                <div
                                    class="user-signup3-form-item"
                                    id="user-signup3-form-item-id"
                                >
                                    <input
                                        type="text"
                                        id="user-signup3-useraddress"
                                        name="user-signup3-useraddress"
                                        autocomplete="off"
                                    />
                                    <label for class="user-signup3-title"
                                        >주소</label
                                    >
                                    <span class=""></span>
                                </div>
                                <div
                                    class="user-signup3-form-item user-signup3-is-invalid"
                                    placeholder="&nbsp;"
                                    id="user-signup3-form-item-pw"
                                >
                                    <input
                                        type="password"
                                        placeholder="&nbsp;"
                                        id="user-signup3-userpw"
                                        name="user-signup3-userpw"
                                    />
                                    <label for class="user-signup3-title"
                                        >비밀번호</label
                                    >
                                    <i class="user-signup3-ico-eye"></i>
                                    <span></span>
                                </div>
                                <div
                                    class="user-signup3-form-item user-signup3-mt"
                                >
                                    <input
                                        type="text"
                                        placeholder="&nbsp"
                                        id="user-signup3-email"
                                        autocomplete="off"
                                        maxlength="50"
                                    />
                                    <label for class="user-signup3-title"
                                        >이메일</label
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="user-signup3-btn-fixed-wrap">
                            <div></div>
                            <div class="user-signup3-btn-wrap">
                                <a
                                    href=""
                                    class="user-signup3-btn-type user-signup3-disabled"
                                    >다음</a
                                >
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div></div>
            <aside></aside>
            <div></div>
            <div></div>
            <script></script>
            <style></style>
            <footer></footer>
            <script></script>
            <script></script>
            <script></script>
            <div></div>
            <div></div>
            <style></style>
            <script></script>
        </div>
        <div></div>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <div></div>
        <script></script>
        <script></script>
        <noscript></noscript>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <script></script>
        <div></div>
        <div></div>
    </body>
    <script src="/static/js/signup/user_signup3.js"></script>
</html>
