@charset "UTF-8";@font-face {
    font-family: "SUIT";
    font-weight: 300;
    src: local("SUIT-Light"),url(./fonts/SUIT-Light.woff2)format("woff2"),url(./fonts/SUIT-Light.otf)format("wopentypeoff")
}

@font-face {
    font-family: "SUIT";
    font-weight: 400;
    src: local("SUIT-Regular"),url(./fonts/SUIT-Regular.woff2)format("woff2"),url(./fonts/SUIT-Regular.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 600;
    src: local("SUIT-SemiBold"),url(./fonts/SUIT-SemiBold.woff2)format("woff2"),url(/.fonts/SUIT-SemiBold.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 700;
    src: local("SUIT-Bold"),url(./fonts/SUIT-Bold.woff2)format("woff2"),url(./fonts/SUIT-Bold.otf)format("opentype")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),url(./fonts/Pretendard-Black.woff2)format("woff2"),url(/.fonts/Pretendard-Black.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),url(./fonts/Pretendard-ExtraBold.woff2)format("woff2"),url(./fonts/Pretendard-ExtraBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(./fonts/Pretendard-Bold.woff2)format("woff2"),url(./fonts/Pretendard-Bold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(./fonts/Pretendard-SemiBold.woff2)format("woff2"),url(./fonts/Pretendard-SemiBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),url(./fonts/Pretendard-Medium.woff2)format("woff2"),url(./fonts/Pretendard-Medium.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(./fonts/Pretendard-Regular.woff2)format("woff2"),url(./fonts/Pretendard-Regular.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),url(./fonts/Pretendard-Light.woff2)format("woff2"),url(./fonts/Pretendard-Light.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),url(./fonts/Pretendard-ExtraLight.woff2)format("woff2"),url(./fonts/Pretendard-ExtraLight.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),url(./fonts/Pretendard-Thin.woff2)format("woff2"),url(./fonts/Pretendard-Thin.woff)format("woff")
}

body {
    line-height: 1.25;
    font-family: "SUIT", sans-serif;
    font-size: 15px;
    color: #111;
}
*, ::after, ::before {
    box-sizing: border-box;
}
* {
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
    margin: 0;
    padding: 0;

}
.header .tool-box+.tool-box {
    flex-wrap: wrap;
    border-top: 1px solid #efefef;
}

.header .tool-box {
    position: relative;
    padding: 0 20px;
    height: 60px;
    background: #fff;
    z-index: 101;
}

.header .btn-box, .header .tool-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .btn-box {
    flex: 1 1 1%;
    gap: 0 20px;
}

.header .btn-box, .header .tool-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tool-box a {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

.ico-back{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://www.freet.co.kr/assets/images/icon/back.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.tool-box .page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 600;
}

#content.bottom {
    padding-bottom: 126px;
}

#content {
    padding: 30px 0 80px;
}

section {
    display: block;
}

.inner {
    padding: 0 20px;
}

.inner {
    position: relative;
    width: 100%;
}

.section-mypage .content-wrap {
    display: flex;
    flex-wrap: wrap-reverse;
}

.my-chg-content .inner-box {
    text-align: unset;
}

.section-mypage .inner-box, .section-mypage .inner-box2 {
    width: 100%;
    margin: unset;
}

.t-s {
    text-align: start;
}

.f-bold {
    font-weight: 600 !important;
}

.f2-h1-22--h2-20 {
    line-height: 1.5 !important;
    font-size: 20px !important;
}

.t-s {
    text-align: start;
}

.section-mypage .my-page-box-wrapper {
    margin-top: 40px;
}

.my-chg-content .box-type, .my-chg-content .chk-list-custom.full-width>ul>li>label {
    padding: 20px;
}

.box-type {
    background: #f4f4f4;
    border-radius: 20px;
    width: 100%;
}

.board-type .board-item dl dt, .body1--bold {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.67;
}

.section-mypage .my-page-box-wrapper :not(:first-child) {
    margin-top: 12px;
}

.list-type {
    font-size: 13px;
    line-height: 1.7;
    color: #343434;
    text-align: left;
}

ul {
    list-style: none;
}

.list-type li:first-child {
    margin-top: 0;
}

.list-type li {
    padding-left: 7px;
}

.list-type li, .tooltip-guide span, .tooltip-wrap {
    position: relative;
}

.list-type li::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 3px;
    height: 3px;
    background: #94949a;
    border-radius: 100%;
}

.section-mypage .my-page-box-wrapper :not(:first-child) {
    margin-top: 12px;
}

.my-chg-content .box-type, .my-chg-content .chk-list-custom.full-width>ul>li>label {
    padding: 20px;
}

.board-type .board-item dl dt, .body1--bold {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.67;
}

.section-mypage .select-option-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.f-bold {
    font-weight: 600 !important;
}

.f2-h2-20--h3-18 {
    line-height: 1.56 !important;
    font-size: 18px !important;
}

.section-mypage .select-option-wrapper .select-type2 {
    flex: 1;
    margin-top: 20px;
}

.select-type, .select-type2 {
    position: relative;
    width: 100%;
}

input, input[type=checkbox], input[type=radio], select, textarea {
    appearance: none;
}

input, select, textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    outline: 0;
    font-family: "SUIT", sans-serif;
    color: inherit;
}

input, select {
    border-radius: 0;
    border: 0;
    font-size: 15px;
}

input, select, strong {
    font-weight: 600;
}

.select-type2 .nice-select {
    background: #f4f4f4;
    font-size: 15px;
    height: 56px;
    line-height: 56px;
    border-radius: 12px;
}

.nice-select {
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    font-family: inherit;
    border: 1px solid #efefef;
    color: #94949a;
    padding: 0 20px;
    outline: 0;
    position: relative;
    text-align: left !important;
    transition: all .2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;
    font-weight: 600;
}

.select-type2 .nice-select .list {
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    border: solid 1px #e3e3e3;
}

.nice-select .list {
    background-color: #fff;
    border: 1px solid #efefef;
    border-top: none;
    border-radius: 0 0 12px 12px;
    box-sizing: content-box;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -1px;
    transform-origin: 50% 0;
    -ms-transform: translateY(-21px);
    transform: translateY(-21px);
    transition: all .2s cubic-bezier(.5,0,0,1.25), opacity .15s ease-out;
    z-index: 9;
    width: 100%;
    overflow-y: auto;
    font-weight: 600;
}

.select-type2 .nice-select .option.focus, .select-type2 .nice-select .option.selected.focus, .select-type2 .selected+.nice-select .current, .select-type2.disabled select, .select-type2.is-invalid .nice-select .current, .select-type2.selected select {
    color: #111;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    color: #f0543a;
}

.nice-select .option.selected {
    color: #f0543a;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 600;
    line-height: 34px;
    list-style: none;
    min-height: 34px;
    outline: none;
    padding: 0 20px;
    text-align: left;
    transition: all 0.2s;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 600;
    line-height: 34px;
    list-style: none;
    min-height: 34px;
    outline: none;
    padding: 0 20px;
    text-align: left;
    transition: all 0.2s;
}

.location a:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/arrow.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    position: absolute;
    right: -18px;
    top: 50%;
    margin-top: -5px;
}
.select-type2 .nice-select:after {
    width: 20px;
    height: 20px;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/arrow.svg);
}
.nice-select:after {
    content: '';
    display: block;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.btn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btn-wrap [class^=btn-type], .tab-type li, .tab-type2 li {
    width: 100%;
}

.btn-type, .btn-type-sm, .kakao-plus-event-container .open-url-btn {
    background: #f0543a;
    color: #fff;
}

.btn-type, .btn-type-sm, .btn-type2, .kakao-plus-event-container .open-url-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    font-weight: 600;
    transition: background .2s ease;
}

.btn-type, .btn-type2 {
    height: 56px;
    font-size: 16px;
}

.lnb .my-member-info .info-select-box.v2 {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.lnb .my-member-info .info-select-box {
    background: #f4f4f4;
    border-radius: 20px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #f4f4f4;
}

.ico-call5 {
    display: inline-block;
    width: 30px;
    height: 32px;
    vertical-align: middle;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/call5.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.lnb .my-member-info .info-select-box.v2 .text-box {
    width: calc(100% - 30px);
    padding-left: 15px;
}

.box-type4 #my_info2_06_02_02 .descriptions h3, .lnb .my-member-info .info-select-box.v2 .text-box .tit {
    font-size: 14px;
}

.lnb .my-member-info .info-select-box .desc {
    font-size: 14px;
    color: #343434;
    line-height: 1.71;
}

.lnb .my-member-info .info-select-box .btn-wrap {
    margin-top: 15px;
    width: 100%;
}

.btn-wrap {
    display: flex;
    justify-content: center;
}

.lnb .my-member-info .info-select-box .btn-wrap .btn-type {
    height: 50px;
    max-width: 100%;
    font-size: 15px;
}

.btn-type.v2, .kakao-plus-event-container .v2.open-url-btn, .v2.btn-type-sm {
    background: #3f4970;
}

.btn-wrap [class^=btn-type], .tab-type li, .tab-type2 li {
    width: 100%;
}

.lnb .my-member-info {
    position: relative;
    overflow: hidden;
    margin: -20px 0 40px;
}

.tool-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tool-box {
    position: relative;
    padding: 0 20px;
    height: 60px;
    background: #fff;
    z-index: 101;
    margin-bottom: 40px;
}

.tool-box+.tool-box {
    flex-wrap: wrap;
    border-top: 1px solid #efefef;
}

.btn-box {
    flex: 1 1 1%;
    gap: 0 20px;
}

.btn-box, .header .tool-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-type2 .nice-select.open .list {
    transform: translateY(8px);
    max-height: 240px;
    padding: 10px 0;
    z-index: 11;
}

.select-type2 .nice-select .list {
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    border: solid 1px #e3e3e3;
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
}

.select-type2 .nice-select .option.focus, .select-type2 .nice-select .option.selected.focus, .select-type2 .selected+.nice-select .current, .select-type2.disabled select, .select-type2.is-invalid .nice-select .current, .select-type2.selected select {
    color: #111;
}

.select-type2 .nice-select.open {
    background-color: #ffebe8;
    border-color: #ff8c79;
}


address, caption, em, i, var {
    font-style: normal;
    font-weight: inherit;
}

