@charset "UTF-8";@font-face {
    font-family: "SUIT";
    font-weight: 300;
    src: local("SUIT-Light"),url(./fonts/SUIT-Light.woff2)format("woff2"),url(./fonts/SUIT-Light.otf)format("wopentypeoff")
}

@font-face {
    font-family: "SUIT";
    font-weight: 400;
    src: local("SUIT-Regular"),url(./fonts/SUIT-Regular.woff2)format("woff2"),url(./fonts/SUIT-Regular.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 600;
    src: local("SUIT-SemiBold"),url(./fonts/SUIT-SemiBold.woff2)format("woff2"),url(/.fonts/SUIT-SemiBold.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 700;
    src: local("SUIT-Bold"),url(./fonts/SUIT-Bold.woff2)format("woff2"),url(./fonts/SUIT-Bold.otf)format("opentype")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),url(./fonts/Pretendard-Black.woff2)format("woff2"),url(/.fonts/Pretendard-Black.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),url(./fonts/Pretendard-ExtraBold.woff2)format("woff2"),url(./fonts/Pretendard-ExtraBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(./fonts/Pretendard-Bold.woff2)format("woff2"),url(./fonts/Pretendard-Bold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(./fonts/Pretendard-SemiBold.woff2)format("woff2"),url(./fonts/Pretendard-SemiBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),url(./fonts/Pretendard-Medium.woff2)format("woff2"),url(./fonts/Pretendard-Medium.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(./fonts/Pretendard-Regular.woff2)format("woff2"),url(./fonts/Pretendard-Regular.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),url(./fonts/Pretendard-Light.woff2)format("woff2"),url(./fonts/Pretendard-Light.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),url(./fonts/Pretendard-ExtraLight.woff2)format("woff2"),url(./fonts/Pretendard-ExtraLight.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),url(./fonts/Pretendard-Thin.woff2)format("woff2"),url(./fonts/Pretendard-Thin.woff)format("woff")
}

body {
    font-size: 16px;
    line-height: 1.25;
    font-family: "SUIT", sans-serif;
    color: #111;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    word-break: break-all;
}

#content {
    padding-bottom: 120px;
    padding: 30px 0 80px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}

.page-header.side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    position: inherit;
    text-align: center;
    padding-right: 0;
    margin-bottom: 40px;
}

.page-header.side .page-title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 600;
}

.page-header.side .location {
    margin-bottom: 0;
}

.location {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 1.7;
    color: #343434;
    margin-bottom: 20px;
}

.location .home {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/home.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.location a {
    position: relative;
    margin-right: 25px;
}

a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.location a:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/arrow.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    position: absolute;
    right: -18px;
    top: 50%;
    margin-top: -5px;
}



strong {
    font-weight: 600;
}


#content {
    padding-bottom: 120px;
    padding: 30px 0 80px;
}

.banner-write-review {
    border-radius: 20px;
    max-width: 1026px;
    margin: 0 auto;
    padding: 30px 40px 50px;
    background-color: #fff3e8;
}

.mb-3 {
    margin-bottom: 30px !important;
}

select, input, textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    border: 0;
    font-family: "SUIT", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 600;
    font-size: 15px;
    color: inherit;
}

.banner-write-review .title {
    justify-content: center;
    text-align: center;
    display: flex;
}

.reviewInfo {
    padding-left: 30px !important;
}

.mb-4 {
    margin-bottom: 40px !important;
}

.new-review-font {
    font-size: 2.2em !important;
}

.mb-20-15 {
    margin-bottom: 20px !important;
}

.mt-22-0 {
    margin-top: 22px !important;
}

.f-bold {
    font-weight: 600 !important;
}

.f2-title2--h2-20 {
    line-height: 1.56 !important;
}

.f2-h4-22--body1 {
    font-size: 1.5em;
    line-height: 1.45;
    margin-bottom: 16px;
}

.mt-5-5 {
    margin-bottom: 8px;
}

.f2-h4-14--body1 {
    font-size: 1.3em;
    margin-left: 5px;
    line-height: 1.35;
}

.mt-5-5 {
    margin-top: 5px !important;
}

.focus {
    color: #f0543a;
}

.banner-white-box {
    padding: 30px;
    flex-direction: row;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
}


.banner-white-box .detail-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 140px);

}

.banner-white-box .detail-item {
    font-size: 17px;
    display: flex;
    margin-bottom: 10px;
    line-height: 1.63;
}

#content > div.banner-write-review.mb-3 > div.banner-white-box > div.detail-wrapper > div:nth-child(1) > div.title {
    max-width: 200px;
    font-size: 20px;
}



.banner-write-review .title {
    justify-content: center;
    text-align: center;
    display: flex;
}

.text-l {
    justify-content: left !important;
}

.banner-white-box .detail-item .title {
    width: 100%;
    max-width: 60px;
    font-weight: 600;
}

.banner-white-box .detail-item .content {
    width: 100%;
}

.review-indent {
    color: #999;
}

.banner-white-box .detail-item .title {
    max-width: 4px;
    min-width: 16px;
    margin-right: 12px;
    width: 100%;
}

.btn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btn-type.v2, .v2.btn-type-sm, .kakao-plus-event-container .v2.open-url-btn {
    background: #3f4970;
    color: #fff;
}

.btn-wrap [class^=btn-type] {
    width: 100%;
}



.button-default, .btn-form, .btn-type2, .btn-type, .btn-type-sm, .kakao-plus-event-container .open-url-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 56px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    transition: background .2s ease;
}
.button-default, .btn-type, .kakao-plus-event-container .open-url-btn, .btn-type-sm, .btn-type2, .btn-form {
    max-width: 200px;
    height: 64px;
    font-size: 20px;
}
.btn-type.v2:hover, .v2.btn-type-sm:hover, .kakao-plus-event-container .v2.open-url-btn:hover {
    background: #293460;
}

.p-0 {
    padding: 0px !important;
}

.inner2 {
    max-width: 1026px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.divider--type7 {
    background-color: #e3e3e3;
    width: 100%;
    height: 1px;
    margin: 40px 0px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-center {
    align-items: center !important;
}

.flex {
    display: flex;
}

.f2-body1--body2 {
    line-height: 1.67 !important;
    font-size: 15px !important;
}

.ico-reset {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/reset.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.select-type3 {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
}


select, input, textarea {
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    border: 0;
    font-family: "SUIT", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 600;
    font-size: 15px;
    color: inherit;
}

.select-type3 .nice-select {
    font-size: 15px;
}

.select-type3 .nice-select {
    background: rgba(0, 0, 0, 0);
    font-size: 14px;
    display: inline-block;
    padding: 0;
    border: none;
    height: auto;
    line-height: 1.71;
    padding-right: 20px;
    min-width: 90px;
    text-align: right !important;
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    font-family: inherit;
    border: 1px solid #efefef;
    border-radius: 12px;
    color: #94949a;
    outline: 0;
    position: relative;
    transition: all .2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;
    font-weight: 600;

}.nice-select .list {
    background-color: #fff;
    border: 1px solid #efefef;
    border-top: none;
    border-radius: 0 0 12px 12px;
    box-sizing: content-box;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -1px;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: translateY(-21px);
    -ms-transform: translateY(-21px);
    transform: translateY(-21px);
    -webkit-transition: all .2s cubic-bezier(.5,0,0,1.25), opacity .15s ease-out;
    transition: all .2s cubic-bezier(.5,0,0,1.25), opacity .15s ease-out;
    z-index: 9;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    font-weight: 600;
}

.select-type3 .nice-select .list:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 12px;
    height: 6px;
    border-width: 6px 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0);
}

::before, ::after {
    box-sizing: border-box;
}

.select-type3 .nice-select .option.selected.focus {
    color: #f0543a;
}

.select-type3 .nice-select .option {
    font-size: 15px;
}

.nice-select .option {
    cursor: pointer;
    list-style: none;
    outline: 0;
    text-align: left;
    transition: all .2s;
}

.select-type3 .nice-select:after {
    width: 16px;
    height: 16px;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/arrow.svg);
    right: 0;
}
.nice-select.open:after {
    transform: rotate(-180deg);
}

.nice-select:after {
    content: "";
    display: block;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transition: all .15s ease-in-out;
}
.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}
.select-type3 .nice-select.open .list {
    transform: translateY(8px);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .2);
    background: #fff;
    padding: 10px 0;
}

.select-type3 .nice-select .list {
    overflow: unset;
    min-width: 100px;
    z-index: 11;
}

.select-type3 .selected+.nice-select .current {
    color: #94949a;
}

.select-type3 .nice-select {
    font-size: 15px;
}

.review-item-wrap .review-item {
    padding: 30px 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e3e3e3;
}

.review-item .review-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.justify-start-between {
    justify-content: flex-start !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.review-description .content {
    margin-top: 20px;
}

.review-description .content p {
    font-size: 15px;
    line-height: 1.67;
}

.pc-only {
    display: block;
}

.review-description .text-more {
    color: #c3c3c9;
    font-weight: 600;
}

.review-description .details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.layout-rc {
    flex-direction: row !important;
    display: flex;

}

.width-100 {
    width: 100% !important;
}

.mt-3 {
    margin-top: 30px !important;
}

.review-description .photo {
    position: relative;
    display: inline-flex;
    z-index: 1;
}

.review-description .photo .icon-photo {
    width: 100px;
    height: 100px;
    
}

.review-description .photo .icon-photo img {
    width: 100%;
    height: 100%;
}

img {
    border: 0;
    vertical-align: top;
}

.review-item .review-top .box {
    display: flex;
    align-items: center;
}

.mr-2 {
    margin-right: 20px !important;
}
.review-item .review-top [class^=star] {
    background-size: 100px 40px;
    background: url(https://qa.freet.co.kr/assets/images/icon/star-graph.png) no-repeat;
}

.review-item .review-top .star-grade {
    width: 100px;
    font-size: 0;
    text-indent: -999em;
}

.review-item .review-top .star-grade .star {
    height: 20px;
    display:block;
    background-position-y: 100%;
}

.review-item .review-top [class^=star] {
    background-size: 100px 40px;
}

.review-item .review-top .info {
    font-size: 16px;
    margin-left: 15px;
}

.review-item .review-top .info .date {
    margin-left: 10px;
    color: #94949a;
}

.review-item .review-top .tag-type3 {
    margin-left: 20px;
}

.tag-type3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ffebe8;
    height: 22px;
    padding: 0 6px;
    border-radius: 6px;
    color: #f0543a;
    font-size: 12px;
    font-weight: 600;
}

.flag-type {
    width: 44px;
    height: 24px;
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 6px;
}

.status-light {
    background-color: #664af1;
    margin-right: 4px;
    color: #fff;
}

.status-standard {
    background-color: #ec464d;
    margin-right: 4px;
    color: #fff;
}

.status-premium {
    background-color: #f251ab;
    margin-right: 4px;
    color: #fff;
}

.review-item {
    list-style: none; 
}

.ml-10-0 {
    margin-left: 10px !important;
}

.review-description .photo .icon-photo {
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.review-description .photo .icon-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 박스에 맞게 잘리더라도 비율을 유지하게 함 */
    object-position: center; /* 이미지의 중심을 기준으로 잘림 */
}
