@charset "UTF-8";@font-face {
    font-family: "SUIT";
    font-weight: 300;
    src: local("SUIT-Light"),url(./fonts/SUIT-Light.woff2)format("woff2"),url(./fonts/SUIT-Light.otf)format("wopentypeoff")
}

@font-face {
    font-family: "SUIT";
    font-weight: 400;
    src: local("SUIT-Regular"),url(./fonts/SUIT-Regular.woff2)format("woff2"),url(./fonts/SUIT-Regular.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 600;
    src: local("SUIT-SemiBold"),url(./fonts/SUIT-SemiBold.woff2)format("woff2"),url(/.fonts/SUIT-SemiBold.otf)format("opentype")
}

@font-face {
    font-family: "SUIT";
    font-weight: 700;
    src: local("SUIT-Bold"),url(./fonts/SUIT-Bold.woff2)format("woff2"),url(./fonts/SUIT-Bold.otf)format("opentype")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),url(./fonts/Pretendard-Black.woff2)format("woff2"),url(/.fonts/Pretendard-Black.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),url(./fonts/Pretendard-ExtraBold.woff2)format("woff2"),url(./fonts/Pretendard-ExtraBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),url(./fonts/Pretendard-Bold.woff2)format("woff2"),url(./fonts/Pretendard-Bold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),url(./fonts/Pretendard-SemiBold.woff2)format("woff2"),url(./fonts/Pretendard-SemiBold.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),url(./fonts/Pretendard-Medium.woff2)format("woff2"),url(./fonts/Pretendard-Medium.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),url(./fonts/Pretendard-Regular.woff2)format("woff2"),url(./fonts/Pretendard-Regular.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),url(./fonts/Pretendard-Light.woff2)format("woff2"),url(./fonts/Pretendard-Light.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),url(./fonts/Pretendard-ExtraLight.woff2)format("woff2"),url(./fonts/Pretendard-ExtraLight.woff)format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),url(./fonts/Pretendard-Thin.woff2)format("woff2"),url(./fonts/Pretendard-Thin.woff)format("woff")
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    word-break: break-all;
}

body {
    line-height: 1.25;
    font-family: "SUIT", sans-serif;
    font-size: 15px;
    color: #111;
}

#content.bottom {
    padding-bottom: 120px;
}

#content {
    padding: 30px 0 80px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}

.page-header.side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    position: inherit;
    text-align: center;
    padding-right: 0;
    margin-bottom: 40px;
}

.page-header.side .page-title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 600;
}

.page-header.side .location {
    margin-bottom: 0;
}

.location {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 1.7;
    color: #343434;
    margin-bottom: 20px;
}

.location .home {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/home.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.location a {
    position: relative;
    margin-right: 25px;
}

a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.location a:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/arrow.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    position: absolute;
    right: -18px;
    top: 50%;
    margin-top: -5px;
}

::before, ::after {
    box-sizing: border-box;
}

strong {
    font-weight: 600;
}

.section-mypage .content-wrap {
    flex-wrap: nowrap;
    display: flex;
}

.content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.my-chg-content .inner-box {
    text-align: unset;
    width: 100%;
    margin: unset;
}

.inner-box {
    max-width: 852px;
    margin: 0 auto;
    text-align: center;
}

.section-mypage .box-type2#my_info1_01 {
    padding: 30px 50px;
}

.box-type2 {
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    padding: 25px;
    border: 1px solid #e3e3e3;
}

.section-mypage .box-type2#my_info1_01 dl {
    align-items: flex-start;
    font-size: 16px;
    line-height: 1.63;
}

.box-type2 dl {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 15px;
    line-height: 1.6;
}

.section-mypage .box-type2#my_info1_01 dl dt {
    width: 210px;
}
.box-type2 dl dt {
    width: 110px;
    color: #94949a;
}

.section-mypage .box-type2#my_info1_01 dl dd {
    width: calc(100% - 210px);
    font-weight: 400;
}

.section-mypage .box-type2#my_info1_01 dl+dl {
    margin-top: 20px;
}

.section-mypage .box-type2#my_info1_01 dl {
    align-items: flex-start;
    font-size: 16px;
    line-height: 1.63;
}

.section-mypage .my-page-button {
    background: unset;
    text-align: center;
}

.btn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.btn-wrap [class^=btn-type] {
    width: 100%;
}



.btn-type, .btn-type-sm, .kakao-plus-event-container .open-url-btn {
    background: #f0543a;
    color: #fff;
}

.button-default, .btn-form, .btn-type2, .btn-type, .btn-type-sm, .kakao-plus-event-container .open-url-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 56px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    transition: background .2s ease;
}
.button-default, .btn-type, .kakao-plus-event-container .open-url-btn, .btn-type-sm, .btn-type2, .btn-form {
    max-width: 200px;
    height: 64px;
    font-size: 20px;
}

button {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    font-family: "SUIT", sans-serif;
    color: inherit;
}

.section-mypage .content-wrap .lnb {
    width: 243px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.lnb .my-member-info {
    margin: 0 0 20px;
    position: relative;
    overflow: hidden;
}

.lnb .my-member-info .info-select-box {
    padding: 15px 25px 20px;
    flex-wrap: wrap;
    background: #f4f4f4;
    border-radius: 20px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: 1px solid #f4f4f4;
}

.lnb .my-member-info .info-select-box.v2 .icon-box {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.ico-call5 {
    display: inline-block;
    width: 30px;
    height: 32px;
    vertical-align: middle;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/call5.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

address, caption, em, i, var {
    font-style: normal;
    font-weight: inherit;
}

.lnb .my-member-info .info-select-box.v2 .text-box {
    width: auto;
    padding-left: 0;
    display: inline;
}

.lnb .my-member-info .info-select-box.v2 .text-box .tit {
    font-size: 14px;
}

.lnb .my-member-info .info-select-box.v2 .text-box .desc {
    margin-top: 20px;
    padding-right: 20px;
}

.lnb .my-member-info .info-select-box .desc {
    font-size: 14px;
    color: #343434;
    line-height: 1.71;
}

.lnb .my-member-info .info-select-box .btn-wrap {
    margin-top: 15px;
    width: 100%;
}

.lnb .my-member-info .info-select-box .btn-wrap .btn-type {
    height: 50px;
    max-width: 100%;
    font-size: 15px;
}

.btn-type.v2, .v2.btn-type-sm, .kakao-plus-event-container .v2.open-url-btn {
    background: #3f4970;
}

.lnb .my-member-info .info-select-box.v2 {
    display: block;
}

.lnb .my-member-info .info-select-box {
    padding: 15px 25px 20px;
    flex-wrap: wrap;
}

.lnb-list {
    display: block;
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    padding: 0 25px;
}

ul {
    list-style: none;
}

.lnb-list .depth>li+li {
    border-top: 1px solid #e3e3e3;
}

.lnb-list .depth>li>a {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.63;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lnb-list .depth2 {
    display: none;
    padding-bottom: 20px;
}

.lnb-list .depth>li>a:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/plus.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.lnb-list .depth2 {
    display: none;
    padding-bottom: 20px;
}

.lnb-list .depth>li>a.active:after {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(https://qa.freet.co.kr/assets/images/icon/minus.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.lnb-list .depth2>li+li {
    margin-top: 8px;
}

.lnb-list .depth2>li a {
    font-size: 15px;
    line-height: 1.67;
    color: #343434;
}

.lnb-list .depth2>li a:hover, .lnb-list .depth2>li a.active {
    color: #f0543a;
}

.lnb-list {
    display: block;
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    padding: 0 25px;
}

.section-mypage .content-wrap .lnb {
    width: 243px;
}

.btn-type:hover, .btn-type-sm:hover, .kakao-plus-event-container .open-url-btn:hover {
    background: #e2391d;
}

.btn-type.v2:hover, .v2.btn-type-sm:hover, .kakao-plus-event-container .v2.open-url-btn:hover {
    background: #293460;
}

body {
    font-size: 16px;
}

ul.depth2 {
    display: none; /* 기본적으로 숨김 */
    overflow: hidden;
    transition: 0.2s ease-out; /* 스르륵 열리는 애니메이션 */
}